{% block header %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% block head %}
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block title %}		<title></title> {% endblock %}
		<meta name='title' content=''/>
		<meta name='description' content=''/>

		<meta name="author" content=""/>
		<meta name="language" content="spanish"/>
		<meta name="revisit" content="10 day"/>
		<meta name="distribution" content="global"/>

		<meta name="robots" content="All"/>
		<meta http-equiv="pragma" content="no-cache"/>
		<meta http-equiv="expires" content="-1"/>		
        <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/estilo.css" type="text/css" media="screen" />
		
  	    <script type="text/javascript" src="/js/jquery.js"></script>


	<!-- Explicacion de Canon -->
		<link rel="stylesheet" type="text/css"
href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
		<script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
		<script type="text/javascript"
src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
			
	
		<script>			
			$.fx.speeds._default = 1000;
			$(function() {
				$( "#dialog" ).dialog({
					autoOpen: false,
					show: "blind",
					hide: "blind",
					width: 600
				});
		
				$( "#opener" ).click(function() {
					$( "#dialog" ).dialog( "open" );
					return false;
				});
			});
		</script>


	<!-- Explicacion de Canon -->
		
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27832804-1']);
  _gaq.push(['_setDomainName', 'codexdelamarca.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>       		


	</head>
    {% endblock %}
{% endblock %}

<body>
<div id="contenedor">
		{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
					<li><a href="/" class="seleccion">El Codex</a></li>	
					<li><a href="/character">Personajes</a></li>
					<li><a href="/creature">Bestiario</a></li>	
					<li><a href="/location">Lugares</a></li>
					<li><a href="/object">Objetos</a></li>	
					<li><a href="/adventure">Aventuras</a></li>	
					<li><a href="/chronicle">Crónicas</a></li>
                                            <li><a href="/spell" >Conjuros</a></li>
					<li><a href="/rule" >Reglas</a></li>
					<li><a href="/fanart" >Fan Art</a></li>
					<li><a href="/send_info">Enviar info</a></li>	
					<li><a href="/contact">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			{% endblock %}
			
			{% block simplesearch %}
			<div id="busqueda-simple">
				<div id="form-busqueda-simple">
				<form action="/search/" method='get'>
					<select name="option">
						<option value="all">Todo</option>
						<option value="character">Personaje</option>
						<option value="creature">Bestiario</option>
						<option value="location">Lugar</option>
						<option value="object">Objeto</option>
						<option value="adventure">Aventura</option>
						<option value="chronicle">Crónica</option>
						<option value="spell">Conjuro</option>
						<option value="rule">Regla</option>
						<option value="fanart">FanArt</option>
					</select>
					
					<input class="barra_busqueda" type="text" name="searchterm" value="" />
					
					<input class="boton_buscar" type="submit" value="Buscar" />
				</form>
				</div>
				<div id="ir-busqueda-avanzada"><a href="/advancedsearch">Búsqueda<br/>avanzada</a></div>
			</div><!-- fin busqueda-simple -->
			
			
			
		</div><!-- fin cabecera -->
		
		{% endblock %}

		{% block leftcontent %}
		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="#">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Personaje</a></div>
				
				<h1>{{object.name}}</h1>
				<p>{{object.description|safe}}
				</p>
				<h2>Características:</h2>
				
				<div class="lista3columnas">
					<ul>
						<li><b>FUERZA:</b>
						  {% if object.strengthstat %}
						  {{object.strengthstat}}
						  {% else %}-
						  {% endif %}
						</li>
						<li><b>CONSTITUCIÓN:</b>
						  {% if object.constitutionstat %}
						  {{object.constitutionstat}}
						  {% else %}-
						  {% endif %}
						</li>
						<li><b>SABIDURÍA:</b>
						  {% if object.wisdomstat %}
						  {{object.wisdomstat}}
						  {% else %}-
						  {% endif %}
						  </li>
						<li><b>DESTREZA:</b>
						   {% if object.dexteritystat %}
						  {{object.dexteritystat}}
						  {% else %}-
						  {% endif %}
						  </li>
						<li><b>INTELIGENCIA:</b>
						  {% if object.intelligencestat %}
						  {{object.intelligencestat}}
						  {% else %}-
						  {% endif %}
						  </li>
						<li><b>CARISMA:</b>
						  {% if object.charismastat %}
						  {{object.charismastat}}
						  {% else %}-
						  {% endif %}
						</li>
	        		</ul>
				
				</div><!-- fin caract-->
				
				
				
				<h2>Detalles:</h2>

				<div class="lista3columnas" id="list-detalle">
					<ul>
						<li><b>Sexo:</b> {{object.get_gender_display}}</li>
						<li><b>Nivel:</b> {{object.level}}</li>
						<li><b>Aparición:</b> {{object.startdate}}</li>
						<li><b>Edad:</b> {{object.age}}</li>
						<li><b>CA:</b> {{object.AC}}</li>
						<li><b>Estado:</b> {{object.get_status_display}}</li>
						<li><b>Especie:</b> {{object.species}}	</li>
						<li><b>Movimiento:</b> {{object.move}}</li>
						<li><b>Tipo:</b> {{object.get_pncorpc_display}}</li>
						
						<li><b>Clase:</b> {{object.get_profession_display}}</li>
						<li><b>Moral:</b> {{object.moral}}</li>
						<li><b>Idiomas:</b>
						  {% for language in object.languages.all %}
						  {{language.name }},
						  {% endfor %}
						</li>
						<li><b>TS:</b> {{object.get_saveroll_display}}</li>
						<li><b>Alineamiento:</b> {{object.get_alignment_display}}	</li>
						<li><b>Religión:</b>
						  {% for religion in object.religion.all %}
						  {{religion.name }},
						  {% endfor %}
						</li>
						<li><b>Puntos de golpe:</b> {{object.hitpoints}}</li>
						<li style="width: 300px"><b>Lugares:</b>
						  {% for rlocation in object.relatedlocation.all %}
                                                  {{rlocation.name }},
                                                  {% endfor %}
						  </li>
						</ul>
				</div><!-- fin caract-->
				
				
				<h2>Ataques: <span>(Entre parentesis el daño)</span></h2>

				<p>{{object.weapons|safe}}</p>
                {% if object.comments %}

				<h2>Nota del autor:</h2>

				<p>
					{{object.comments}}

				</p>
				{% endif %}
				

			</div><!-- fin columna-izq -->
{% endblock %}
{% block canonlightbox %}					
			<div id="columna-der">
				<div id="canon">
					<div id="nivel-canon">Nivel de Canon</div>				
					<div id="ima-canon"><img src="/ima/canon/canon-{{object.get_canon_level_display}}.jpg" alt="icono" height="68px" width="68px"/></div>				


<div id="denominacion-canon"> {{object.get_canon_level_display}} <div id="que"><button
id="opener" >¿Qué es esto?</button><!-- <a href="#">¿Qué es
esto?</a>--></div></div>
										
	<div id="dialog" title="Nivel de Canon" style="font-family: Georgia;">
		<p style="font-size: 12px"> <img src="/ima/dialogocanon/sellooro.png"
alt="icono" height="68px" width="68px" style="float: left;
margin-right: 10px"/>
		<span style="font-size: 18px">Canon</span>
		<br/>  Representa contenido de referencia oficial en La Marca del Este y puede ser empleado como tal en aventuras, relatos u obras artísticas. De este contenido responde, en último término, el equipo de autores de La Marca del Este.
		</p>
						
		<p style="font-size: 12px"> <img
src="/ima/dialogocanon/selloplata.png" alt="icono" height="68px"
width="68px" style="float: left; margin-right: 10px"/>
		<span style="font-size: 18px">Apócrifo</span>
		<br/>  Representa contenido que, tras un análisis, es perfectamente válido para ser publicado en el Codex de La Marca pero incumple alguna condición para ser considerado parte del canon. Usualmente, un contenido pasa a ser Aprócrifo cuando no hay un interés particular en dedicar el tiempo en hacerlo consonante con el corpus oficial. Con el tiempo, un contenido Apócrifo puede volver a pasar a un estado de "En estudio" si la circunstancias cambian o el contenido es revisado.
		</p>


		<p style="font-size: 12px"> <img
src="/ima/dialogocanon/sello-nuevo.png" alt="icono" height="68px"
width="68px" style="float: left; margin-right: 10px"/>
		<span style="font-size: 18px">Nuevo</span>
		<br/>  Representa contenido recién dado de alta y que no ha sido aún analizado de ninguna forma. El objetivo del Codex de La Marca es que éste sea un estado de corta duración en todos los casos.
		</p>

		<p style="font-size: 12px"> <img
src="/ima/dialogocanon/sello-nuevo.png" alt="icono" height="68px"
width="68px" style="float: left; margin-right: 10px"/>
		<span style="font-size: 18px">En estudio</span>
		<br/>  Representa un estado transitorio entre Nuevo y Canon/Apócrifo. El estudio sobre su adecuación o no al canon lo realizan los autores de La Marca del Este y pueden requerir de información complementaria al autor del contenido para resolver cualquier duda sobre su origen o sugerir algún cambio para poder adoptarlo como canon.
		</p>
	</div>			
</div><!-- fin canon -->

{% endblock %}
{% block rightcontent %}
				<div id="expo-ima">
					  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<a href="#"><img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/></a>
						
				</div>
					<!--
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
				<div id="firma-ima">
					<b>Autor de la ilustración</b>: {{image.author.all}} <a href="{{image.author.web_url}}">{{image.author.web_url}}</a>
				</div><!-- fin expo-ima -->
					{% endif %}




				{% endfor %}
				
				<h2>Equipo especial:</h2>
				
				<div class="lista2columnas">
					<ul>
					  {% for relatedobject in object.relatedobject.all %}
					  {% if relatedobject.rarity != "C" %}

						<li>{{relatedobject.name}}</li>
					{% endif %}
					{% endfor %}

					</ul>
				</div><!-- fin lista2columnas-->
				
				
				<h2>Equipo:</h2>
				<p>
					  {% for relatedobject in object.relatedobject.all %}
					  {% if relatedobject.rarity == "C" %}

						{{relatedobject.name}},
					{% endif %}
					{% endfor %}
				</p>
				
				<h2>Dinero y gemas:</h2>
				<p>
						  {% if object.treasurevalue %}
						  {{object.treasurevalue}}
						  {% else %}-
						  {% endif %}
				</p>
				
			
				<h2>Aliados y familiares:</h2>
				<div class="lista2columnas">
					<ul>
					  {% for relation in relatedcharacters2 %}
					  {% if relation.relation21 in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEE" %}
						<li>{{relation.get_relation21_display}} de <a href="/character/{{relation.character1.slug}}">{{relation.character1.name}}</a></li>
						{% endif %}
					{% endfor %}
	 				 {% for relation in relatedcharacters1 %}
					  	{% if relation.relation21 in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEE" %}
						<li>{{relation.get_relation12_display}} de <a href="/character/{{relation.character2.slug}}">{{relation.character2.name}}</a></li>
						{% endif %}

					{% endfor %}
						
					
					</ul>
				</div><!-- fin lista2columnas-->
				
				<h2>Enemigos:</h2>
				<div class="lista2columnas">
					<ul>
					  {% for relation in relatedcharacters2 %}
					  {% if relation.relation21 not in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEE" %}
						<li>{{relation.get_relation21_display}} de <a href="/character/{{relation.character1.slug}}">{{relation.character1.name}}</a></li>
						{% endif %}
					{% endfor %}
					  {% for relation in relatedcharacters1 %}
					  	{% if relation.relation21 not in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEE" %}
						<li>{{relation.get_relation12_display}} de <a href="/character/{{relation.character2.slug}}">{{relation.character2.name}}</a></li>
						{% endif %}

					{% endfor %}
						
					</ul>
				</div><!-- fin lista2columnas-->
				
{% endblock %}





{% block attachments %}			
				{% if object.attachments.all %}
				<div class="resaltado">Material de descarga:</div>				
				<div class="resaltado-cont">
                    {% for attach in object.attachments.all %}
					<p>
						<b>{{attach.name}}:</b> {{attach.description|default:""}} <a href="{{ MEDIA_URL }}{{attach.content.name}}">Descargar</a>.
					</p>
                    {% endfor %}

				</div>
                {% endif %}

{% endblock %}	

{% block about %}			
				
				<div class="resaltado">Sobre el artículo:</div>				
				<div class="resaltado-cont">
					<p>
						<b>Fecha de creación:</b> {{object.creation_date.date}}
					</p>
					<p>
						<b>Última actualización:</b> {{object.last_updated.date}}
					</p>
					<p>
						<b>Autores:</b>
                    {% for author in object.author.all %}
                    {% if forloop.revcounter != 1 %}

                     {% if forloop.first %}

                     {{author.name}}{% if author.url %} - <a href="{{author.url}}">{{author.url}}</a>{% endif %}
                     {% endif %}
                     {% if forloop.last %}
                     y {{author.name}}{% if author.url %} - <a href="{{author.url}}">{{author.url}}</a>{% endif %}
                     {% endif %}
                     {% if not forloop.last and not forloop.first %}
                    , {{author.name}}{% if author.url %} - <a href="{{author.url}}">{{author.url}}</a>{% endif %}
                     {% endif %}

                    {% else %}
                     {{author.name}}{% if author.url %} - <a href="{{author.url}}">{{author.url}}</a>{% endif %}
                    {% endif %}
                    {% endfor %}


					</p>
				</div>
{% endblock %}		

{% block tagrelated %}	
                {% if relatedobjectsbytags.characters or relatedobjectsbytags.objects or relatedobjectsbytags.locations or relatedobjectsbytags.adventures or relatedobjectsbytags.chronicles %}
				<div class="resaltado">Lecturas relacionadas:</div>
				<div class="resaltado-cont">
				{% for char in relatedobjectsbytags.characters %}
					  <p>
						<img src="/ima/ico-personajes.png" alt="personajes"/>
 <a href="/character/{{char.slug}}">{{char.name}}.</a>
					  </p>
					  {% endfor %}
					  {% for obj in relatedobjectsbytags.objects %}
                        {% if object.rarity != "C" and obj.rarity != "C" %}
					  <p>
						<img src="/ima/ico-objetos.png" alt="objeto"/> <a href="/object/{{obj.slug}}">{{obj.name}}.</a>
					  </p>
                        {% endif %}
					  {% endfor %}
					  {% for loc in relatedobjectsbytags.locations %}
					  <p>
						<img src="/ima/ico-lugar.png" alt="lugar"/> <a href="/location/{{loc.slug}}">{{loc.name}}.</a>
					  </p>
					  {% endfor %}
                        {% for adv in relatedobjectsbytags.adventures %}
                       <p>
						<img src="/ima/ico-aventura.png" alt="aventura" /> <a href="/adventure/{{adv.slug}}">{{adv.name}}.</a>
					  </p>
					  {% endfor %}

                        {% for chr in relatedobjectsbytags.chronicles %}
                       <p>
						<img src="/ima/ico-cronica.png" alt="cronica" /> <a href="/chronicle/{{chr.slug}}">{{chr.name}}.</a>
					  </p>
					  {% endfor %}


				</div>	
				
			
			{% endif %}
</div><!-- fin columna-dcha_portada -->
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
{% endblock %}
		
		{% block footer %}
		<div id="pie">
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://codexdelamarca.com/css/estilo.css">CSS</a>
					<br/><br/>

					<span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica - Diseño: <a href="http://jagvalverde.com/">Jose Valverde</a></span>

				</div><!-- fin validaciones -->
		</div><!-- fin pie -->

		{% endblock %}
{% block ending %}

	</div><!-- fin contenedor -->
</body>
</html>		
{% endblock %}
