{% extends "basebasic.html" %}
{% block title %}
    <title>Codex de la Marca del Este - Generador de Encuentros</title>
    {% endblock %}
        
        {% block content %}

        <div id="contenido" >
            <div id="contenido-listados" >          
            <div id="columna-der-listados">

                <div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/encounter">Encuentros<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div> 

                <div id="central">
                <form action="/encounter">   

                        <div id="generador-encuentros">
                            <p>Te presentamos el generador de encuentros de Aventuras en La Marca del Este. En su versión preliminar, permite introducir la suma de niveles de los AJs, un nivel de dificultad, el criterio de canon y el alineamiento aceptado para las criaturas del encuentro. Se trata de una herramienta perfecta para los Dungeon Masters que quieran introducir cierta sorpresa en las aventuras de sus jugadores. En breve, incorporaremos un selector de terrenos o zonas (cueva, desierto, bosque, camino, asentamiento, etc) y tendremos en cuenta las relaciones de liderazgo entre criaturas (Orco y Jefe Orco, por ejemplo). A medio plazo, está previsto también un generador de tesoros.</p>

                            <div style="clear: both">&nbsp;</div>

                                        <h2 class="titulo-formulario-avanzado" >            
                                            Suma nivel AJs: 
                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">
                                        <input style="padding: 5px 5px; font-size:16px;width:110px;"
                                            {% if form.players_level %}
                                                value = {{form.players_level}}
                                            {% else %}
                                                 value = 10
                                            {% endif %}
                                            type="text" name="players_level" />
                                        </div>


                                        <h2 class="titulo-formulario-avanzado">         
                                        Dificultad:                     
                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">
                                            <select  name="chosen_difficulty">
                                            <option value="0" {% if form.chosen_difficulty == '0' %}selected{% endif %}>Fácil</option>
                                            <option value="1" {% if form.chosen_difficulty == '1' %}selected{% endif %}>Normal</option>
                                            <option value="2" {% if form.chosen_difficulty == '2' %}selected{% endif %}>Difícil</option>
                                            <option value="3" {% if form.chosen_difficulty == '3' %}selected{% endif %}>Épico</option>
                                             </select> 
                                        </div>

                                        <div style="clear: both">&nbsp;</div>             

                                        <h2 class="titulo-formulario-avanzado">         
                                        Evaluación:                     
                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">
                                            <select  name="canon">
                                              <option value="ALL" {% if form.canon == 'ALL' %}selected{% endif %}>Cualquiera</option>
                                              <option value="C" {% if form.canon == 'C' %}selected{% endif %}>Canon</option>
                                              <option value="AP" {% if form.canon == 'AP' %}selected{% endif %}>Apócrifo</option>
                                              <option value="APC" {% if form.canon == 'APC' %}selected{% endif %}>En Estudio</option>
                                              <option value="NEW" {% if form.canon == 'NEW' %}selected{% endif %}>Nuevo</option>
                                             </select> 
                                        </div>

                                        <h2 class="titulo-formulario-avanzado">         
                                        Alineamiento:                       
                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">
                                            <select name="align">
                                              <option value="ALL" {% if form.align == 'ALL' %}selected{% endif %}>Todos</option>
                                              <option value="L" {% if form.align == 'L' %}selected{% endif %}>Legal</option>
                                              <option value="N" {% if form.align == 'N' %}selected{% endif %}>Neutral</option>
                                              <option value="C" {% if form.align == 'C' %}selected{% endif %}>Caótico</option>
                                             </select> 
                                        </div>



                                     <div style="clear: both">&nbsp;</div>
                    </div>  

                    <div style="clear: both; text-align: center; width:820px; ">
                        <input class="boton_buscar" type="submit" value="Generar encuentro" style="font-size: 22px;height: 38px;"/>
                    </div>                   

                    </form>                    


                    <div style="clear: both"><br/>&nbsp;</div>
                    </div><!-- fin central -->
                    </div><!-- fin columna-der-listados -->   

                    <div id="resultado-generador">

                       <div class="para-impresion">
                           <h1>Codex de la marca del Este</h1>
                          <a href="http://codexdelamarca.com">URL:</a>
                        </div>

                            <h2>Encuentro generado </h2>
                            
                            {% if numcreatures %}
                                {% if leader %}
                                <h3>{{ leader.name }} (líder)  [<a href="/creature/{{leader.slug}}">+ info</a>] </h3>
                                <p><b>DG</b>: {{leader.hitdice|default:"--"}} - <b>CA</b>: {{leader.AC|default:"--"}} - <b>TS</b>: {{leader.get_saveroll_display|default_if_none:"--"}} - <b>Mov</b>: {{leader.move|default:"--"}} - <b>Moral</b>: {{leader.get_moral_display|default_if_none:"--"}} - <b>Alineamiento</b>: {{leader.get_alignment_display|default_if_none:"--"}} - <b>Px</b>: {{leader.XPvalue|default_if_none:"--"}}  </p>  
                                    {% if leader.attacks %}             
                                    <p><b>Ataque</b>: {{leader.attacks|safe}}  </p> 
                                    {% endif %}
                                    <p>
                                    {{leader.description|safe}}
                                    </p>
                                {% endif %}
                                <h3>{{ encounter.name }}  [<a href="/creature/{{encounter.slug}}">+ info</a>] </h3>
                                <p><b>Número</b>: {{numcreatures}} </p>
                                <p><b>DG</b>: {{encounter.hitdice|default:"--"}} - <b>CA</b>: {{encounter.AC|default:"--"}} - <b>TS</b>: {{encounter.get_saveroll_display|default_if_none:"--"}} - <b>Mov</b>: {{encounter.move|default:"--"}} - <b>Moral</b>: {{encounter.get_moral_display|default_if_none:"--"}} - <b>Alineamiento</b>: {{encounter.get_alignment_display|default_if_none:"--"}} - <b>Px</b>: {{encounter.XPvalue|default_if_none:"--"}}  </p>  
                                    {% if encounter.attacks %}             
                                    <p><b>Ataque</b>: {{encounter.attacks|safe}}  </p> 
                                    {% endif %}
                                <p>
                                {{encounter.description|safe}}
                                </p>
                            {% else %}
                            <p>No hay encuentro, los aventureros pueden vivir unas horas más.</p>
                            <p>...o revisa tus criterios de selección.</p>
                            {% endif %}
                            
<!--  Pendiente-->
<!--                          <h2> Tesoro </h2> 

                           <h3>Tesoro total: 4000 mo</h3>-->

                           <div style="clear: both; text-align: center;  ">

                        <input class="boton_buscar" type="submit" value="imprimir" style="font-size: 22px;height: 38px;" onclick="window.print();"/>

                    </div>

                       </div>       

                

                  

            </div><!-- fin contenido-articulos -->

        </div><!-- fin contenido -->
        
        <div id="pie">
        <div id="validaciones"> 
        Aventuras de la Marca del este 2011 - Validación: <a
        href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a
        href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
        <br/><br/>
        <span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
        Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica     - Diseño: <a
        href="http://jagvalverde.com/">Jose Valverde</a></span>
        </div><!-- fin validaciones -->
        </div><!-- fin pie -->
        </div><!-- fin contenedor -->
        {% endblock %}  

        
