{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - 404 - No Encontrado</title>
{% endblock %}
{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
			<div id="volver"><span><a href="#">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span>No encontrado</a></div> 
				
				<div id="central">				
					<div class="formulario-avanzado-2-columnas" style="width: 800px;text-align: center">
					<h2>Lo sentimos, no hay tesoros en esta Mazmorra.</h2> 
					<br/> 
					<img src="/ima/404.jpg" alt="Nada por aquí." />
					<br/> 
					</div>					
					<div style="clear: both"></div>
					<div style="clear: both"></div>
					<div style="clear: both"></div>
					<div style="clear:all;float:none; width:850px;">
			  <br /><br />
	</div> 				
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
		

		<div id="pie">
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a
href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a
href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
					<br/><br/>
					<span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica	 - Diseño: <a
href="http://jagvalverde.com/">Jose Valverde</a></span>
				</div><!-- fin validaciones -->
		</div><!-- fin pie -->
	</div><!-- fin contenedor -->
{% endblock %}		
