{% extends "basebasic.html" %}
{% block title %}
<title>East Mark Codex - 500 - System Error</title>
{% endblock %}


{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span>Internal Error</div> 
				
				<div id="central">
				
                <p>Sorry, we rolled a fumble and an internal error ocurred. We are looking into the fumbles table to see what might have happened.</p>
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		

{% endblock %}		
