{% extends "basebasic.html" %}
{% block title %}
<title>East Mark Codex - Advanced search</title>
{% endblock %}
{% block navigation %}
<div id="cabecera">
    <div id="menu">
    <ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character">Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
    </ul>
    </div><!-- fin menu -->

    <div id="logo">
    <a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures in the East Mark Codex." /></a>
    </div><!-- fin logo -->

    <div id="slogan">
    A compilation of the knowledge of the East Mark.
    </div><!-- fin slogan -->
{% endblock %}

{% block content %}
<div id="contenido" >
    <div id="contenido-listados" >
    <div id="columna-der-listados">
    <div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Advanced search <!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div>

    <div id="central">

    <div style="clear: both"></div>
    <div id="usual1" class="usual">
    <ul>
    <li><a class="selected" href="#todo">All</a></li>
    <li><a href="#personaje"><img alt="personajes" src="/ima/ico-personajes.png"/> Character</a></li>
    <li><a href="#bestiario"><img alt="bestiario" src="/ima/ico-bestiario.png"/> Bestiary</a></li>
    <li><a href="#lugar"><img alt="lugar" src="/ima/ico-lugar.png"/> Location</a></li>
    <li><a href="#objetos"><img alt="objeto" src="/ima/ico-objetos.png"/> Object</a></li>
    <li><a href="#aventura"><img alt="aventura" src="/ima/ico-aventura.png"/> Adventure</a></li>
    <li><a href="#cronica"><img alt="cronica" src="/ima/ico-cronica.png"/> Chronicle</a></li>
    <li><a href="#conjuro"><img alt="conjuro" src="/ima/ico-conjuros.png"/> Spell</a></li>
    <li><a href="#regla"><img alt="regla" src="/ima/ico-regla.png"/> Rule</a></li>
    <li><a href="#fanart"><img alt="fanart" src="/ima/ico-fanart.png"/> Fan Art</a></li>
    </ul>
    <div style="clear: both"></div>

    <!-- ALL -->
    <div id="todo">
    <form action="/resadvancedsearch/" METHOD=GET>
        <input type="hidden" name="option" value="ALL">
        <h2 class="titulo-formulario-avanzado">
        Canon level:
        </h2>
        <div class="formulario-avanzado-2-columnas" >
        <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
        </select>
        </div>

        <div style="clear: both"></div>

        <h2 class="titulo-formulario-avanzado" >
        Keywords:
        </h2>
        <div class="formulario-avanzado" >
        <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
        </div>


        <div style="clear: both"></div>
        <div style="clear: both; text-align: center">
        <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
        </div>

    </form>

    </div>

    <!-- END ALL -->

    <!-- CHARACTER -->

    <div id="personaje">
    <form action="/resadvancedsearch/" METHOD=GET>
    <h2 class="titulo-formulario-avanzado" >
    Species:
    </h2>
    <input type="hidden" name="option" value="character">
    <div class="formulario-avanzado-2-columnas">
    <select name="char_species">
        <option value="ALL">All</option>
        {% for specie in SPECIES_CHOICES %}
        <option value={{specie.0}}>{{specie.1}}</option>
        {% endfor %}
    </select>
    </div>

     <h2 class="titulo-formulario-avanzado" >
    Level:
    </h2>
    <div class="formulario-avanzado-2-columnas">
    <select name="char_minlevel">
        <option value="ALL">All</option>
        {% for level in LEVEL_CHOICES %}
        <option value={{level.0}}>{{level.1}}</option>
        {% endfor %}
    </select>
    </div>
    <div style="clear: both"></div>
    <h2 class="titulo-formulario-avanzado">
    Class:
    </h2>
    <div class="formulario-avanzado-2-columnas">
    <select name="char_profession">
        <option value="ALL">All</option>
        {% for profession in PROFESSION_CHOICES %}
        <option value={{profession.0}}>{{profession.1}}</option>
        {% endfor %}
    </select>
    </div>

    <h2 class="titulo-formulario-avanzado">
    Alignment:
    </h2>
    <div class="formulario-avanzado-2-columnas">
    <select name="char_alignment">
        <option value="ALL">All</option>
        {% for align in ALIGN_CHOICES %}
        <option value={{align.0}}>{{align.1}}</option>
        {% endfor %}
    </select>
    </div>
    <div style="clear: both"></div>
    <h2 class="titulo-formulario-avanzado">
    Locations:
    </h2>
    <div class="formulario-avanzado-1-columnas">
    <select name="char_location">
        <option value="ALL">All</option>
        {% for location in locations %}
        <option value="{{location.id}}">{{location.name}}</option>
        {% endfor %}
    </select>
    </div>

    <h2 class="titulo-formulario-avanzado">
    Canon level:
    </h2>
    <div class="formulario-avanzado-2-columnas" >
    <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
    </select>
    </div>

    <div style="clear: both"></div>

    <h2 class="titulo-formulario-avanzado" >
    Keywords:
    </h2>
    <div class="formulario-avanzado" >
    <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
    </div>


    <div style="clear: both"></div>
    <div style="clear: both; text-align: center">
    <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
    </div>

    </form>

    </div>

    <!-- END CHARACTER -->


   <div id="bestiario">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado" >
    Min XP Value:
  </h2>
                                        <input type="hidden" name="option" value="creature">
  <div class="formulario-avanzado-2-columnas">
                                        <input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_minpx" />
  </div>

  <h2 class="titulo-formulario-avanzado" >
    AC:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_ac" />
  </div>
  <div style="clear: both"></div>
  <h2 class="titulo-formulario-avanzado">
  HD:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_hitdice" />
  </div>

  <h2 class="titulo-formulario-avanzado">
  Alignment:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="crea_alignment">
       <option value="ALL">All</option>
                                              {% for align in CRE_ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>
  <div style="clear: both"></div>
  <h2 class="titulo-formulario-avanzado">
  Locations:
  </h2>
  <div class="formulario-avanzado-1-columnas">
    <select name="crea_location">
      <option value="ALL">All</option>
                                              {% for location in locations %}
      <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
     </select>
  </div>
                        <h2 class="titulo-formulario-avanzado">
       Canon level:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Keywords:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>

   </div>

   <div id="lugar">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado">
  Type:
  </h2>
                                        <input type="hidden" name="option" value="location">
  <div class="formulario-avanzado-2-columnas">
    <select name="loc_type">
                                            <option value="ALL">All</option>
    {% for align in LOC_TYPE_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado">
  Status:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="loc_status">
                                                <option value="ALL">All</option>
     {% for align in LOC_STATUS_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado">
  Alignment:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="loc_alignment">
                                                <option value="ALL">All</option>
      {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>
                        <h2 class="titulo-formulario-avanzado">
       Canon level:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Keywords:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>


   </div>

   <div id="objetos">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado" >
    Type:
  </h2>
                                        <input type="hidden" name="option" value="object">
  <div class="formulario-avanzado-2-columnas">
    <select name="obj_type">
      <option value="ALL">All</option>
       {% for align in OBJ_TYPE_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado" >
    Rarity:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="obj_rarity">
      <option value="ALL">All</option>
       {% for align in OBJ_RARITY_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>
  <div style="clear: both"></div>
  <h2 class="titulo-formulario-avanzado">
  Alignment:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="obj_alignment">
      <option value="ALL">All</option>
      {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado">
  Status:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="obj_status">
      <option value="ALL">All</option>
       {% for align in OBJ_STATUS_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>
  <!--<h2 class="titulo-formulario-avanzado">
  Lugares:
  </h2>
  <div class="formulario-avanzado-1-columnas">
    <select name="obj_location">
      <option value="ALL">Todas</option>
                                              {% for location in locations %}
      <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
     </select>
  </div>-->
                        <h2 class="titulo-formulario-avanzado">
       Canon level:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Keywords:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>
   </div>

   <div id="aventura">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado" >
    Level:
  </h2>
                                        <input type="hidden" name="option" value="adventure">
  <div class="formulario-avanzado-2-columnas">
    <select name="adv_level">
      <option value="ALL">All</option>
                                                {% for i in highnum %}
      <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado" >
    Num players:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="adv_numplayers">
      <option value="ALL">All</option>
       {% for i in lownum %}
      <option value="{{i}}">{{i}}</option>
     {% endfor %}
     </select>
  </div>
  <div style="clear: both"></div>
  <h2 class="titulo-formulario-avanzado">
  Price:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="adv_price">
      <option value="ALL">All</option>
     {% for align in PRICE_RANGES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado">
  Game sessions:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="adv_numsessions">
      <option value="ALL">All</option>
       {% for i in highnum %}
      <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
     </select>
  </div>
                        <h2 class="titulo-formulario-avanzado">
       Canon level:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Keywords:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>

   </div>

    <!-- CHRONICLE -->

   <div id="cronica">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado">
  Adventures:
  </h2>
                                        <input type="hidden" name="option" value="chronicle">
  <div class="formulario-avanzado-1-columnas">
    <select name="chr_adventure">
      <option value="ALL">All</option>
                                              {% for adventure in adventures %}
      <option value="{{adventure.id}}">{{adventure.name}}</option>
                                              {% endfor %}
     </select>
  </div>
                        <h2 class="titulo-formulario-avanzado">
       Canon level:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Keywords:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>
   </div>

    <!-- END CHRONICLE -->

<!-- formulario conjuro -->

<div id="conjuro">
 <form action="/resadvancedsearch/" METHOD=GET>
 <input type="hidden" name="option" value="spell">
 <h2 class="titulo-formulario-avanzado">
 Level:
 </h2>
 <div class="formulario-avanzado-2-columnas" >
                                            <select name="level">
                                               <option value="ALL">All</option>
                                                   {% for i in lownum %}
                                              <option value="{{i}}">{{i}}</option>
                                             {% endfor %}
                                             </select>
                                        </div>
                                         <h2 class="titulo-formulario-avanzado">
                                        Classes:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="classrace">
                                              <option value="ALL">All</option>
                                                {% for class in classraces %}
                                                <option value="{{class.id}}">{{class.name}}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                        <div style="clear: both">&nbsp;</div>
                                        <h2 class="titulo-formulario-avanzado">
                                            Reversible:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                        <select name="reversible">
                                              <option value="ALL">All</option>
                                              <option value="1">Yes</option>
                                              <option value="0">No</option>
                                        </select>
                                        </div>
                                        <h2 class="titulo-formulario-avanzado">
                                            Canon level:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                         <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
                                          </select>
                                        </div>

                                        <div style="clear: both">&nbsp;</div>


                                        <h2 class="titulo-formulario-avanzado" >
                                            Keywords:
                                        </h2>
                                        <div class="formulario-avanzado" >
                                            <input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
                                            </div>


                                         <div style="clear: both">&nbsp;</div>
                                        <div style="clear: both; text-align: center">
                                            <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
 </div></form>



                        </div>

 <!-- fin formulario conjuro -->




        <!-- RULE -->

    <div id="regla">
    <form action="/resadvancedsearch/" METHOD=GET>
    <h2 class="titulo-formulario-avanzado">
    Sections:
    </h2>
    <input type="hidden" name="option" value="rule">
        <div class="formulario-avanzado-2-columnas" >

    <select name="affectedsection">
        <option value="ALL">All</option>
        {% for section in rulesections %}
        <option value="{{section.id}}">{{section.name}}</option>
        {% endfor %}
    </select>
    </div>
    <h2 class="titulo-formulario-avanzado">
    Canon level:
    </h2>
    <div class="formulario-avanzado-2-columnas" >
    <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
    </select>
    </div>

    <div style="clear: both"></div>

    <h2 class="titulo-formulario-avanzado" >
    Keywords:
    </h2>
    <div class="formulario-avanzado" >
    <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
    </div>


    <div style="clear: both"></div>
    <div style="clear: both; text-align: center">
    <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
    </div>

    </form>
    </div>

    <!-- END RULE -->


        <!-- FANART -->

    <div id="fanart">

    <form action="/resadvancedsearch/" METHOD=GET>
    <!-- Separador-->

    <input type="hidden" name="option" value="fanart">


                                       <h2 class="titulo-formulario-avanzado">
                                       Author:
                                       </h2>
                                       <div class="formulario-avanzado-1-columnas">
                                       <select name="author">
                                       <option value="ALL">All</option>
                                        {% for author in fanart_authors %}
                                              <option value={{author.id}}>{{author.name}}</option>
                                        {% endfor %}
                                       </select>
                                        </div>
                                    <!-- Separador-->	<div style="clear: both"><br/></div>
                                        <h2 class="titulo-formulario-avanzado">
                                        Type:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosentype">
                                            <option value="ALL">All</option>
                                        {% for type in FANART_TYPE_CHOICES %}
                                              <option value={{type.0}}>{{type.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                         <h2 class="titulo-formulario-avanzado">
                                        Category:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosencategory">
                                              <option value="ALL">All</option>
                                              {% for category in FANART_CATEGORY_CHOICES %}
                                              <option value={{category.0}}>{{category.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                        <div style="clear: both">&nbsp;</div>

										<h2 class="titulo-formulario-avanzado">
                                        License:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosenlicense">
                                              <option value="ALL">All</option>
                                              {% for license in FANART_LICENSE_CHOICES %}
                                              <option value={{license.0}}>{{license.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                        <h2 class="titulo-formulario-avanzado">
                                       Canon level:	</h2>
						<div class="formulario-avanzado-2-columnas">
						<select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
	    				</select> </div>

                                        <div style="clear: both">&nbsp;</div>
                                             <h2 class="titulo-formulario-avanzado" >
                        Keywords:
                    </h2>

                    <div class="formulario-avanzado" >
                        <input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
                    </div>


    <div style="clear: both; text-align: center">
    <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
    </div>

    </form>


    </div>

    <!-- END FANART -->



</div>
<!-- fin usual1 -->


 <script type="text/javascript">
   $("#usual1").idTabs(function(id,list,set){
     $("a",set).removeClass("selected")
     .filter("[href='"+id+"']",set).addClass("selected");
     for(i in list)
       $(list[i]).hide();
     $(id).fadeIn();
     return false;
   });
 </script>



 <div style="clear:all;float:none; width:850px;">


        <br /><br />


  </div>
        </div><!-- fin central -->
      </div><!-- fin columna-der-listados -->
      </div><!-- fin contenido-articulos -->
    </div><!-- fin contenido -->


{% endblock %}
