{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Búsqueda</title>
{% endblock %}


{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Búsqueda<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div>
				
				<div id="central">
					<h1>Resultado de búsqueda{% if keywords %} de " {% for k in keywords %}{{k}} {% endfor %}"{% endif %} <!-- solo para listados que sean resultados de busqueda --></h1>

{% if results|length == 0 %}
<p>Desafortunadamente, no existen resultados para la búsqueda propuesta.</p>
{% endif %}			
{% for object in results %}
                    <!-- Resultado aventureros -->
                    {% if objecttype == "character" %}
					<h2>
						<img src="/ima/ico-portada-personaje.png" alt="{{objecttype}}"/><a href="/{{objecttype}}/{{object.slug}}">{{object.name}}</a>						
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/{{objecttype}}">Personajes</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
                    <p class="detalles-listado">

						<b>Especie:</b> {{object.get_species_display}} - <b>Nivel:</b> {{object.level}} - <b>Clase:</b> {{object.get_profession_display}} - <b>Tipo:</b> {{object.get_pncorpc_display}} - <b>Alineamiento:</b> {{object.get_alignment_display}}
						<br/><b>Lugares:</b>
                            {% for rlocation in object.relatedlocation.all %}
    					   {% if forloop.first %}
    						<a href="/location/{{rlocation.id}}">{{rlocation.name}}</a>
    						{% endif %}
    						{% if forloop.last and forloop.last != forloop.first %}
    						 y <a href="/location/{{rlocation.id}}">{{rlocation.name}}</a>
    						{% endif %}
    						{% if not forloop.last and not forloop.first %}
    						, <a href="/location/{{rlocation.id}}">{{rlocation.name}}</a>
    						{% endif %}
    					{% endfor %}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}

        			<!-- Resultado Bestiario -->
			        {% if objecttype == "creature" %}
					<h2>
						<img src="/ima/ico-portada-bestiario.png" alt="{{objecttype}}"/><a href="/{{objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/{{objecttype}}">Bestiario</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Valor PX:</b> {{object.XPvalue}} - <b>CA:</b> {{object.AC}} - <b>DG:</b> {{object.hitdice}} - <b>Movimiento: {{object.move}}</b>
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}

                    <!-- Resultado Lugar -->
			        {% if objecttype == "location" %}
					<h2>
						<img src="/ima/ico-portada-lugar.png" alt="{{objecttype}}"/><a href="/{{objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/{{objecttype}}">Lugares</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Tipo:</b> {{object.get_loctype_display|default_if_none:"Desconocido"}} - <b>Estado:</b>  {{object.get_status_display|default_if_none:"Desconocido"}} - <b>Población:</b> {{object.population|default_if_none:"Desconocido"}} - <b>Alineamiento:</b> {{object.get_alignment_display|default_if_none:"Desconocido"}}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}
				
					<!-- Resultado Aventura -->

					{% if objecttype == "adventure" %}
					<h2>
						<img src="/ima/ico-portada-aventura.png" alt="{{objecttype}}"/><a href="/{{objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/{{objecttype}}">Aventuras</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Sesiones de juego:</b>  {{object.sessions|default:"*"}} - <b>Nivel:</b>  {{object.minlevel|default:"*"}} a {{object.maxlevel|default:"*"}} - <b>Nº Jugadores:</b>  {{object.minnumplayers|default:"*"}} a {{object.maxnumplayers|default:"*"}} - <b>Precio:</b>  {{object.get_price_display}}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}
							
			        <!-- Resultado Objetos -->
					{% if objecttype == "object" %}
					<h2>
						<img src="/ima/ico-portada-objeto.png" alt="{{objecttype}}"/><a href="/{{objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/{{objecttype}}">Objetos</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Tipo:</b> {{object.get_objtype_display}} - <b>Rareza:</b> {{object.get_rarity_display}} - <b>Alineamiento:</b> {{object.get_alignment_display}}</b>
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}
			
			        <!-- Resultado Crónica -->
					{% if objecttype == "chronicle" %}
					<h2>
						<img src="/ima/ico-portada-cronica.png" alt="{{objecttype}}"/><a href="/{{objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/{{objecttype}}">Crónicas</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Web de la crónica:</b> <a href="{{object.url}}" target="_blank">{{object.url}}</a> - <b>Aventura:</b> <a href="/adventure/{{object.adventure.id}}">{{object.adventure.name}}</a>
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}

                    <!-- Resultado Regla -->
		{% if objecttype == "rule" %}
					<h2>
						<img src="/ima/ico-portada-regla.png" alt="{{objecttype}}"/><a href="/{{objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/{{objecttype}}">Reglas</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Web de la regla:</b> <a href="{{object.url}}" target="_blank">{{object.url}}</a> -  <b>Secciones:</b> {% for section in object.affectedsections.all %}{{section}} {% endfor %}
					
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}

                     <!-- Resultado Conjuro -->
	        	{% if objecttype == "spell" %}
					<h2>
						<img src="/ima/ico-portada-conjuros.png" alt="{{objecttype}}"/><a href="/{{objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/{{objecttype}}">Conjuros</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Nivel:</b> {{object.level}} -
						<b>Clases:</b>
						{% if object.affectedclassrace.all %}
                         {% for classrace in object.affectedclassrace.all %}
                             {% if forloop.first %}
                             {{classrace.name}}
                             {% endif %}
                             {% if forloop.last and forloop.last != forloop.first %}
                             y {{classrace.name}}
                             {% endif %}
                             {% if not forloop.last and not forloop.first %}
                             , {{classrace.name}}{% endif %}
                             {% endfor %}
                             {% else %}
                               --
                             {% endif %}
 				       -
 				       <b>Reversible:</b> {% if object.reversible %}Sí{% else %}No{% endif %} -
 				       <b>Alcance: </b>{{object.reach}}</li> -
 				       <b>Duración: </b>{{object.duration}}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}


 <!-- Resultado Fan Art -->
	        	{% if objecttype == "fanart" %}
					<h2>
					
               <img src="/ima/ico-portada-fanart.png" alt="fanart"/><a href="/fanart/{{object.slug}}">{{object.name}}</a>
               <span>
               	<br/>
               	<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/fanart/">Fan Art</a>. {{object.last_updated.date}}.
               </span>
          	</h2>
          	<p class="detalles-listado">

                        <b>Tipo:</b> {{object.get_chosentype_display}} - <b>Categoría:</b> {{object.get_chosencategory_display}} -
                        <b>Licencia:</b> {{object.get_chosenlicense_display}}

                    </p>
                    <p>

                    {{object.description|safe|truncatewords:100}}
                     </p>
                    {% endif %}


{% endfor %}								
					
					
<!--					<div id="navegacion-resultados">
						
						<ul id="pagina">

                            {% if results.has_previous %}
							<li class="siguiente"> <a href="?page=1">« Primero</a></li>
                            <li class="siguiente"><a href="?page={{ results.previous_page_number }}">« Anterior</a>   </li>
                            {% else %}
                            <li class="anterior-off">« Primero</a></li>
                            <li class="anterior-off">« Anterior</li>
							{% endif %}

							<li class="activo">Page {{ results.number }} of {{ results.paginator.num_pages }}</li>

                             {% if results.has_next %}
							<li class="siguiente"> <a href="?page={{ results.next_page_number }}">Siguiente »</a></li>

							<li class="siguiente"><a href="?page={{results.paginator.num_pages}}">Último »</a></li>
                            {% else %}
                            <li class="anterior-off">Siguiente »</li>
                            <li class="anterior-off">Último »</li>
                            {% endif %}
						</ul>
						
							
					</div>
-->					
					
					
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
		
		<div id="pie">
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a
href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a
href="http://jigsaw.w3.org/css-validator/validator?uri=http://codexdelamarca.com/css/estilo.css">CSS</a>
					<br/><br/>
					<span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica	 - Diseño: <a
href="http://jagvalverde.com/">Jose Valverde</a></span>
				</div><!-- fin validaciones -->
		</div><!-- fin pie -->
	</div><!-- fin contenedor -->
{% endblock %}		
