{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Búsqueda Avanzada</title>
{% endblock %}

		<div id="cabecera">
			<div id="menu">
				<ul>	     
					<li><a href="index.html">El Codex</a></li>	
					<li><a href="personaje.html">Personajes</a></li>	 
					<li><a href="bestiario.html" >Bestiario</a></li>	
					<li><a href="lugar.html">Lugares</a></li>
					<li><a href="objeto.html" >Objetos</a></li>	
					<li><a href="aventura.html">Aventuras</a></li>	
					<li><a href="cronica.html" >Crónicas</a></li>	
					<li><a href="enviar-info.html">Enviar info</a></li>	
					<li><a href="contactar.html">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			
			<div id="busqueda-simple">
				<div id="form-busqueda-simple">
				<form action="/search/" METHOD=GET>
					<select name="option">					  
						<option value="ALL">Todo</option>
						<option value="character">Personaje</option>
						<option value="creature">Bestiario</option>
						<option value="location">Lugar</option>
						<option value="object">Objeto</option>
						<option value="adventure">Aventura</option>
						<option value="chronicle">Crónica</option>					   
					</select>
					
					<input class="barra_busqueda" type="text" name="searchterm" value="" />
					
					<input class="boton_buscar" type="submit" value="Buscar" />
				</form>
				</div>
				<div id="ir-busqueda-avanzada"><a href="/advancedsearch">Búsqueda<br/>avanzada</a></div>
			</div><!-- fin busqueda-simple -->
			
		</div><!-- fin cabecera -->
		
		{% block content %}
		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Búsqueda<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div> 
				
				<div id="central">

					
					
					<div style="clear: both"></div>
					
					
<!-- usual1 -->		<div id="usual1" class="usual">
					
						<ul> 
						 <li><a class="selected" href="#todo">Todo</a></li> 
						 <li><a href="#personaje"><img alt="personajes" src="/ima/ico-personajes.png"/> Personaje</a></li> 
						 <li><a href="#bestiario"><img alt="bestiario" src="/ima/ico-bestiario.png"/> Bestiario</a></li> 
						 <li><a href="#lugar"><img alt="lugar" src="/ima/ico-lugar.png"/> Lugar</a></li> 
						 <li><a href="#objetos"><img alt="objeto" src="/ima/ico-objetos.png"/> Objeto</a></li> 
						 <li><a href="#aventura"><img alt="aventura" src="/ima/ico-aventura.png"/> Aventura</a></li> 
						 <li><a href="#cronica"><img alt="cronica" src="/ima/ico-cronica.png"/> Crónica</a></li> 
					 </ul> 
					 <div style="clear: both"></div>
					  	<div id="todo">
				        <form action="/resadvancedsearch/" METHOD=GET>
                        <input type="hidden" name="option" value="ALL">	
					    <h2 class="titulo-formulario-avanzado">			
						    Evaluación:						
    					</h2>
	    				<div class="formulario-avanzado-2-columnas" >
	    				<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select> 
	    				</div>

					<div style="clear: both"></div>
					
					<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
					</div>
					
					
					<div style="clear: both"></div>
					<div style="clear: both; text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
					
					</form>

                        </div>
						
                        <div id="personaje">
				        <form action="/resadvancedsearch/" METHOD=GET>
										<h2 class="titulo-formulario-avanzado" >			
											Especie:					
										</h2>
                                        <input type="hidden" name="option" value="character">
										<div class="formulario-avanzado-2-columnas">
											<select name="char_species">
											  <option value="ALL">Todas</option>
                                              {% for specie in SPECIES_CHOICES %}
                                              <option value={{specie.0}}>{{specie.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado" >			
											Nivel:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="char_minlevel">
											  <option value="ALL">Todas</option>
                                              {% for level in LEVEL_CHOICES %}
                                              <option value={{level.0}}>{{level.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										<div style="clear: both"></div>
										<h2 class="titulo-formulario-avanzado">			
										Profesión:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="char_profession">
											  <option value="ALL">Todas</option>
                                              {% for profession in PROFESSION_CHOICES %}
                                              <option value={{profession.0}}>{{profession.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										
												
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="char_alignment">
											  <option value="ALL">Todas</option>
                                              {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										<div style="clear: both"></div>				
										<h2 class="titulo-formulario-avanzado">			
										Lugares:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select name="char_location">
											  <option value="ALL">Todas</option>
                                              {% for location in locations %}
											  <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
											 </select> 
										</div>
						
					    <h2 class="titulo-formulario-avanzado">			
						    Evaluación:						
    					</h2>
	    				<div class="formulario-avanzado-2-columnas" >
	    				<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select> 
	    				</div>

					<div style="clear: both"></div>
					
					<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
					</div>
					
					
					<div style="clear: both"></div>
					<div style="clear: both; text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
					
					</form>
						
                        </div>
						
						<div id="bestiario">
                        <form action="/resadvancedsearch/" METHOD=GET>
										<h2 class="titulo-formulario-avanzado" >			
											Valor PX Mínimo:						
										</h2>
                                        <input type="hidden" name="option" value="creature">
										<div class="formulario-avanzado-2-columnas">
                                        <input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_minpx" />
										</div>
										
										<h2 class="titulo-formulario-avanzado" >			
											CA:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_ac" />
										</div>
										<div style="clear: both"></div>
										<h2 class="titulo-formulario-avanzado">			
										DG:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_hitdice" />
										</div>
										
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="crea_alignment">
											   <option value="ALL">Todas</option>
                                              {% for align in CRE_ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										<div style="clear: both"></div>				
										<h2 class="titulo-formulario-avanzado">			
										Lugares:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select name="crea_location">
											  <option value="ALL">Todas</option>
                                              {% for location in locations %}
											  <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
											 </select> 
										</div>
                        <h2 class="titulo-formulario-avanzado">			
						    Evaluación:						
    					</h2>
	    				<div class="formulario-avanzado-2-columnas" >
	    				<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select> 
	    				</div>

					<div style="clear: both"></div>
					
					<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
					</div>
					
					
					<div style="clear: both"></div>
					<div style="clear: both; text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
					
					</form>

						</div>

						<div id="lugar">
                        <form action="/resadvancedsearch/" METHOD=GET>
										<h2 class="titulo-formulario-avanzado">			
										Tipo:						
										</h2>
                                        <input type="hidden" name="option" value="location">
										<div class="formulario-avanzado-2-columnas">
											<select name="loc_type">
                                            <option value="ALL">Todas</option>
											{% for align in LOC_TYPE_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado">			
										Estado:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="loc_status">
                                                <option value="ALL">Todas</option>
											 {% for align in LOC_STATUS_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
												
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="loc_alignment">
                                                <option value="ALL">Todas</option>
											  {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
                        <h2 class="titulo-formulario-avanzado">			
						    Evaluación:						
    					</h2>
	    				<div class="formulario-avanzado-2-columnas" >
	    				<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select> 
	    				</div>

					<div style="clear: both"></div>
					
					<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
					</div>
					
					
					<div style="clear: both"></div>
					<div style="clear: both; text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
					
					</form>


						</div>

						<div id="objetos">
                        <form action="/resadvancedsearch/" METHOD=GET>
										<h2 class="titulo-formulario-avanzado" >			
											Tipo:						
										</h2>
                                        <input type="hidden" name="option" value="object">
										<div class="formulario-avanzado-2-columnas">
											<select name="obj_type">
											  <option value="ALL">Todas</option>
											   {% for align in OBJ_TYPE_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado" >			
											Rareza:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="obj_rarity">
											  <option value="ALL">Todas</option>
											   {% for align in OBJ_RARITY_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										<div style="clear: both"></div>
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="obj_alignment">
											  <option value="ALL">Todas</option>
											  {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado">			
										Estado:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="obj_status">
											  <option value="ALL">Todas</option>
											   {% for align in OBJ_STATUS_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>				
										<!--<h2 class="titulo-formulario-avanzado">			
										Lugares:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select name="obj_location">
											  <option value="ALL">Todas</option>
                                              {% for location in locations %}
											  <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
											 </select> 
										</div>-->
                        <h2 class="titulo-formulario-avanzado">			
						    Evaluación:						
    					</h2>
	    				<div class="formulario-avanzado-2-columnas" >
	    				<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select> 
	    				</div>

					<div style="clear: both"></div>
					
					<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
					</div>
					
					
					<div style="clear: both"></div>
					<div style="clear: both; text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
					
					</form>						
						</div>

						<div id="aventura">
                        <form action="/resadvancedsearch/" METHOD=GET>
										<h2 class="titulo-formulario-avanzado" >			
											Nivel:						
										</h2>
                                        <input type="hidden" name="option" value="adventure">
										<div class="formulario-avanzado-2-columnas">
											<select name="adv_level">
											  <option value="ALL">Todas</option>
                                                {% for i in highnum %}
											  <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado" >			
											Nº jugadores:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="adv_numplayers">
											  <option value="ALL">Todas</option>
											   {% for i in lownum %}
											  <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
											 </select> 
										</div>
										<div style="clear: both"></div>
										<h2 class="titulo-formulario-avanzado">			
										Precio:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="adv_price">
											  <option value="ALL">Todas</option>
											 {% for align in PRICE_RANGES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado">			
										Sesiones de juego:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="adv_numsessions">
											  <option value="ALL">Todas</option>
											   {% for i in highnum %}
											  <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
											 </select> 
										</div>		
                        <h2 class="titulo-formulario-avanzado">			
						    Evaluación:						
    					</h2>
	    				<div class="formulario-avanzado-2-columnas" >
	    				<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select> 
	    				</div>

					<div style="clear: both"></div>
					
					<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
					</div>
					
					
					<div style="clear: both"></div>
					<div style="clear: both; text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
					
					</form>							
							
						</div> 

						<div id="cronica">				
                        <form action="/resadvancedsearch/" METHOD=GET>
										<h2 class="titulo-formulario-avanzado">			
										Aventuras:						
										</h2>
                                        <input type="hidden" name="option" value="chronicle">
										<div class="formulario-avanzado-1-columnas">
											<select name="chr_adventure">
											  <option value="ALL">Todas</option>
                                              {% for adventure in adventures %}
											  <option value="{{adventure.id}}">{{adventure.name}}</option>
                                              {% endfor %}
											 </select> 
										</div>
                        <h2 class="titulo-formulario-avanzado">			
						    Evaluación:						
    					</h2>
	    				<div class="formulario-avanzado-2-columnas" >
	    				<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select> 
	    				</div>

					<div style="clear: both"></div>
					
					<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
					</div>
					
					
					<div style="clear: both"></div>
					<div style="clear: both; text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
					
					</form>
						</div>
					</div> 
<!-- fin usual1 -->						 
					
					
					<script type="text/javascript"> 
					  $("#usual1").idTabs(function(id,list,set){ 
					    $("a",set).removeClass("selected") 
					    .filter("[href='"+id+"']",set).addClass("selected"); 
					    for(i in list) 
					      $(list[i]).hide(); 
					    $(id).fadeIn(); 
					    return false; 
					  }); 
					</script>


					
					<div style="clear:all;float:none; width:850px;">
					
					
			  <br /><br />
  
			
	</div> 				
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
		

		<div id="pie">
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a
href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a
href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
					<br/><br/>
					<span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica	 - Diseño: <a
href="http://jagvalverde.com/">Jose Valverde</a></span>
				</div><!-- fin validaciones -->
		</div><!-- fin pie -->
	</div><!-- fin contenedor -->
{% endblock %}		

