{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Búsqueda Avanzada</title>
{% endblock %}
{% block navigation %}
<div id="cabecera">
    <div id="menu">
    <ul>
    <li><a href="/">El Codex</a></li>
    <li><a href="/character">Personajes</a></li>
    <li><a href="/creature">Bestiario</a></li>
    <li><a href="/location">Lugares</a></li>
    <li><a href="/object">Objetos</a></li>
    <li><a href="/adventure" class="seleccion">Aventuras</a></li>
    <li><a href="/chronicle">Crónica</a></li>
    <li><a href="/spell" >Conjuros</a></li>
    <li><a href="/rule" >Reglas</a></li>
    <li><a href="/fanart" >Fan Art</a></li>
    <li><a href="/send_info">Enviar info</a></li>
    <li><a href="/contact">Contacto</a></li>
    </ul>
    </div><!-- fin menu -->

    <div id="logo">
    <a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de Aventuras de la Marca del Este." /></a>
    </div><!-- fin logo -->

    <div id="slogan">
    La recopilación de todo el conocimiento sobre la Marca del Este.
    </div><!-- fin slogan -->
{% endblock %}

{% block content %}
<div id="contenido" >
    <div id="contenido-listados" >
    <div id="columna-der-listados">
    <div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Búsqueda<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div>

    <div id="central">

    <div style="clear: both"></div>
    <div id="usual1" class="usual">
    <ul>
    <li><a class="selected" href="#todo">Todo</a></li>
    <li><a href="#personaje"><img alt="personajes" src="/ima/ico-personajes.png"/> Personaje</a></li>
    <li><a href="#bestiario"><img alt="bestiario" src="/ima/ico-bestiario.png"/> Bestiario</a></li>
    <li><a href="#lugar"><img alt="lugar" src="/ima/ico-lugar.png"/> Lugar</a></li>
    <li><a href="#objetos"><img alt="objeto" src="/ima/ico-objetos.png"/> Objeto</a></li>
    <li><a href="#aventura"><img alt="aventura" src="/ima/ico-aventura.png"/> Aventura</a></li>
    <li><a href="#cronica"><img alt="cronica" src="/ima/ico-cronica.png"/> Crónica</a></li>
    <li><a href="#conjuro"><img alt="conjuro" src="/ima/ico-conjuros.png"/> Conjuro</a></li>
    <li><a href="#regla"><img alt="regla" src="/ima/ico-regla.png"/> Regla</a></li>
    <li><a href="#fanart"><img alt="fanart" src="/ima/ico-fanart.png"/> Fan Art</a></li>
    </ul>
    <div style="clear: both"></div>

    <!-- ALL -->
    <div id="todo">
    <form action="/resadvancedsearch/" METHOD=GET>
        <input type="hidden" name="option" value="ALL">
        <h2 class="titulo-formulario-avanzado">
        Evaluación:
        </h2>
        <div class="formulario-avanzado-2-columnas" >
        <select name="canon_level">
            <option value="ALL">Cualquiera</option>
            <option value="NEW">Nuevo</option>
            <option value="AP">Apócrifo</option>
            <option value="APC">En estudio</option>
            <option value="C">Canon</option>
        </select>
        </div>

        <div style="clear: both"></div>

        <h2 class="titulo-formulario-avanzado" >
        Palabras clave:
        </h2>
        <div class="formulario-avanzado" >
        <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
        </div>


        <div style="clear: both"></div>
        <div style="clear: both; text-align: center">
        <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
        </div>

    </form>

    </div>

    <!-- END ALL -->

    <!-- CHARACTER -->

    <div id="personaje">
    <form action="/resadvancedsearch/" METHOD=GET>
    <h2 class="titulo-formulario-avanzado" >
    Especie:
    </h2>
    <input type="hidden" name="option" value="character">
    <div class="formulario-avanzado-2-columnas">
    <select name="char_species">
        <option value="ALL">Todas</option>
        {% for specie in SPECIES_CHOICES %}
        <option value={{specie.0}}>{{specie.1}}</option>
        {% endfor %}
    </select>
    </div>

     <h2 class="titulo-formulario-avanzado" >
    Nivel:
    </h2>
    <div class="formulario-avanzado-2-columnas">
    <select name="char_minlevel">
        <option value="ALL">Todos</option>
        {% for level in LEVEL_CHOICES %}
        <option value={{level.0}}>{{level.1}}</option>
        {% endfor %}
    </select>
    </div>
    <div style="clear: both"></div>
    <h2 class="titulo-formulario-avanzado">
    Profesión:
    </h2>
    <div class="formulario-avanzado-2-columnas">
    <select name="char_profession">
        <option value="ALL">Todas</option>
        {% for profession in PROFESSION_CHOICES %}
        <option value={{profession.0}}>{{profession.1}}</option>
        {% endfor %}
    </select>
    </div>

    <h2 class="titulo-formulario-avanzado">
    Alineamiento:
    </h2>
    <div class="formulario-avanzado-2-columnas">
    <select name="char_alignment">
        <option value="ALL">Todos</option>
        {% for align in ALIGN_CHOICES %}
        <option value={{align.0}}>{{align.1}}</option>
        {% endfor %}
    </select>
    </div>
    <div style="clear: both"></div>
    <h2 class="titulo-formulario-avanzado">
    Lugares:
    </h2>
    <div class="formulario-avanzado-1-columnas">
    <select name="char_location">
        <option value="ALL">Todos</option>
        {% for location in locations %}
        <option value="{{location.id}}">{{location.name}}</option>
        {% endfor %}
    </select>
    </div>

    <h2 class="titulo-formulario-avanzado">
    Evaluación:
    </h2>
    <div class="formulario-avanzado-2-columnas" >
    <select name="canon_level">
        <option value="ALL">Cualquiera</option>
        <option value="NEW">Nuevo</option>
        <option value="AP">Apócrifo</option>
        <option value="APC">En estudio</option>
        <option value="C">Canon</option>
    </select>
    </div>

    <div style="clear: both"></div>

    <h2 class="titulo-formulario-avanzado" >
    Palabras clave:
    </h2>
    <div class="formulario-avanzado" >
    <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
    </div>


    <div style="clear: both"></div>
    <div style="clear: both; text-align: center">
    <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
    </div>

    </form>

    </div>

    <!-- END CHARACTER -->


   <div id="bestiario">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado" >
    Valor PX Mínimo:
  </h2>
                                        <input type="hidden" name="option" value="creature">
  <div class="formulario-avanzado-2-columnas">
                                        <input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_minpx" />
  </div>

  <h2 class="titulo-formulario-avanzado" >
    CA:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_ac" />
  </div>
  <div style="clear: both"></div>
  <h2 class="titulo-formulario-avanzado">
  DG:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <input style="padding: 5px 5px; font-size:16px;width:110px;" type="text" name="crea_hitdice" />
  </div>

  <h2 class="titulo-formulario-avanzado">
  Alineamiento:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="crea_alignment">
       <option value="ALL">Todos</option>
                                              {% for align in CRE_ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>
  <div style="clear: both"></div>
  <h2 class="titulo-formulario-avanzado">
  Lugares:
  </h2>
  <div class="formulario-avanzado-1-columnas">
    <select name="crea_location">
      <option value="ALL">Todos</option>
                                              {% for location in locations %}
      <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
     </select>
  </div>
                        <h2 class="titulo-formulario-avanzado">
       Evaluación:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
         <option value="ALL">Cualquiera</option>
         <option value="NEW">Nuevo</option>
         <option value="AP">Apócrifo</option>
         <option value="APC">En estudio</option>
         <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Palabras clave:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>

   </div>

   <div id="lugar">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado">
  Tipo:
  </h2>
                                        <input type="hidden" name="option" value="location">
  <div class="formulario-avanzado-2-columnas">
    <select name="loc_type">
                                            <option value="ALL">Todos</option>
    {% for align in LOC_TYPE_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado">
  Estado:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="loc_status">
                                                <option value="ALL">Todos</option>
     {% for align in LOC_STATUS_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado">
  Alineamiento:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="loc_alignment">
                                                <option value="ALL">Todos</option>
      {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>
                        <h2 class="titulo-formulario-avanzado">
       Evaluación:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
         <option value="ALL">Cualquiera</option>
         <option value="NEW">Nuevo</option>
         <option value="AP">Apócrifo</option>
         <option value="APC">En estudio</option>
         <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Palabras clave:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>


   </div>

   <div id="objetos">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado" >
    Tipo:
  </h2>
                                        <input type="hidden" name="option" value="object">
  <div class="formulario-avanzado-2-columnas">
    <select name="obj_type">
      <option value="ALL">Todos</option>
       {% for align in OBJ_TYPE_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado" >
    Rareza:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="obj_rarity">
      <option value="ALL">Todas</option>
       {% for align in OBJ_RARITY_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>
  <div style="clear: both"></div>
  <h2 class="titulo-formulario-avanzado">
  Alineamiento:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="obj_alignment">
      <option value="ALL">Todos</option>
      {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado">
  Estado:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="obj_status">
      <option value="ALL">Todos</option>
       {% for align in OBJ_STATUS_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>
  <!--<h2 class="titulo-formulario-avanzado">
  Lugares:
  </h2>
  <div class="formulario-avanzado-1-columnas">
    <select name="obj_location">
      <option value="ALL">Todas</option>
                                              {% for location in locations %}
      <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
     </select>
  </div>-->
                        <h2 class="titulo-formulario-avanzado">
       Evaluación:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
         <option value="ALL">Cualquiera</option>
         <option value="NEW">Nuevo</option>
         <option value="AP">Apócrifo</option>
         <option value="APC">En estudio</option>
         <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Palabras clave:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>
   </div>

   <div id="aventura">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado" >
    Nivel:
  </h2>
                                        <input type="hidden" name="option" value="adventure">
  <div class="formulario-avanzado-2-columnas">
    <select name="adv_level">
      <option value="ALL">Todos</option>
                                                {% for i in highnum %}
      <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado" >
    Nº jugadores:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="adv_numplayers">
      <option value="ALL">Todos</option>
       {% for i in lownum %}
      <option value="{{i}}">{{i}}</option>
     {% endfor %}
     </select>
  </div>
  <div style="clear: both"></div>
  <h2 class="titulo-formulario-avanzado">
  Precio:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="adv_price">
      <option value="ALL">Todos</option>
     {% for align in PRICE_RANGES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
     </select>
  </div>

  <h2 class="titulo-formulario-avanzado">
  Sesiones de juego:
  </h2>
  <div class="formulario-avanzado-2-columnas">
    <select name="adv_numsessions">
      <option value="ALL">Todos</option>
       {% for i in highnum %}
      <option value="{{i}}">{{i}}</option>
                                                {% endfor %}
     </select>
  </div>
                        <h2 class="titulo-formulario-avanzado">
       Evaluación:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
         <option value="ALL">Cualquiera</option>
         <option value="NEW">Nuevo</option>
         <option value="AP">Apócrifo</option>
         <option value="APC">En estudio</option>
         <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Palabras clave:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>

   </div>

    <!-- CHRONICLE -->

   <div id="cronica">
                        <form action="/resadvancedsearch/" METHOD=GET>
  <h2 class="titulo-formulario-avanzado">
  Aventuras:
  </h2>
                                        <input type="hidden" name="option" value="chronicle">
  <div class="formulario-avanzado-1-columnas">
    <select name="chr_adventure">
      <option value="ALL">Todas</option>
                                              {% for adventure in adventures %}
      <option value="{{adventure.id}}">{{adventure.name}}</option>
                                              {% endfor %}
     </select>
  </div>
                        <h2 class="titulo-formulario-avanzado">
       Evaluación:
     </h2>
              <div class="formulario-avanzado-2-columnas" >
              <select name="canon_level">
         <option value="ALL">Cualquiera</option>
         <option value="NEW">Nuevo</option>
         <option value="AP">Apócrifo</option>
         <option value="APC">En estudio</option>
         <option value="C">Canon</option>
              </select>
              </div>

 <div style="clear: both"></div>

 <h2 class="titulo-formulario-avanzado" >
   Palabras clave:
 </h2>
 <div class="formulario-avanzado" >
   <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
 </div>


 <div style="clear: both"></div>
 <div style="clear: both; text-align: center">
   <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
 </div>

 </form>
   </div>

    <!-- END CHRONICLE -->

<!-- formulario conjuro -->

<div id="conjuro">
 <form action="/resadvancedsearch/" METHOD=GET>
 <input type="hidden" name="option" value="spell">
 <h2 class="titulo-formulario-avanzado">
 Nivel:
 </h2>
 <div class="formulario-avanzado-2-columnas" >
                                            <select name="level">
                                               <option value="ALL">Todos</option>
                                                   {% for i in lownum %}
                                              <option value="{{i}}">{{i}}</option>
                                             {% endfor %}
                                             </select>
                                        </div>
                                         <h2 class="titulo-formulario-avanzado">
                                        Clases:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="classrace">
                                              <option value="ALL">Todas</option>
                                                {% for class in classraces %}
                                                <option value="{{class.id}}">{{class.name}}</option>
                                                {% endfor %}
                                             </select>
                                        </div>
                                        <div style="clear: both">&nbsp;</div>
                                        <h2 class="titulo-formulario-avanzado">
                                            Reversible:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                        <select name="reversible">
                                              <option value="ALL">Indiferente</option>
                                              <option value="1">Sí</option>
                                              <option value="0">No</option>
                                        </select>
                                        </div>
                                        <h2 class="titulo-formulario-avanzado">
                                            Evaluación:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                         <select name="canon_level">
                                        <option value="ALL">Cualquiera</option>
                                        <option value="NEW">Nuevo</option>
                                        <option value="AP">Apócrifo</option>
                                        <option value="APC">En estudio</option>
                                        <option value="C">Canon</option>
                                          </select>
                                        </div>

                                        <div style="clear: both">&nbsp;</div>


                                        <h2 class="titulo-formulario-avanzado" >
                                            Palabras clave:
                                        </h2>
                                        <div class="formulario-avanzado" >
                                            <input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
                                            </div>


                                         <div style="clear: both">&nbsp;</div>
                                        <div style="clear: both; text-align: center">
                                            <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
 </div></form>



                        </div>

 <!-- fin formulario conjuro -->




        <!-- RULE -->

    <div id="regla">
    <form action="/resadvancedsearch/" METHOD=GET>
    <h2 class="titulo-formulario-avanzado">
    Secciones:
    </h2>
    <input type="hidden" name="option" value="rule">
        <div class="formulario-avanzado-2-columnas" >

    <select name="affectedsection">
        <option value="ALL">Todas</option>
        {% for section in rulesections %}
        <option value="{{section.id}}">{{section.name}}</option>
        {% endfor %}
    </select>
    </div>
    <h2 class="titulo-formulario-avanzado">
    Evaluación:
    </h2>
    <div class="formulario-avanzado-2-columnas" >
    <select name="canon_level">
        <option value="ALL">Cualquiera</option>
        <option value="NEW">Nuevo</option>
        <option value="AP">Apócrifo</option>
        <option value="APC">En estudio</option>
        <option value="C">Canon</option>
    </select>
    </div>

    <div style="clear: both"></div>

    <h2 class="titulo-formulario-avanzado" >
    Palabras clave:
    </h2>
    <div class="formulario-avanzado" >
    <input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="searchterm" />
    </div>


    <div style="clear: both"></div>
    <div style="clear: both; text-align: center">
    <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
    </div>

    </form>
    </div>

    <!-- END RULE -->


        <!-- FANART -->

    <div id="fanart">

    <form action="/resadvancedsearch/" METHOD=GET>
    <!-- Separador-->

    <input type="hidden" name="option" value="fanart">


                                       <h2 class="titulo-formulario-avanzado">
                                       Autor:
                                       </h2>
                                       <div class="formulario-avanzado-1-columnas">
                                       <select name="author">
                                       <option value="ALL">Todos</option>
                                        {% for author in fanart_authors %}
                                              <option value={{author.id}}>{{author.name}}</option>
                                        {% endfor %}
                                       </select>
                                        </div>
                                    <!-- Separador-->	<div style="clear: both"><br/></div>
                                        <h2 class="titulo-formulario-avanzado">
                                        Tipo:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosentype">
                                            <option value="ALL">Cualquiera</option>
                                        {% for type in FANART_TYPE_CHOICES %}
                                              <option value={{type.0}}>{{type.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                         <h2 class="titulo-formulario-avanzado">
                                        Categoría:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosencategory">
                                              <option value="ALL">Cualquiera</option>
                                              {% for category in FANART_CATEGORY_CHOICES %}
                                              <option value={{category.0}}>{{category.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                        <div style="clear: both">&nbsp;</div>

										<h2 class="titulo-formulario-avanzado">
                                        Licencia:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosenlicense">
                                              <option value="ALL">Cualquiera</option>
                                              {% for license in FANART_LICENSE_CHOICES %}
                                              <option value={{license.0}}>{{license.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                        <h2 class="titulo-formulario-avanzado">
                                       Evaluación:	</h2>
						<div class="formulario-avanzado-2-columnas">
						<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select> </div>

                                        <div style="clear: both">&nbsp;</div>
                                             <h2 class="titulo-formulario-avanzado" >
                        Palabras clave:
                    </h2>

                    <div class="formulario-avanzado" >
                        <input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
                    </div>


    <div style="clear: both; text-align: center">
    <input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
    </div>

    </form>


    </div>

    <!-- END FANART -->



</div>
<!-- fin usual1 -->


 <script type="text/javascript">
   $("#usual1").idTabs(function(id,list,set){
     $("a",set).removeClass("selected")
     .filter("[href='"+id+"']",set).addClass("selected");
     for(i in list)
       $(list[i]).hide();
     $(id).fadeIn();
     return false;
   });
 </script>



 <div style="clear:all;float:none; width:850px;">


        <br /><br />


  </div>
        </div><!-- fin central -->
      </div><!-- fin columna-der-listados -->
      </div><!-- fin contenido-articulos -->
    </div><!-- fin contenido -->




    <div id="pie">
        <div id="validaciones">
 Aventuras de la Marca del este 2011 - Validación: <a
href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a
href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
 <br/><br/>
 <span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica   - Diseño: <a
href="http://jagvalverde.com/">Jose Valverde</a></span>
        </div><!-- fin validaciones -->
    </div><!-- fin pie -->
  </div><!-- fin contenedor -->
{% endblock %}
