{% extends "basebasic.html" %}
{% block title %}
<title>East Mark Codex - Adventures</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character" >Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure" class="seleccion">Adventures</a></li> 
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="East Mark Codex" /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of all the knowledge of the East Mark.
			</div><!-- fin logo -->
			
	
{% endblock %}

{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-articulos" >	

			<div id="columna-izq_portada" style="padding-top:0px;">
					<div id="volver">
					<span>
					<a href="/">Home</a>
					&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					</span>
					Adventures
					</div>
				
				<div id="quote">This section contains all the adventures known to the East Mark Codex. </div>
				<p>
					We list the last three adventures added to the Codex, a features adventure and the advanced search. Generally, adventures records only show descriptive information, if you want to download the material please follow the links provided.
				</p>
				<div id="novedades-categorias">
					Latest submissions
				</div>
                <div class="elemento-portada-categoria">
                {% for object in results|slice:":3" %}

				
				<h2><img src="/ima/ico-portada-aventura.png" alt="adventure"/><a href="/adventure/{{object.slug}}">{{object.name}}</a></h2>
				<p class="sub-text">{{object.last_updated.date}}. Canon: {{object.get_canon_level_display}}</p>
				<p class="intro">{{object.description|safe|truncatewords:70}}</p>

                {% endfor %}
				

				<p class="ver"><a href="/adventure/all">See all [+]</a></p>
				</div>
				
			</div><!-- fin columna-izq_portada -->

			<div id="columna-der_portada" style="padding-top:0px;">
				<div>
					<img src="/ima/banner-categoria-aventura.jpg" alt="aventura"  style="float:none;"/>
					<br/><br/>
				</div>
				

				<div>
				<h1>Featured</h1>
				</div>
				<div class="elemento-portada-categoria">					
				<h2>
				<img alt="adventure" src="/ima/ico-portada-aventura.png" />
				<a href="/adventure/{{highlightedresult.slug}}">{{highlightedresult.name}}</a>
				</h2>
				<p class="sub-text">{{highlightedresult.last_updated.date}}. Canon: {{highlightedresult.get_canon_level_display}}</p>
				<p class="intro">
                {% for image in highlightedresult.image.all %}
					    {% if forloop.first %}
					<a href="#"><img width="290px" height="190px" alt="icono" src="{{ MEDIA_URL }}{{image.image.name}}" /></a>
                        {% endif %}
                {% endfor %}
				{{highlightedresult.description|safe|truncatewords:200}}
				</p>
								
								
				<p class="ver"><a href="/adventure/{{highlightedresult.slug}}">Read more [+]</a></p>
				</div>			
				
				<div style="clear: both"></div>
				
				<div>
				<h1>Advanced search</h1>
				</div>
				<div id="elemento-formulario-categoria">
			<form action="/resadvancedsearch/" METHOD=GET>

<!-- Separador-->	<div style="clear: both"><br/></div>

				<h2 class="titulo-formulario-avanzado" >			
						Keywords:						
					</h2>
						
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
					</div>
					
<!-- Separador-->	<div style="clear: both"><br/></div>
					
				<h2 class="titulo-formulario-avanzado">	

							<input type="hidden" name="option" value="adventure">
										Canon level:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="canon_level">
	    					  <option value="ALL">All</option>
	    					  <option value="NEW">New</option>
	    					  <option value="AP">Apocryphal</option>
	    					  <option value="APC">Under study</option>
	    					  <option value="C">Canon</option>

	    				</select>
										</div>
										
										<h2 class="titulo-formulario-avanzado" >Minimum level:</h2>
<div class="formulario-avanzado-2-columnas">
<select name="adv_level">
  <option value="ALL">All</option>
    {% for i in highnum %}
  <option value="{{i}}">{{i}}</option>
    {% endfor %}
 </select>
</div>
<!-- Separador-->	<div style="clear: both"><br/></div>
<h2 class="titulo-formulario-avanzado" >			
No. of players:						
</h2>
<div class="formulario-avanzado-2-columnas">
<select name="adv_numplayers">
  <option value="ALL">All</option>
  {% for i in lownum %}
  <option value="{{i}}">{{i}}</option>
 {% endfor %}
 </select>
</div>
										
<h2 class="titulo-formulario-avanzado">			
Price:						
</h2>
<div class="formulario-avanzado-2-columnas">
<select name="adv_price">
 <option value="ALL">All</option>
 {% for align in PRICE_RANGES %}
 <option value={{align.0}}>{{align.1}}</option>
{% endfor %}
 </select>
</div>
<!-- Separador-->	<div style="clear: both"><br/></div>
										<h2 class="titulo-formulario-avanzado">			
No. of sessions:						
										</h2>
<div class="formulario-avanzado-2-columnas">
<select name="adv_numsessions">
 <option value="ALL">Any</option>
  {% for i in highnum %}
 <option value="{{i}}">{{i}}</option>
{% endfor %}
 </select>
</div>	
										
<!-- Separador-->	<div style="clear: both"><br/></div>
					<div style="text-align: center">
						<input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
					</div>
				</form>
			</div> <!-- fin elemento-formulario-categoria  -->
			</div><!-- fin columna-der_portada  -->
	</div><!-- fin contenido-artuculos -->
		</div><!-- fin contenido -->
		
		
		

{% endblock %}		
