{% extends "base.html" %}
{% block title %}
<title>Codex de la Marca del Este - Aventura - {{object.name}}</title>
{% endblock %}

{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character" >Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure" class="seleccion">Adventures</a></li> 
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>

        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="East Mark Codex" /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of all the knowledge of the East Mark.
			</div><!-- fin logo -->
		
		
{% endblock %}
{% block leftcontent %}		

		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;</span> <a href="/adventure">Adventures</a></div>
				
				<h1><img src="/ima/ico-portada-aventura.png" alt="adventure"/>{{object.name}}
                 {% if user.is_authenticated and user.is_staff %}
                <a href="/scriptorium/web/adventure/{{object.id}}">[edit]</a>
                {% endif %}

                </h1>
                {% if object.description %}				
                <p>{{object.description|safe}}
				</p>
                {% endif %}
                 {% if object.comments %}				
                <h2>Author's comments:</h2>
                <p>{{object.comments|safe}}</p>		
				{% endif %}

			</div><!-- fin columna-izq -->
{% endblock %}
{% block rightcontent %}			

                {% if object.image.all %}
				<div id="expo-ima">
					  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<a href="#"><img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/></a>
						
				</div>
					<!--
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
				<div id="firma-ima">
	                    {% if image.author.all %}
					<b>Image Author(s)</b>:
                    {% for author in image.author.all%}
					   {% if forloop.first %}
                        <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if forloop.last and forloop.last != forloop.first %}
						 and <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if not forloop.last and not forloop.first %}
						, <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
					{% endfor %}
                    {% endif %}

				</div><!-- fin expo-ima -->
					{% endif %}

				{% endfor %}
				{% endif %}
				{% if object.url %}
				<div id="boton-gordo">
					
						<a href="{{object.url}}" class="boton-aventura"> Go to original source</a>
				
				</div>
				{% endif %}
				<h2>More info:</h2>
				
				<div class="lista2columnas">
					<ul>						
						{% if object.price %}<li><b>Price:</b> {{object.get_price_display}}</li>{% endif %}
						
						{% if object.minlevel or object.maxlevel %}<li><b>Level:</b> {{object.minlevel|default:"*"}} to {{object.maxlevel|default:"*"}}</li>{% endif %}

						{% if object.sessions %}<li><b>Game sessions:</b> {{object.sessions}}</li>{% endif %}
						
						{% if object.minnumplayers or object.maxnumplayers %}<li><b>No. of players:</b> {{object.minnumplayers|default:"*"}} to {{object.maxnumplayers|default:"*"}}</li>{% endif %}
					</ul>
				</div><!-- fin lista2columnas-->
				
				
				
					{% if object.chronicle_set.all %}
					<h2>Adventure's chronicles:</h2>
				
					<div class="lista1columna">
					<ul>
					{% for chronicle in object.chronicle_set.all %}
						
						<li><a href="/chronicle/{{chronicle.slug}}">{{chronicle.name}}.</a></li>
					{% endfor %}
					</ul>
				</div>
					{% endif %}				
						

	
				<!-- fin lista2columnas-->
				
</div>
{% endblock %}

