{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Aventuras</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character" >Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure" class="seleccion">Adventures</a></li> 
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>

        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="East Mark Codex" /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of all the knowledge of the East Mark.
			</div><!-- fin logo -->
			
			
{% endblock %}

{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;</span> <a href="/adventure">Adventures</a></div>
				
				<div id="central">
					<h1>Available adventures</h1>
			
                {% for object in results %}

       			<!-- Resultado Adventures -->
					<h2>
						<img src="/ima/ico-portada-aventura.png" alt="adventures"/><a href="/adventure/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published under <a href="/adventure/">Adventures</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
			<p class="detalles-listado">
						<b>Game sessions:</b>  {{object.sessions|default_if_none:"--"}} - <b>Level:</b>  {{object.minlevel|default:"*"}} to {{object.maxlevel|default:"*"}} - <b>No. of players:</b>  {{object.minnumplayers|default:"*"}} to {{object.maxnumplayers|default:"*"}} - <b>Price:</b>  {{object.get_price_display|default_if_none:"--"}}
					</p>


					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                {% endfor %}


					<div id="navegacion-resultados">
						
						<ul id="pagina">

                            {% if results.has_previous %}
							<li class="siguiente"> <a href="?page=1">« First</a></li>
                            <li class="siguiente"><a href="?page={{ results.previous_page_number }}">« Previous</a>   </li>
                            {% else %}
                            <li class="anterior-off">« First</a></li>
                            <li class="anterior-off">« Previous</li>
							{% endif %}

							<li class="activo">Page {{ results.number }} of {{ results.paginator.num_pages }}</li>

                             {% if results.has_next %}
							<li class="siguiente"> <a href="?page={{ results.next_page_number }}">Next »</a></li>

							<li class="siguiente"><a href="?page={{results.paginator.num_pages}}">Last »</a></li>
                            {% else %}
                            <li class="anterior-off">Next »</li>
                            <li class="anterior-off">Last »</li>
                            {% endif %}
						</ul>
						
							
					</div>
					
					
					
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		

{% endblock %}		
