<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title></title>
		<meta name='title' content=''/>
		<meta name='description' content=''/>
 
		<meta name="author" content=""/>
		<meta name="language" content="spanish"/>
		<meta name="revisit" content="10 day"/>
		<meta name="distribution" content="global"/>

		<meta name="robots" content="All"/>
		<meta http-equiv="pragma" content="no-cache"/>
		<meta http-equiv="expires" content="-1"/>		
        <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen" />
		
			
        		
	</head>

<body> 
<div id="contenedor">
		<div id="cabecera">
			<div id="menu">
				<ul>	     
					<li><a href="index.html">El Codex</a></li>	
					<li><a href="personaje.html">Personaje</a></li>	 
					<li><a href="bestiario.html" class="seleccion">Bestiario</a></li>	
					<li><a href="lugar.html">Lugar</a></li>
					<li><a href="aventura.html">Aventura</a></li>	
					<li><a href="objeto.html">Objetos</a></li>	
					<li><a href="cronica.html">Crónica</a></li>	
					<li><a href="enviar-info.html">Enviar info</a></li>	
					<li><a href="contactar.html">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="#"><img src="ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			
			<div id="busqueda-simple">
				<form action="">
					<select>					  
						<option value="todo">Todo</option>
						<option value="Personaje">Personaje</option>
						<option value="Bestiario">Bestiario</option>
						<option value="Lugar">Lugar</option>
						<option value="Aventura">Aventura</option>
						<option value="Objetos">Objetos</option>
						<option value="Crónica">Crónica</option>					   
					</select>
					
					<input class="barra_busqueda" type="text" name="LastName" value="texto de ejemplo" />
					
					<input class="boton_buscar" type="submit" value="Buscar" />
					<div id="ir-busqueda-avanzada"><a href="#">Busqueda<br/>avanzada</a></div><!-- fin logo -->
				</form>
				
			</div><!-- fin busqueda-simple -->
			
			
			
		</div><!-- fin cabecera -->
		
		

		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="#">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Bestiario</a></div>
				
				<h1>Can de la muerte</h1>
				
				<div class="lista3columnas" id="list-detalle">
					<ul>					
						<li><b>CA:</b> 7</li>
				
						<li><b>TS:</b> Guerrero 1</li>
						
						<li><b>Valor PX:</b> 35</li>
						
						<li><b>Dados de golpe:</b> 2+1</li>
						
						<li><b>Moral:</b> 7</li>
										
						<li><b>Idiomas:</b> -</li>								
								
						<li><b>Movimiento:</b> 12m</li>
						
						<li><b>Alineamiento:</b> Caótico</li>
						
					</ul>
				</div><!-- fin caract-->
				
				<h2>Ataques: <span>(Entre parentesis el daño)</span></h2>

				<p>2 mordiscos ( 1d10  cada mordisco)</p>
				
				<h2>Descripción:</h2>
				<p>
					Los canes de la muerte son sabuesos negros de dos cabezas, las cuales atacan de manera independiente. Habitualmente cazan en manada, en desiertos o en zonas bajo tierra.
				</p><p>
					Atacan mordiendo a sus presas. Su mordisco transmite una enfermedad de putrefacción que matará al objetivo en 4d6 días a no ser que supere una salvación contra veneno. Curar enfermedad es un remedio eficaz contra este efecto.
				</p><p>
					Al atacar suelen intentar morder las piernas de su víctima -un resultado de 19 o 20 en el dado contra una víctima de tamaño humano o menor dará como resultado que sea derribada, quedando tumbada en el suelo. La víctima sufrirá un penalizador de -4 a las tiradas de ataque hasta que logre ponerse en pie (lo que podrá hacer en un asalto si no es derribado de nuevo).
				</p><p>
					Estos crueles sabuesos, que habitualmente atacan a los humanos o semihumanos nada más verlos (85% de posibilidades), se dice que son descendientes de Cerbero; su penetrante aullido doble tiende a dar apoyo a esta teoría.
				</p>

				<h2>Nota del autor:</h2>
				<p>
					Los canes de la muerte son sabuesos negros de dos cabezas, las cuales atacan de manera independiente. Habitualmente cazan en manada, en desiertos o en zonas bajo tierra.
				</p><p>
					Atacan mordiendo a sus presas. Su mordisco transmite una enfermedad de putrefacción que matará al objetivo en 4d6 días a no ser que supere una salvación contra veneno. Curar enfermedad es un remedio eficaz contra este efecto.
				</p><p>
					Al atacar suelen intentar morder las piernas de su víctima -un resultado de 19 o 20 en el dado contra una víctima de tamaño humano o menor dará como resultado que sea derribada, quedando tumbada en el suelo. La víctima sufrirá un penalizador de -4 a las tiradas de ataque hasta que logre ponerse en pie (lo que podrá hacer en un asalto si no es derribado de nuevo).
				</p><p>
					Estos crueles sabuesos, que habitualmente atacan a los humanos o semihumanos nada más verlos (85% de posibilidades), se dice que son descendientes de Cerbero; su penetrante aullido doble tiende a dar apoyo a esta teoría.
				</p>
				
				

			</div><!-- fin columna-izq -->
			
			<div id="columna-der">
				<div id="canon">
					<div id="nivel-canon">Nivel de Canon</div>				
					<div id="ima-canon"><img src="ima/canon/canon-apocrifo.jpg" alt="icono" height="68px" width="68px"/></div>				
					<div id="denominacion-canon">Apócrifo<div id="que"><a href="#">¿Qué es esto?</a></div></div>				
				</div><!-- fin canon -->
				
				<div id="expo-ima">
					<div id="ima-grande">
						<a href="#"><img src="ima/bestiario/can-de-la-muerte.jpg" alt="icono" height="230px" width="350px"/></a>
					</div>
					<!-- 
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
				<div id="firma-ima">
					<b>Autor de la ilustración</b>: Un Makina - <a href="#">www.elmaquina.com</a>
				</div><!-- fin expo-ima -->
				
				<h2>Valor de tesoros:</h2>	
					<p>
						40 mo, 15 mp. 3 aguamarinas (50mo)
						
					</p>
				
				<h2>Lugares habituales:</h2>
				<div class="lista2columnas">
					<ul>
						
						<li><a href="#">Robleda</a></li>
						<li><a href="#">Robleda</a></li>
						<li><a href="#">Robleda</a></li>
						
					</ul>
				</div><!-- fin lista2columnas-->
				
				<h2>Aliados:</h2>
				<div class="lista2columnas">
					<ul>
						
						<li><a href="#">Can de fuego</a></li>
						<li><a href="#">Can de fuego</a></li>
						<li><a href="#">Can de fuego</a></li>
						<li><a href="#">Can de fuego</a></li>
						
					</ul>
				</div><!-- fin lista2columnas-->
				
				<h2>Enemigos:</h2>
				<div class="lista2columnas">
					<ul>
						
						<li><a href="#">Goblin guerrero</a></li>
						<li><a href="#">Goblin explorador</a></li>
						<li><a href="#">Goblin hechicero</a></li>
						
					</ul>
				</div><!-- fin lista2columnas-->
				
				
				
				<div class="resaltado">Sobre el artículo:</div>				
				<div class="resaltado-cont">
					<p>
						<b>Fecha de creación:</b> 11 Diciembre 2011
					</p>
					<p>
						<b>Última actualización:</b> 20 Enero 2012
					</p>
					<p>
						<b>Autor:</b> Steinkel - <a href="#">www.lamarcadeleste.com</a>
					</p>
				</div>
				
				<div class="resaltado">Lecturas relacionadas:</div>
				<div class="resaltado-cont">
					<p>
						<a href="#"><b>[Personaje]</b> Lorem ipsum dolor amet, consec tetur elit.</a>
					</p>
					<p>
						<a href="#"><b>[Personaje]</b> Lorem ipsum dolor amet, consec tetur elit.</a>
					</p>
					<p>
						<a href="#"><b>[Personaje]</b> Lorem ipsum dolor amet, consec tetur elit.</a>
					</p>
				</div>	
				
				

				
				
		
			</div><!-- fin columna-izq_portada -->
			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
		

		<div id="pie"> 
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
				</div><!-- fin validaciones -->
		</div><!-- fin pie -->
	</div><!-- fin contenedor -->

</body>
</html>		
