{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Búsqueda Avanzada</title>
{% endblock %}

		<div id="cabecera">
			<div id="menu">
				<ul>	     
					<li><a href="index.html">El Codex</a></li>	
					<li><a href="personaje.html">Personajes</a></li>	 
					<li><a href="bestiario.html" >Bestiario</a></li>	
					<li><a href="lugar.html">Lugares</a></li>
					<li><a href="aventura.html">Aventuras</a></li>	
					<li><a href="objeto.html" >Objetos</a></li>	
					<li><a href="cronica.html" >Crónicas</a></li>	
					<li><a href="enviar-info.html">Enviar info</a></li>	
					<li><a href="contactar.html">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			
			<div id="busqueda-simple">
				<div id="form-busqueda-simple">
				<form action="/search/" METHOD=GET>
					<select name="option">					  
						<option value="all">Todo</option>
						<option value="character">Personaje</option>
						<option value="creature">Bestiario</option>
						<option value="location">Lugar</option>
						<option value="adventure">Aventura</option>
						<option value="object">Objeto</option>
						<option value="chronicle">Crónica</option>					   
					</select>
					
					<input class="barra_busqueda" type="text" name="searchterm" value="" />
					
					<input class="boton_buscar" type="submit" value="Buscar" />
				</form>
				</div>
				<div id="ir-busqueda-avanzada"><a href="/advancedsearch">Busqueda<br/>avanzada</a></div>
			</div><!-- fin busqueda-simple -->
			
		</div><!-- fin cabecera -->
		

		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/advancedsearch">Búsqueda<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div> 
				
				<div id="central">
				<form action="">	
					<h2 class="titulo-formulario-avanzado">			
						Evaluación:						
					</h2>
					<div class="formulario-avanzado-2-columnas" >
					<select name="canon_level">
						  <option value="ALL">Cualquiera</option>
						  <option value="NEW">Nuevo</option>
						  <option value="AP">Apócrifo</option>
						  <option value="APC">En estudio</option>
						  <option value="C">Canon</option>
					</select> 
					</div>
					
					
					<div style="clear: both"></div>
					
					<!--
					<div class="formulario-avanzado-2-columnas">
						<select>
						  <option value="todo">Cualquiera</option>
						  <option value="personaje">Personaje</option>
						  <option value="bestiario">Bestiario</option>
						  <option value="lugar">Lugar</option>
						  <option value="aventura">Aventura</option>
						  <option value="objetos">Objetos</option>
						  <option value="cronica">Crónica</option>
						 </select> 
					</div>
					-->
					
<!-- usual1 -->		<div id="usual1" class="usual">
					
						<ul> 
						 <li><a class="selected" href="#todo">Todo</a></li> 
						 <li><a href="#personaje"><img alt="personajes" src="/ima/ico-personajes.png"/> Personaje</a></li> 
						 <li><a href="#bestiario"><img alt="bestiario" src="/ima/ico-bestiario.png"/> Bestiario</a></li> 
						 <li><a href="#lugar"><img alt="lugar" src="/ima/ico-lugar.png"/> Lugar</a></li> 
						 <li><a href="#objetos"><img alt="objeto" src="/ima/ico-objetos.png"/> Objetos</a></li> 
						 <li><a href="#aventura"><img alt="aventura" src="/ima/ico-aventura.png"/> Aventura</a></li> 
						 <li><a href="#cronica"><img alt="cronica" src="/ima/ico-cronica.png"/> Crónica</a></li> 
					 </ul> 
					 <div style="clear: both"></div>
					  	<div id="todo"> </div>
						<div id="personaje">
										<h2 class="titulo-formulario-avanzado" >			
											Especie:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="Hum">Humano</option>
											  <option value="Elf">Elfo</option>
											  <option value="En">Enano</option>
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado" >			
											Nivel:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										<div style="clear: both"></div>
										<h2 class="titulo-formulario-avanzado">			
										Profesión:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										
												
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										<div style="clear: both"></div>				
										<h2 class="titulo-formulario-avanzado">			
										Lugares:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
						
						</div>
						
						<div id="bestiario">
										<h2 class="titulo-formulario-avanzado" >			
											Valor PX:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
                                        <input style="padding: 5px 5px; font-size:16px;width:50px;" type="text" name="crea_minpx" />
										</div>
										
										<h2 class="titulo-formulario-avanzado" >			
											CA:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										<div style="clear: both"></div>
										<h2 class="titulo-formulario-avanzado">			
										DG:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado">			
										Movimiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
												
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										<div style="clear: both"></div>				
										<h2 class="titulo-formulario-avanzado">			
										Lugares:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
						</div>
						<div id="lugar">
										<h2 class="titulo-formulario-avanzado">			
										Tipo:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado">			
										Estado:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
												
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
						</div>
						<div id="objetos">
										<h2 class="titulo-formulario-avanzado" >			
											Tipo:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado" >			
											Rareza:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										<div style="clear: both"></div>
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado">			
										Estado:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>				
										<h2 class="titulo-formulario-avanzado">			
										Lugares:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
						
						</div>
						<div id="aventura">
										<h2 class="titulo-formulario-avanzado" >			
											Nivel:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado" >			
											Nº jugadores:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										<div style="clear: both"></div>
										<h2 class="titulo-formulario-avanzado">			
										Precio:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
										
										<h2 class="titulo-formulario-avanzado">			
										Sesiones de juego:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>		
							
							
						</div> 

						<div id="cronica">				
										<h2 class="titulo-formulario-avanzado">			
										Aventuras:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select>
											  <option value="all">Todas</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											 </select> 
										</div>
						</div>
					</div> 
<!-- fin usual1 -->						 
					
					
					<script type="text/javascript"> 
					  $("#usual1").idTabs(function(id,list,set){ 
					    $("a",set).removeClass("selected") 
					    .filter("[href='"+id+"']",set).addClass("selected"); 
					    for(i in list) 
					      $(list[i]).hide(); 
					    $(id).fadeIn(); 
					    return false; 
					  }); 
					</script>

					<div style="clear: both"></div>
					
					<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text" name="fname" />
					</div>
					
					
					<div style="clear: both"></div>
					<div style="clear: both; text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
					
					</form>
					
					<div style="clear:all;float:none; width:850px;">
					
					
			  <br /><br />
  
			
	</div> 				
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
		

		<div id="pie"> 
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
				</div><!-- fin validaciones -->
		</div><!-- fin pie -->
	</div><!-- fin contenedor -->

</body>
</html>		
