{% extends "base.html" %}
{% block title %}
<title>Codex de la Marca del Este - Personaje - {{object.name}}</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
					<li><a href="/">The Codex</a></li>	
					<li><a href="/character" class="seleccion">Characters</a></li>
					<li><a href="/creature">Bestiary</a></li>	
					<li><a href="/location">Locations</a></li>
					<li><a href="/object">Objects</a></li>	
					<li><a href="/adventure">Adventures</a></li>	
					<li><a href="/chronicle">Chronicles</a></li>
					<li><a href="/spell" >Spells</a></li>
					<li><a href="/rule" >Rules</a></li>
					<li><a href="/fanart" >Fan Art</a></li>
					<li><a href="/send_info">Send entry</a></li>	
					<li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures of the East Mark Codex." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			
		
{% endblock %}

{% block leftcontent %}
		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/character">Character</a></div>
				
				<h1><img src="/ima/ico-portada-personaje.png" alt="personaje"/>{{object.name}}
                {% if user.is_authenticated and user.is_staff %}
                <a href="/scriptorium/web/character/{{object.id}}">[editar]</a>
                {% endif %}
                </h1>
                {% if object.quote %}
                <div id="quote">{{object.quote|safe}}</div>
                {% endif %}
				<p>{{object.description|safe}}
				</p>

                {% if object.strengthstat %}
				<h2>Characteristics:</h2>
				
				<div class="lista3columnas">
					<ul>
						<li><b>STRENGTH:</b>
						  {% if object.strengthstat %}
						  {{object.strengthstat}}
						  {% else %}-
						  {% endif %}
						</li>
						<li><b>CONSTITUTION:</b>
						  {% if object.constitutionstat %}
						  {{object.constitutionstat}}
						  {% else %}-
						  {% endif %}
						</li>
						<li><b>WISDOM:</b>
						  {% if object.wisdomstat %}
						  {{object.wisdomstat}}
						  {% else %}-
						  {% endif %}
						  </li>
						<li><b>DEXTERITY:</b>
						   {% if object.dexteritystat %}
						  {{object.dexteritystat}}
						  {% else %}-
						  {% endif %}
						  </li>
						<li><b>INTELLIGENCE:</b>
						  {% if object.intelligencestat %}
						  {{object.intelligencestat}}
						  {% else %}-
						  {% endif %}
						  </li>
						<li><b>CHARISMA:</b>
						  {% if object.charismastat %}
						  {{object.charismastat}}
						  {% else %}-
						  {% endif %}
						</li>
	        		</ul>
				
				</div><!-- fin caract-->
				{% endif %}

				<h2>Details:</h2>

				<div class="lista3columnas" id="list-detalle">
					<ul>
						<li><b>Sex:</b> {{object.get_gender_display|default_if_none:"--"}}</li>
						<li><b>Level:</b> {{object.level|default_if_none:"--"}}</li>
						<li><b>First appearance:</b> {{object.startdate|default_if_none:"--"}}</li>
						<li><b>Age:</b> {{object.age|default:"--"}}</li>
						<li><b>AC:</b> {{object.AC|default:"--"}}</li>
						<li><b>Status:</b> {{object.get_status_display|default_if_none:"--"}}</li>
						<li><b>Species:</b> {{object.get_species_display|default_if_none:"--"}}	</li>
						<li><b>Movement:</b> {{object.move|default:"--"}}</li>
						<li><b>Type:</b> {{object.get_pncorpc_display|default_if_none:"--"}}</li>
						
						<li><b>Class:</b> {{object.get_profession_display|default_if_none:"--"}}</li>
						<li><b>Morale:</b> {{object.moral|default_if_none:"--"}}</li>
						<li><b>Languages:</b>
                          {% if object.languages.all%}
       					  {% for language in object.languages.all %}
    					   {% if forloop.first %}
						  {{language.name}}
					   {% endif %}
    					   {% if forloop.last and forloop.last != forloop.first %}
    						 y {{language.name}}
					   {% endif %}
    					   {% if not forloop.last and not forloop.first %}
    						, {{language.name}}{% endif %}
    					  {% endfor %}
                        {% else %}
                            --
                        {% endif %}
						</li>
						<li><b>ST:</b> {{object.get_saveroll_display|default_if_none:"--"}}</li>
						<li><b>Alignment:</b> {{object.get_alignment_display|default_if_none:"--"}}	</li>
						<!--<li><b>Religión:</b>
						  {% for religion in object.religion.all %}
						  {{religion.name }},
						  {% endfor %}
						</li>-->
						<li><b>Hit points:</b> {{object.hitpoints|default:"--"}}</li>
						<li style="width: 300px"><b>Lugares:</b>&nbsp;
                        {% if object.relatedlocation.all %}
    					  {% for rlocation in object.relatedlocation.all %}
    					   {% if forloop.first %}
    						<a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    						{% if forloop.last and forloop.last != forloop.first %}
    						 y <a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    						{% if not forloop.last and not forloop.first %}
    						, <a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    					{% endfor %}
                        {% else %}
                            --
                        {% endif %}
						  </li>
						</ul>
				</div><!-- fin caract-->
				
				{% if object.weapons %}				
				<h2>Attacks:</h2>
				<p>{{object.weapons|safe}}</p>
				{% endif %}
                {% if object.comments %}				
                <h2>Comments:</h2>
                <p>{{object.comments|safe}}</p>		
				{% endif %}
				
				

			</div><!-- fin columna-izq -->
{% endblock %}
{% block rightcontent %}			
		
				
                {% if object.image.all %}
				<div id="expo-ima">
					  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/>
						
				</div>
					<!--
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				<div id="firma-ima">

                    {% if image.author.all %}
					<b>Image author</b>:
                    {% for author in image.author.all%}
					   {% if forloop.first %}
                        <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if forloop.last and forloop.last != forloop.first %}
						 y <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if not forloop.last and not forloop.first %}
						, <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
					{% endfor %}
                    {% endif %}


				</div><!-- fin expo-ima -->
					{% endif %}

				{% endfor %}

                {% else %}

				{% endif %}
                <div style="clear: both"></div>
                {% if object.relatedobject.all %}
				<h2>Special items:</h2>



				<div class="lista2columnas">

					<ul>
                        {% for relatedobject in object.relatedobject.all %}
						{% if relatedobject.rarity != "C" %}<li><a href="/object/{{relatedobject.slug}}">{{relatedobject.name}}</a></li>{% endif %}

                        {% endfor %}
					</ul>
				</div><!-- fin lista2columnas-->
				{% endif %}
		

                {% if object.relatedobject.all %}
       				<h2>Equipment:</h2>
       				
				<div class="lista2columnas">

					<ul>
                        {% for relatedobject in object.relatedobject.all %}
						{% if relatedobject.rarity == "C" %}<li><a href="/object/{{relatedobject.slug}}">{{relatedobject.name}}</a></li>{% endif %}

                        {% endfor %}
					</ul>
				</div><!-- fin lista2columnas-->
                {% endif %}


				 {% if object.treasurevalue %}
				<h2>Money and gems:</h2>
				<p>

						  {{object.treasurevalue}}
						

				</p>
				 {% endif %}

                {% if relatedcharacters2 or relatedcharacters1 %}
				<h2>Allies and family:</h2>
				<div class="lista2columnas">
					<ul>
					  {% for relation in relatedcharacters2 %}
					  {% if relation.relation21 in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEELORDUNDERLINGFELLOW" %}
						<li>{{relation.get_relation21_display}} de <a href="/character/{{relation.character1.slug}}">{{relation.character1.name}}</a></li>
						{% endif %}
					{% endfor %}
	 				 {% for relation in relatedcharacters1 %}
					  	{% if relation.relation21 in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEELORDUNDERLINGFELLOW" %}
						<li>{{relation.get_relation12_display}} de <a href="/character/{{relation.character2.slug}}">{{relation.character2.name}}</a></li>
						{% endif %}

					{% endfor %}
				
					</ul>
				</div><!-- fin lista2columnas-->
                {% endif %}
				
                {% if relatedcharacters2 or relatedcharacters1 %}
				<h2>Enemies:</h2>
				<div class="lista2columnas">
					<ul>
					  {% for relation in relatedcharacters2 %}
					  {% if relation.relation21 in "NEMESISENEMY" %}
						<li>{{relation.get_relation21_display}} de <a href="/character/{{relation.character1.slug}}">{{relation.character1.name}}</a></li>
						{% endif %}
					{% endfor %}
					  {% for relation in relatedcharacters1 %}
					  	{% if relation.relation21 in "NEMESISENEMY" %}
						<li>{{relation.get_relation12_display}} de <a href="/character/{{relation.character2.slug}}">{{relation.character2.name}}</a></li>
						{% endif %}

					{% endfor %}
						
					</ul>
				</div><!-- fin lista2columnas-->
                {% endif %}
</div><!-- fin contenedor -->
{% endblock %}		
