{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Personajes</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
					<li><a href="/">El Codex</a></li>	
					<li><a href="/character"  class="seleccion">Personajes</a></li>
					<li><a href="/creature">Bestiario</a></li>	
					<li><a href="/location">Lugares</a></li>
					<li><a href="/object">Objetos</a></li>	
					<li><a href="/adventure">Aventuras</a></li>	
					<li><a href="/chronicle">Crónica</a></li>
					<li><a href="/spell" >Conjuros</a></li>
					<li><a href="/rule" >Reglas</a></li>
					<li><a href="/fanart" >Fan Art</a></li>
					<li><a href="/send_info">Enviar info</a></li>	
					<li><a href="/contact">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de Aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			

{% endblock %}

{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-articulos" >	

			<div id="columna-izq_portada" style="padding-top:0px;">
					<div id="volver">
					<span>
					<a href="/">Volver a inicio</a>
					&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					</span>
					Personajes
					</div>
				
				<div id="quote">Esta sección contiene personajes creados para Aventuras en La Marca del Este. </div>
				<p>
					Os presentamos los últimos tres personajes que fueron añadidas al Codex, un personaje destacado de entre un subconjunto del total y el buscador avanzado para que sea sencillo encontrar exactamente lo que uno necesita. Los personajes están relacionados con objetos (normalmente su equipo), lugares y otros personajes mediante relaciones específicas.
				</p>
				<div id="novedades-categorias">
					Novedades
				</div>
                <div class="elemento-portada-categoria">
                {% for object in results|slice:":3" %}

				
				<h2><img src="/ima/ico-portada-personaje.png" alt="personaje"/><a href="/character/{{object.slug}}">{{object.name}}</a></h2>
				<p class="sub-text">{{object.last_updated.date}}. Canon: {{object.get_canon_level_display}}</p>
				<p class="intro">{{object.description|safe|truncatewords:70}}</p>

                {% endfor %}
				

				<p class="ver"><a href="/character/all">Ver todos [+]</a></p>
				</div>
				
			</div><!-- fin columna-izq_portada -->

			<div id="columna-der_portada" style="padding-top:0px;">
				<div>
					<img src="/ima/banner-categoria-personaje.jpg" alt="personaje"  style="float:none;"/>
					<br/><br/>
				</div>
				

				<div>
				<h1>Destacado</h1>
				</div>
				<div class="elemento-portada-categoria">					
				<h2>
				<img alt="personaje" src="/ima/ico-portada-personaje.png" />
				<a href="/character/{{highlightedresult.slug}}">{{highlightedresult.name}}</a>
				</h2>
				<p class="sub-text">{{highlightedresult.last_updated.date}}. Canon: {{highlightedresult.get_canon_level_display}}</p>
				<p class="intro">
                {% for image in highlightedresult.image.all %}
					    {% if forloop.first %}
					<a href="#"><img width="290px" height="190px" alt="icono" src="{{ MEDIA_URL }}{{image.image.name}}" /></a>
                        {% endif %}
                {% endfor %}
				{{highlightedresult.description|safe|truncatewords:200}}
				</p>
								
								
				<p class="ver"><a href="/character/{{highlightedresult.slug}}">Seguir leyendo [+]</a></p>
				</div>			
				
				<div style="clear: both"></div>
				
				<div>
				<h1>Búsqueda avanzada</h1>
				</div>
				<div id="elemento-formulario-categoria">
			<form action="/resadvancedsearch/" METHOD=GET>

<!-- Separador-->	<div style="clear: both"><br/></div>

				<h2 class="titulo-formulario-avanzado" >			
						Palabras clave:						
					</h2>
						
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
					</div>
					
<!-- Separador-->	<div style="clear: both"><br/></div>
					
				<h2 class="titulo-formulario-avanzado">	

							<input type="hidden" name="option" value="character">
										Evaluación:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="canon_level">
	    					  <option value="ALL">Cualquiera</option>
	    					  <option value="NEW">Nuevo</option>
	    					  <option value="AP">Apócrifo</option>
	    					  <option value="APC">En estudio</option>
	    					  <option value="C">Canon</option>
	    				</select>
										</div>
										
									<h2 class="titulo-formulario-avanzado" >			
											Especie:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="char_species">
											  <option value="ALL">Todas</option>
                                              {% for specie in SPECIES_CHOICES %}
                                              <option value={{specie.0}}>{{specie.1}}</option>
                                              {% endfor %}
											 </select>
										</div>
	<!-- Separador-->	<div style="clear: both"><br/></div>
										<h2 class="titulo-formulario-avanzado" >			
											Nivel Mínimo:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="char_minlevel">
											  <option value="ALL">Todas</option>
                                              {% for level in LEVEL_CHOICES %}
                                              <option value={{level.0}}>{{level.1}}</option>
                                              {% endfor %}
											 </select>
										</div>

										<h2 class="titulo-formulario-avanzado">			
										Profesión:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
										
												<select name="char_profession">
											  <option value="ALL">Todas</option>
                                              {% for profession in PROFESSION_CHOICES %}
                                              <option value={{profession.0}}>{{profession.1}}</option>
                                              {% endfor %}
											 </select>
										</div>
										
		<!-- Separador-->	<div style="clear: both"><br/></div>											
										<h2 class="titulo-formulario-avanzado">			
										Alineamiento:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
												<select name="char_alignment">
											  <option value="ALL">Todas</option>
                                              {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select>
										</div>
<!-- Separador-->	<div style="clear: both"><br/></div>			
										<h2 class="titulo-formulario-avanzado">			
										Lugares:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select name="char_location">
											  <option value="ALL">Todas</option>
                                              {% for location in locations %}
											  <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
											 </select>
										</div>
										
<!-- Separador-->	<div style="clear: both"><br/></div>
					<div style="text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
				</form>
			</div> <!-- fin elemento-formulario-categoria  -->
			</div><!-- fin columna-der_portada  -->
	</div><!-- fin contenido-artuculos -->
		</div><!-- fin contenido -->
		
		
		

		<div id="pie">
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a
href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a
href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
					<br/><br/>
					<span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica	 - Diseño: <a
href="http://jagvalverde.com/">Jose Valverde</a></span>
				</div><!-- fin validaciones -->
		</div><!-- fin pie -->
	</div><!-- fin contenedor -->
{% endblock %}		
