{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Personajes</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character" class="seleccion">Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de Aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			

{% endblock %}

{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-articulos" >	

			<div id="columna-izq_portada" style="padding-top:0px;">
					<div id="volver">
					<span>
					<a href="/">Home</a>
					&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					</span>
					Characters
					</div>
				
				<div id="quote">In this section you will find characters created for Adventures in the East Mark. </div>
				<p>
					Here you can find the last three characters added to the Codex, a random character selected from the best available and the advanced search. Characters may be linked with different objects (mostly equipment), locations where they may be found and other characters.
				</p>
				<div id="novedades-categorias">
					Lastest submissions
				</div>
                <div class="elemento-portada-categoria">
                {% for object in results|slice:":3" %}

				
				<h2><img src="/ima/ico-portada-personaje.png" alt="personaje"/><a href="/character/{{object.slug}}">{{object.name}}</a></h2>
				<p class="sub-text">{{object.last_updated.date}}. Canon: {{object.get_canon_level_display}}</p>
				<p class="intro">{{object.description|safe|truncatewords:70}}</p>

                {% endfor %}
				

				<p class="ver"><a href="/character/all">See all [+]</a></p>
				</div>
				
			</div><!-- fin columna-izq_portada -->

			<div id="columna-der_portada" style="padding-top:0px;">
				<div>
					<img src="/ima/banner-categoria-personaje.jpg" alt="personaje"  style="float:none;"/>
					<br/><br/>
				</div>
				

				<div>
				<h1>Featured</h1>
				</div>
				<div class="elemento-portada-categoria">					
				<h2>
				<img alt="personaje" src="/ima/ico-portada-personaje.png" />
				<a href="/character/{{highlightedresult.slug}}">{{highlightedresult.name}}</a>
				</h2>
				<p class="sub-text">{{highlightedresult.last_updated.date}}. Canon: {{highlightedresult.get_canon_level_display}}</p>
				<p class="intro">
                {% for image in highlightedresult.image.all %}
					    {% if forloop.first %}
					<a href="#"><img width="290px" height="190px" alt="icono" src="{{ MEDIA_URL }}{{image.image.name}}" /></a>
                        {% endif %}
                {% endfor %}
				{{highlightedresult.description|safe|truncatewords:200}}
				</p>
								
								
				<p class="ver"><a href="/character/{{highlightedresult.slug}}">Read more [+]</a></p>
				</div>			
				
				<div style="clear: both"></div>
				
				<div>
				<h1>Advanced search</h1>
				</div>
				<div id="elemento-formulario-categoria">
			<form action="/resadvancedsearch/" METHOD=GET>

<!-- Separador-->	<div style="clear: both"><br/></div>

				<h2 class="titulo-formulario-avanzado" >			
						Keywords:						
					</h2>
						
					<div class="formulario-avanzado" >
						<input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
					</div>
					
<!-- Separador-->	<div style="clear: both"><br/></div>
					
				<h2 class="titulo-formulario-avanzado">	

							<input type="hidden" name="option" value="character">
										Canon level:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="canon_level">
	    					  <option value="ALL">All</option>
	    					  <option value="NEW">New</option>
	    					  <option value="AP">Apocryphal</option>
	    					  <option value="APC">Under study</option>
	    					  <option value="C">Canon</option>
	    				</select>
										</div>
										
									<h2 class="titulo-formulario-avanzado" >			
											Species:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="char_species">
											  <option value="ALL">All</option>
                                              {% for specie in SPECIES_CHOICES %}
                                              <option value={{specie.0}}>{{specie.1}}</option>
                                              {% endfor %}
											 </select>
										</div>
	<!-- Separador-->	<div style="clear: both"><br/></div>
										<h2 class="titulo-formulario-avanzado" >			
											Min level:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
											<select name="char_minlevel">
											  <option value="ALL">All</option>
                                              {% for level in LEVEL_CHOICES %}
                                              <option value={{level.0}}>{{level.1}}</option>
                                              {% endfor %}
											 </select>
										</div>

										<h2 class="titulo-formulario-avanzado">			
										Class:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
										
												<select name="char_profession">
											  <option value="ALL">All</option>
                                              {% for profession in PROFESSION_CHOICES %}
                                              <option value={{profession.0}}>{{profession.1}}</option>
                                              {% endfor %}
											 </select>
										</div>
										
		<!-- Separador-->	<div style="clear: both"><br/></div>											
										<h2 class="titulo-formulario-avanzado">			
										Alignment:						
										</h2>
										<div class="formulario-avanzado-2-columnas">
												<select name="char_alignment">
											  <option value="ALL">All</option>
                                              {% for align in ALIGN_CHOICES %}
                                              <option value={{align.0}}>{{align.1}}</option>
                                              {% endfor %}
											 </select>
										</div>
<!-- Separador-->	<div style="clear: both"><br/></div>			
										<h2 class="titulo-formulario-avanzado">			
										Locations:						
										</h2>
										<div class="formulario-avanzado-1-columnas">
											<select name="char_location">
											  <option value="ALL">All</option>
                                              {% for location in locations %}
											  <option value="{{location.id}}">{{location.name}}</option>
                                              {% endfor %}
											 </select>
										</div>
										
<!-- Separador-->	<div style="clear: both"><br/></div>
					<div style="text-align: center">
						<input class="boton_buscar" type="submit" value="Buscar" style="font-size: 22px;height: 38px;"/>
					</div>
				</form>
			</div> <!-- fin elemento-formulario-categoria  -->
			</div><!-- fin columna-der_portada  -->
	</div><!-- fin contenido-artuculos -->
		</div><!-- fin contenido -->
		
		
		
{% endblock %}
