{% extends "basebasic.html" %}
{% block title %}
<title>East Mark Codex - Characters</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
					<li><a href="/">The Codex</a></li>	
					<li><a href="/character" class="seleccion">Characters</a></li>
					<li><a href="/creature">Bestiary</a></li>	
					<li><a href="/location">Locations</a></li>
					<li><a href="/object">Objects</a></li>	
					<li><a href="/adventure">Adventures</a></li>	
					<li><a href="/chronicle">Chronicles</a></li>
					<li><a href="/spell" >Spells</a></li>
					<li><a href="/rule" >Rules</a></li>
					<li><a href="/fanart" >Fan Art</a></li>
					<li><a href="/send_info">Send entry</a></li>	
					<li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures in the East Mark Codex." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			

{% endblock %}

{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/character">Characters<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div>
				
				<div id="central">
					<h1>Available characters</h1>
			
                {% for object in results %}
                    <!-- Resultado aventureros -->
					<h2>
						<img src="/ima/ico-portada-personaje.png" alt="personaje"/><a href="/character/{{object.slug}}">{{object.name}}</a>						
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published at <a href="/character">Characters</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">

						<b>Species:</b> {{object.get_species_display|default_if_none:"--"}} - <b>Level:</b> {{object.level|default_if_none:"--"}} - <b>Class:</b> {{object.get_profession_display|default_if_none:"--"}} - <b>Type:</b> {{object.get_pncorpc_display|default_if_none:"--"}} - <b>Alignment:</b> {{object.get_alignment_display|default_if_none:"--"}}
						<br/><b>Locations:</b>
                          {% if object.relatedlocation.all %}
    					  {% for rlocation in object.relatedlocation.all %}
    					   {% if forloop.first %}
    						<a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    						{% if forloop.last and forloop.last != forloop.first %}
    						 y <a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    						{% if not forloop.last and not forloop.first %}
    						, <a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    					{% endfor %}
                        {% else %}
                            --
                        {% endif %}

					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                {% endfor %}

					<div id="navegacion-resultados">
						
						<ul id="pagina">

                            {% if results.has_previous %}
							<li class="siguiente"> <a href="?page=1">« First</a></li>
                            <li class="siguiente"><a href="?page={{ results.previous_page_number }}">« Previous</a>   </li>
                            {% else %}
                            <li class="anterior-off">« First</a></li>
                            <li class="anterior-off">« Previous</li>
							{% endif %}

							<li class="activo">Page {{ results.number }} of {{ results.paginator.num_pages }}</li>

                             {% if results.has_next %}
							<li class="siguiente"> <a href="?page={{ results.next_page_number }}">Next »</a></li>

							<li class="siguiente"><a href="?page={{results.paginator.num_pages}}">Last »</a></li>
                            {% else %}
                            <li class="anterior-off">Next »</li>
                            <li class="anterior-off">Last »</li>
                            {% endif %}
						</ul>
						
							
					</div>
					
					
					
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
{% endblock %}		
