{% extends "base.html" %}
{% block title %}
<title>East Mark Codex - Chronicles - {{object.name}}</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character">Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle" class="seleccion">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			

		
{% endblock %}
{% block leftcontent %}		

		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/chronicle">Chronicle</a></div>
				
				<h1><img src="/ima/ico-portada-cronica.png" alt="crónica"/>{{object.name}}
                {% if user.is_authenticated and user.is_staff %}
                <a href="/scriptorium/web/chronicle/{{object.id}}">[edit]</a>
                {% endif %}


                </h1>
				{% if object.description %}
                <p>{{object.description|safe}}
				</p>
                {% endif %}
                {% if object.comments %}				
                <h2>Nota del autor:</h2>
                <p>{{object.comments|safe}}</p>		
				{% endif %}

			</div><!-- fin columna-izq -->
			
			{% endblock %}
{% block rightcontent %}
                {% if object.image.all %}
				<div id="expo-ima">
					  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/>
						
				</div>
					<!--
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
				<div id="firma-ima">
                    {% if image.author.all %}
					<b>Image Author(s)</b>:
                    {% for author in image.author.all%}
					   {% if forloop.first %}
                        <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if forloop.last and forloop.last != forloop.first %}
						 y <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if not forloop.last and not forloop.first %}
						, <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
					{% endfor %}
                    {% endif %}
				</div><!-- fin expo-ima -->
					{% endif %}




				{% endfor %}
				  {% endif %}
				{% if object.adventure %}
				<div id="boton-gordo">
					
						<a href="/adventure/{{object.adventure.slug}}" class="boton-cronica"> Go to Adventure</a>
				
				</div>
				{% endif %}
                <h2>More info:</h2>
				<div class="lista1columna">
					<ul>						
						
						<li><b>Chronicle website:</b>&nbsp;<a href="{{object.url}}" target="_blank">{{object.url|default:" desconocido"|truncatechars:30}}</a></li>
						
					</ul>
				</div><!-- fin lista2columnas-->
				
				
				
					{% if object.chronicle_set.all %}
					<h2>Other Chronicles for this adventure:</h2>
				
					<div class="lista1columna">
					<ul>
					{% for chronicle in object.chronicle_set.all %}
						
						<li><a href="/chronicle/{{chronicle.slug}}">{{chronicle.name}}.</a></li>
					{% endfor %}
					</ul>
				</div>
					{% endif %}				
						

	
				<!-- fin lista2columnas-->
				
</div>
{% endblock %}
