{% extends "base.html" %}
{% block title %}
<title>Codex de la Marca del Este - Crónica - {{object.name}}</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>	     
					<li><a href="/">El Codex</a></li>	
					<li><a href="/character">Personajes</a></li>	 
					<li><a href="/creature">Bestiario</a></li>	
					<li><a href="/location">Lugares</a></li>
					<li><a href="/object">Objetos</a></li>	
					<li><a href="/adventure">Aventuras</a></li>	
					<li><a href="/chronicle" class="seleccion">Crónicas</a></li>	
					<li><a href="/send_info">Enviar info</a></li>	
					<li><a href="/contact">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			
			<div id="busqueda-simple">
				<div id="form-busqueda-simple">
				<form action="/search/" METHOD=GET>
					<select name="option">					  
						<option value="all">Todo</option>
						<option value="character">Personaje</option>
						<option value="creature">Bestiario</option>
						<option value="location">Lugar</option>
						<option value="object">Objeto</option>
						<option value="adventure">Aventura</option>
						<option value="chronicle">Crónica</option>					   
					</select>
					
					<input class="barra_busqueda" type="text" name="searchterm" value="" />
					
					<input class="boton_buscar" type="submit" value="Buscar" />
				</form>
				</div>
				<div id="ir-busqueda-avanzada"><a href="/advancedsearch">Búsqueda<br/>avanzada</a></div>
			</div><!-- fin busqueda-simple -->

			
			
			
		</div><!-- fin cabecera -->
		
{% endblock %}
{% block content %}		

		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/chronicle">Crónica</a></div>
				
				<h1><img src="/ima/ico-portada-cronica.png" alt="crónica"/>{{object.name}}
                {% if user.is_authenticated and user.is_staff %}
                <a href="/scriptorium/web/chronicle/{{object.id}}">[editar]</a>
                {% endif %}


                </h1>
				{% if object.description %}
                <p>{{object.description|safe}}
				</p>
                {% endif %}
                {% if object.comments %}				
                <h2>Nota del autor:</h2>
                <p>{{object.comments|safe}}</p>		
				{% endif %}

			</div><!-- fin columna-izq -->
			
			<div id="columna-der">
				<div id="canon">
					<div id="nivel-canon">Nivel de Canon</div>				
					<div id="ima-canon"><img src="/ima/canon/canon-{{object.get_canon_level_display}}.jpg" alt="icono" height="68px" width="68px"/></div>
				
{% block canonlightbox %}

<div id="denominacion-canon"> {{object.get_canon_level_display}} <div id="que"><button
id="opener" >¿Qué es esto?</button><!-- <a href="#">¿Qué es
esto?</a>--></div></div>
										
	<div id="dialog" title="Nivel de Canon" style="font-family: Georgia;">
		<p style="font-size: 12px"> <img src="/ima/dialogocanon/sellooro.png"
alt="icono" height="68px" width="68px" style="float: left;
margin-right: 10px"/>
		<span style="font-size: 18px">Canon</span>
		<br/>  Representa contenido de referencia oficial en La Marca del Este y puede ser empleado como tal en aventuras, relatos u obras artísticas. De este contenido responde, en último término, el equipo de autores de La Marca del Este.
		</p>
						
		<p style="font-size: 12px"> <img
src="/ima/dialogocanon/selloplata.png" alt="icono" height="68px"
width="68px" style="float: left; margin-right: 10px"/>
		<span style="font-size: 18px">Apócrifo</span>
		<br/>  Representa contenido que, tras un análisis, es perfectamente válido para ser publicado en el Codex de La Marca pero incumple alguna condición para ser considerado parte del canon. Usualmente, un contenido pasa a ser Aprócrifo cuando no hay un interés particular en dedicar el tiempo en hacerlo consonante con el corpus oficial. Con el tiempo, un contenido Apócrifo puede volver a pasar a un estado de "En estudio" si la circunstancias cambian o el contenido es revisado.
		</p>


		<p style="font-size: 12px"> <img
src="/ima/dialogocanon/sello-nuevo.png" alt="icono" height="68px"
width="68px" style="float: left; margin-right: 10px"/>
		<span style="font-size: 18px">Nuevo</span>
		<br/>  Representa contenido recién dado de alta y que no ha sido aún analizado de ninguna forma. El objetivo del Codex de La Marca es que éste sea un estado de corta duración en todos los casos.
		</p>

		<p style="font-size: 12px"> <img
src="/ima/dialogocanon/sello-nuevo.png" alt="icono" height="68px"
width="68px" style="float: left; margin-right: 10px"/>
		<span style="font-size: 18px">En estudio</span>
		<br/>  Representa un estado transitorio entre Nuevo y Canon/Apócrifo. El estudio sobre su adecuación o no al canon lo realizan los autores de La Marca del Este y pueden requerir de información complementaria al autor del contenido para resolver cualquier duda sobre su origen o sugerir algún cambio para poder adoptarlo como canon.
		</p>
	</div>			

{% endblock %}
</div><!-- fin canon -->
                {% if object.image.all %}
				<div id="expo-ima">
					  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/>
						
				</div>
					<!-- 
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
				<div id="firma-ima">
                    {% if image.author.all %}
					<b>Autor(es) de la ilustración</b>: 
                    {% for author in image.author.all%}
					   {% if forloop.first %} 
                        <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if forloop.last and forloop.last != forloop.first %}
						 y <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if not forloop.last and not forloop.first %}
						, <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
					{% endfor %}
                    {% endif %}
				</div><!-- fin expo-ima -->
					{% endif %}




				{% endfor %}
				  {% endif %}
				{% if object.adventure %}
				<div id="boton-gordo">
					
						<a href="/adventure/{{object.adventure.slug}}" class="boton-cronica"> Ver Aventura</a>
				
				</div>
				{% endif %}
                <h2>Más información:</h2>
				<div class="lista1columna">
					<ul>						
						
						<li><b>Web de la crónica:</b>&nbsp;<a href="{{object.url}}" target="_blank">{{object.url|default:" desconocido"|truncatechars:30}}</a></li>
						
					</ul>
				</div><!-- fin lista2columnas-->
				
				
				
					{% if object.chronicle_set.all %}
					<h2>Crónicas sobre la aventura:</h2>
				
					<div class="lista1columna">
					<ul>
					{% for chronicle in object.chronicle_set.all %}
						
						<li><a href="/chronicle/{{chronicle.slug}}">{{chronicle.name}}.</a></li>
					{% endfor %}
					</ul>
				</div>
					{% endif %}				
						

	
				<!-- fin lista2columnas-->
				

{% endblock %}

