{% extends "basebasic.html" %}
{% block title %}
<title>East Mark Codex - Contact</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character">Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact" class="seleccion">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures in the East Mark Codex." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			

{% endblock %}


{% block content %}
		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> Contact</a></div>
				
				<div id="central">
			
				
					<div class="formulario-avanzado-2-columnas" style="width: 800px;text-align: center">
					<br/>You can contact us sending an email to: <h2>whatever</h2> or <h2>info[@][.]com</h2><br/>
					Twitter: <h2>@eastmarkcodex</h2> or <h2>@xdpublishing</h2><br/>
					G+: <h2><a href="http://google.com/+xdpublishingcom">+xdpublishingcom</a></h2><br/>
					Blog:  <h2><a href="http://xdpublishing.com/blog">xdpublishing.com/blog</a></h2><br/>
					</div>

					<div class="formulario-avanzado-2-columnas" style="width: 800px;text-align: left">
					<br/>The people developing and maintaning the Codex are Angela Rivera Campos @ghilbrae and Pablo Ruiz Múzquiz @diacritica from eXtra-Dimensional Publishing. The design has been made by José Valverde "Valver". This page has the support of Pedro Gil "Steinkel" and David Wilson Brown (eXtra-Dimensional Publishing). <br/>
					</div>

					
					<div style="clear: both"></div>
					<div style="clear: both"></div>
					<div style="clear: both"></div>
					<div style="clear:all;float:none; width:850px;">
			  <br /><br />
	</div> 				
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
{% endblock %}
