{% extends "base.html" %}
{% block title %}
<title>Codex de la Marca del Este - Bestiario - {{object.name}}</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character">Characters</a></li>
                                        <li><a href="/creature" class="seleccion">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			
{% endblock %}

{% block leftcontent %}
		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/creature">Bestiary</a></div>
				
				<h1><img src="/ima/ico-portada-bestiario.png" alt="criatura"/>{{object.name}}
                 {% if user.is_authenticated and user.is_staff %}
                <a href="/scriptorium/web/creature/{{object.id}}">[edit]</a>
                {% endif %}


                </h1>
				
				<div class="lista3columnas" id="list-detalle">
					<ul>					
						<li><b>AC:</b> {{object.AC|default:"--"}}</li>
				
						<li><b>ST:</b> {{object.get_saveroll_display|default_if_none:"--"}}</li>
						
						<li><b>XP Value:</b> {{object.XPvalue|default_if_none:"--"}}</li>
						
						<li><b>Hit dice:</b> {{object.hitdice|default:"--"}}</li>
						
						<li><b>Morale:</b> {{object.get_moral_display|default_if_none:"--"}}</li>
										
						<li><b>Movement:</b> {{object.move|default:"--"}}</li>
						
						<li><b>Alignment:</b> {{object.get_alignment_display|default_if_none:"--"}}</li>
						
					</ul>
				</div><!-- fin caract-->
				{% if object.attacks %}				
				<h2>Atacks:</h2>
				<p>{{object.attacks|safe}}</p>
				{% endif %}

                {% if object.description %}
				<h2>Description:</h2>
				<p>
					{{object.description|safe}}
				</p>
                {% endif %}
		         {% if object.comments %}
				<h2>Comments:</h2>
				<p>
					{{object.comments}}
				</p>
				{% endif %}
				

			</div><!-- fin columna-izq -->
{% endblock %}
{% block rightcontent %}

				{% if object.image.all %}
				<div id="expo-ima">
					  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/>
						
				</div>
					<!--
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				

				<div id="firma-ima">
					{% if image.author.all %}
					<b>Image Author(s)</b>:
                    {% for author in image.author.all%}
					   {% if forloop.first %}
                        <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if forloop.last and forloop.last != forloop.first %}
						 y <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if not forloop.last and not forloop.first %}
						, <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
					{% endfor %}
                    {% endif %}
				</div><!-- fin expo-ima -->
					{% endif %}

				{% endfor %}
                {% endif %}
				<div style="clear: both"></div>
				{% if object.treasurevalue %}
				<h2>Treasure value:</h2>	
					<p>
						{{object.treasurevalue}}
						
					</p>
				{% endif %}
                {% if object.relatedlocation.all %}
				<h2>Locations:</h2>
				<div class="lista2columnas">
    				<ul>	  {% for rlocation in object.relatedlocation.all %}
    					   {% if forloop.first %}
    						<li><a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a></li>
    						{% endif %}
    						{% if forloop.last and forloop.last != forloop.first %}
    						 y <li><a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a></li>
    						{% endif %}
    						{% if not forloop.last and not forloop.first %}
    						, <li><a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a></li>
    						{% endif %}
    					{% endfor %}
                    </ul>
					
				</div><!-- fin lista2columnas-->
				{% endif %}
                {% if relatedcreatures2 or relatedcreatures1 %}
				<h2>Allies:</h2>
				<div class="lista2columnas">
					<ul>
						
					  {% for relation in relatedcreatures2 %}
					  {% if relation.relation21 in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEELEADERUNDERLING" %}
						<li>{{relation.get_relation21_display}} of <a href="/creature/{{relation.creature1.slug}}">{{relation.creature1.name}}</a></li>
						{% endif %}
					{% endfor %}
	 				 {% for relation in relatedcreatures1 %}
					  	{% if relation.relation21 in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEELEADERUNDERLING" %}
						<li>{{relation.get_relation12_display}} of <a href="/creature/{{relation.creature2.slug}}">{{relation.creature2.name}}</a></li>
						{% endif %}

					{% endfor %}
						
					</ul>
				</div><!-- fin lista2columnas-->
				{% endif %}
                {% if relatedcreatures2 or relatedcreatures1 %}
				<h2>Enemies:</h2>
				<div class="lista2columnas">
					<ul>
					  {% for relation in relatedcreatures2 %}
					  {% if relation.relation21 not in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEELEADERUNDERLING" %}
						<li>{{relation.get_relation21_display}} of <a href="/creature/{{relation.creature1.slug}}">{{relation.creature1.name}}</a></li>
						{% endif %}
					{% endfor %}
					  {% for relation in relatedcreatures1 %}
					  	{% if relation.relation21 not in "GROUPSONFATHERBROTHERSUBDITFRIENDMASTERAPPRENTICEFAMILIAREMPLOYEELEADERUNDERLING" %}
						<li>{{relation.get_relation12_display}} of <a href="/creature/{{relation.creature2.slug}}">{{relation.creature2.name}}</a></li>
						{% endif %}

					{% endfor %}
						
					</ul>
				</div><!-- fin lista2columnas-->
				{% endif %}
				
</div>
{% endblock %}		
