<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title></title>
		<meta name='title' content=''/>
		<meta name='description' content=''/>
 
		<meta name="author" content=""/>
		<meta name="language" content="spanish"/>
		<meta name="revisit" content="10 day"/>
		<meta name="distribution" content="global"/>

		<meta name="robots" content="All"/>
		<meta http-equiv="pragma" content="no-cache"/>
		<meta http-equiv="expires" content="-1"/>		
        <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen" />
		
			
        		
	</head>

<body> 
<div id="contenedor">
		<div id="cabecera">
			<div id="menu">
				<ul>	     
					<li><a href="index.html">El Codex</a></li>	
					<li><a href="personaje.html" >Personaje</a></li>	 
					<li><a href="#">Bestiario</a></li>	
					<li><a href="lugar.html" >Lugar</a></li>
					<li><a href="aventura.html">Aventura</a></li>	
					<li><a href="#">Objetos</a></li>	
					<li><a href="cronica.html" class="seleccion">Crónica</a></li>	
					<li><a href="#">Enviar info</a></li>	
					<li><a href="#">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="#"><img src="ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			
			<div id="busqueda-simple">
				<form action="">
					<select>					  
						<option value="todo">Todo</option>
						<option value="Personaje">Personaje</option>
						<option value="Bestiario">Bestiario</option>
						<option value="Lugar">Lugar</option>
						<option value="Aventura">Aventura</option>
						<option value="Objetos">Objetos</option>
						<option value="Crónica">Crónica</option>					   
					</select>
					
					<input class="barra_busqueda" type="text" name="LastName" value="texto de ejemplo" />
					
					<input class="boton_buscar" type="submit" value="Buscar" />
					<div id="ir-busqueda-avanzada"><a href="#">Busqueda<br/>avanzada</a></div><!-- fin logo -->
				</form>
				
			</div><!-- fin busqueda-simple -->
			
			
			
		</div><!-- fin cabecera -->
		
		

		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="#">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Crónica</a></div>
				
				<h1>Reseña de La Profanación</h1>
				<p>
					<b>Reseña del grupo de juego de Ithilien.</b> 
				</p>
				<p>
					Quisque luctus arcu suscipit est aliquet vulputate. Proin egestas metus ac augue pharetra ultricies. Vivamus at nisi mauris, a rhoncus justo. Nam vitae ullamcorper nulla. In vulputate.
				</p>

				<h2>Nota del autor:</h2>

				<p>
					Quisque luctus arcu suscipit est aliquet vulputate. Proin egestas metus ac augue pharetra ultricies. Vivamus at nisi mauris, a rhoncus justo. Nam vitae ullamcorper nulla. In vulputate, elit id luctus varius, lorem tellus adipiscing libero, eget laoreet eros est vitae erat. Nam suscipit tincidunt euismod. Vivamus placerat est at mi iaculis volutpat. Vestibulum euismod scelerisque enim nec egestas. Ut aliquam, felis ut ullamcorper volutpat, nisl nulla laoreet mauris, in posuere nulla purus ut augue. Integer eu arcu vel lorem eleifend mattis quis ultricies augue. Phasellus tempor porttitor libero ac posuere. Suspendisse eu dui id est lobortis varius ac vel nibh. In iaculis faucibus sem, at sodales turpis accumsan eget. Maecenas congue, tellus ut consectetur malesuada, eros felis porta odio, vel egestas nisl arcu ut sapien.
				</p>

				
				

			</div><!-- fin columna-izq -->
			
			<div id="columna-der">
				<div id="canon">
					<div id="nivel-canon">Nivel de Canon</div>				
					<div id="ima-canon"><img src="ima/canon/canon-revision.jpg" alt="icono" height="68px" width="68px"/></div>				
					<div id="denominacion-canon">Nuevo<div id="que"><a href="#">¿Qué es esto?</a></div></div>				
				</div><!-- fin canon -->
				
				<div id="boton-gordo">
					
						<a href="#" class="boton-cronica"> Ver aventura </a>
					
					<!-- 
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
				<h2>Más información:</h2>
				
				<div class="lista1columna">
					<ul>						
						
						<li><b>Web de la crónica:</b> <a href="http://ithilien.eu/?p=537" target="_blank">http://ithilien.eu/?p=537</a></li>
						
					</ul>
				</div><!-- fin lista2columnas-->
				
				<!--
				<h2>Personajes destacados:</h2>
				
				<div class="lista2columnas">
					<ul>
						
						<li>Lorem ipsum de <a href="#">Manolito</a>.</li>
						<li>Lorem ipsum de <a href="#">Manolito</a>.</li>
						<li>Lorem ipsum de <a href="#">Manolito</a>.</li>
						<li>Lorem ipsum de <a href="#">Manolito</a>.</li>
						<li>Lorem ipsum de <a href="#">Manolito</a>.</li>
						
					</ul>
				</div>
				-->
				<!-- fin lista2columnas-->
				<!--
				<h2>Objetos destacados:</h2>
				
				<div class="lista2columnas">
					<ul>
						
						
						<li><a href="#">Maza demoledora</a></li>
						<li><a href="#">Fatana</a></li>
						<li><a href="#">Fatana</a></li>
						<li><a href="#">Maza demoledora</a></li>
						
					</ul>
				</div>
				-->
				<!-- fin lista2columnas-->
				
					
				
				<div class="resaltado">Sobre el artículo:</div>				
				<div class="resaltado-cont">
					<p>
						<b>Fecha de creación:</b> 11 Diciembre 2011
					</p>
					<p>
						<b>Última actualización:</b> 20 Enero 2012
					</p>
					<p>
						<b>Autor:</b> Steinkel - <a href="#">www.lamarcadeleste.com</a>
					</p>
				</div>
				
				<div class="resaltado">Lecturas relacionadas:</div>
				<div class="resaltado-cont">
					<p>
						<a href="#"><b>[Personaje]</b> Lorem ipsum dolor amet, consec tetur elit.</a>
					</p>
					<p>
						<a href="#"><b>[Personaje]</b> Lorem ipsum dolor amet, consec tetur elit.</a>
					</p>
					<p>
						<a href="#"><b>[Personaje]</b> Lorem ipsum dolor amet, consec tetur elit.</a>
					</p>
				</div>	
				
				

				
				
		
			</div><!-- fin columna-izq_portada -->
			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
		

		<div id="pie"> 
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
				</div><!-- fin validaciones -->
		</div><!-- fin pie -->
	</div><!-- fin contenedor -->

</body>
</html>		