{% extends "basebasic.html" %}
{% block title %}
<title>East Mark Codex - Fan Art</title>
{% endblock %}
{% block navigation %}
    <div id="cabecera">
    <div id="menu">
    <ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character" class="seleccion">Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
    </ul>
    </div><!-- fin menu -->
    <div id="logo">
    <a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures in the East Mark Codex." /></a>
    </div><!-- fin logo -->

    <div id="slogan">
                                A compilation of the knowledge of the East Mark.
    </div><!-- fin logo -->

{% endblock %}

{% block content %}

<div id="contenido" >
<div id="contenido-articulos" >	

<div id="columna-izq_portada" style="padding-top:0px;">
<div id="volver">
<span>
<a href="/">Home</a>
&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
</span>
Fan Art
</div>
				
<div id="quote">In this section all the fan art created with the East Mark as inspiration are collected. 
</div>
<p>
Here you can find the last three submissions added to the Codex, a random one selected from the best available and the advanced search. Fan art may contain additional downloadable material. Any kind of art expression is welcomed, from tradictional and digital ilustration, photos, sculpture or any other kind of artistic expression.
</p>
<div id="novedades-categorias">
Latest submissions
</div>
<div class="elemento-portada-categoria">
{% for object in results|slice:":3" %}
<h2><img src="/ima/ico-portada-fanart.png" alt="Fan Art"/><a href="/fanart/{{object.slug}}">{{object.name}}</a></h2>
				<p class="sub-text">{{object.last_updated.date}}. Canon: {{object.get_canon_level_display}}</p>
				
                                    <p class="intro">
                                    {% for image in object.image.all %}
                                        {% if forloop.first %}
					<a href="/fanart/{{object.slug}}"><img width="290px"     alt="icono" src="{{ MEDIA_URL }}{{image.image.name}}" /></a>
					<div style="clear: both"><br/></div>
                                        {% endif %}
                                    {% endfor %}
				
				</p>
                {% endfor %}
                <div style="clear: both"><br/></div>
				

				<p class="ver"><a href="/fanart/all">See all [+]</a></p>
				</div>
				
			</div><!-- fin columna-izq_portada -->

			<div id="columna-der_portada" style="padding-top:0px;">
				<div>
					<img src="/ima/banner-categoria-fanart.jpg" alt="fanart"  style="float:none;"/>
					<br/><br/>
				</div>
				

				<div>
				<h1>Featured</h1>
				</div>
				<div class="elemento-portada-categoria">					
				<h2>
				<img alt="fanart" src="/ima/ico-portada-fanart.png" />
				<a href="/fanart/{{highlightedresult.slug}}">{{highlightedresult.name}}</a>
				</h2>
				<p class="sub-text">{{highlightedresult.last_updated.date}}. Canon: {{highlightedresult.get_canon_level_display}}</p>
				<p class="intro">
                                    {% for image in highlightedresult.image.all %}
                                        {% if forloop.first %}
					<a href="#"><img width="290px"     alt="icono" src="{{ MEDIA_URL }}{{image.image.name}}" /></a>
                                        {% endif %}
                                    {% endfor %}
				{{highlightedresult.description|safe|truncatewords:200}}
				</p>
				

								
								
				<p class="ver"><a href="/fanart/{{highlightedresult.slug}}">Read more [+]</a></p>
				</div>			
				
				<div style="clear: both"></div>
				
				<div>
				<h1>Advanced search</h1>
				</div>
				
				    <!-- FAN ART -->

    <div id="elemento-formulario-categoria">
    <form action="/resadvancedsearch/" METHOD=GET>
    <!-- Separador-->   <div style="clear: both"><br/></div>

    <input type="hidden" name="option" value="fanart">
     <h2 class="titulo-formulario-avanzado" >
                        Keywords:
                    </h2>

                    <div class="formulario-avanzado" >
                        <input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
                    </div>



                                        <div style="clear: both"><br/></div>
                                       <h2 class="titulo-formulario-avanzado">
                                       Author:
                                       </h2>
                                       <div class="formulario-avanzado-1-columnas">
                                       <select name="author">
                                       <option value="ALL">All</option>
                                        {% for author in fanart_authors %}
                                              <option value={{author.id}}>{{author.name}}</option>
                                        {% endfor %}
                                       </select>
                                        </div>
                                    <!-- Separador-->	<div style="clear: both"><br/></div>
                                        <h2 class="titulo-formulario-avanzado">
                                        Type:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosentype">
                                            <option value="ALL">All</option>
                                        {% for type in FANART_TYPE_CHOICES %}
                                              <option value={{type.0}}>{{type.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                         <h2 class="titulo-formulario-avanzado">
                                        Category:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosencategory">
                                              <option value="ALL">All</option>
                                              {% for category in FANART_CATEGORY_CHOICES %}
                                              <option value={{category.0}}>{{category.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                        <div style="clear: both">&nbsp;</div>

										<h2 class="titulo-formulario-avanzado">
                                        Licencia:
                                        </h2>
                                        <div class="formulario-avanzado-2-columnas" >
                                            <select name="chosenlicense">
                                              <option value="ALL">All</option>
                                              {% for license in FANART_LICENSE_CHOICES %}
                                              <option value={{license.0}}>{{license.1}}</option>
                                        {% endfor %}
                                             </select>
                                        </div>
                                        <h2 class="titulo-formulario-avanzado">
                                       Canon level:	</h2>
						<div class="formulario-avanzado-2-columnas">
						<select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
	    				</select> </div>

                                        <div style="clear: both">&nbsp;</div>


    <div style="clear: both; text-align: center">
    <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
    </div>

    </form>


    <!-- END FANART -->


            </div> <!-- fin elemento-formulario-categoria  -->
			</div><!-- fin columna-der_portada  -->
	</div><!-- fin contenido-artuculos -->
		</div><!-- fin contenido -->
		
		
{% endblock %}		
