{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Búsqueda</title>
{% endblock %}


{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> Search results<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></div>
				
				<div id="central">
					<h1>Search results{% if keywords %} for " {% for k in keywords %}{{k}} {% endfor %}"{% endif %} <!-- solo para listados que sean resultados de busqueda --></h1>
{% if results|length == 0 %}
<p>There are no results for that search.</p>
{% endif %}					
{% for object in results %}
                    <!-- Resultado aventureros -->
                    {% if object.objecttype == "character" %}
					<h2>
						<img src="/ima/ico-portada-personaje.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>						
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Characters</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">

						<b>Species:</b> {{object.get_species_display}} - <b>Level:</b> {{object.level}} - <b>Class:</b> {{object.get_profession_display}} - <b>Type:</b> {{object.get_pncorpc_display}} - <b>Alignment:</b> {{object.get_alignment_display}}
						<br/><b>Locations:</b>

                        {% for rlocation in object.relatedlocation.all %}
    					   {% if forloop.first %}
    						<a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    						{% if forloop.last and forloop.last != forloop.first %}
    						 y <a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    						{% if not forloop.last and not forloop.first %}
    						, <a href="/location/{{rlocation.slug}}">{{rlocation.name}}</a>
    						{% endif %}
    					{% endfor %}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}

        	            <!-- Resultado Bestiario -->
		    {% if object.objecttype == "creature" %}
					<h2>
						<img src="/ima/ico-portada-bestiario.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Bestiary</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>XP Value:</b> {{object.xpvalue}} - <b>AC:</b> {{object.AC}} - <b>HD:</b> {{object.hitdice}} - <b>Movement: {{object.move}}</b>
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}

                    <!-- Resultado Lugar -->
		    {% if object.objecttype == "location" %}
					<h2>
						<img src="/ima/ico-portada-lugar.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Locations</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Type:</b> {{object.get_loctype_display|default_if_none:"Unknown"}} - <b>Status:</b>  {{object.get_status_display|default_if_none:"Unknown"}} - <b>Population:</b> {{object.population|default_if_none:"Unknown"}} - <b>Alignment:</b> {{object.get_alignment_display|default_if_none:"Unknown"}}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}
				
		    <!-- Resultado Aventura -->

		    {% if object.objecttype == "adventure" %}
					<h2>
						<img src="/ima/ico-portada-aventura.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Adventures</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Game sessions:</b>  {{object.sessions|default:"*"}} - <b>Levels:</b>  {{object.minlevel|default:"*"}} to {{object.maxlevel|default:"*"}} - <b>Num Players:</b>  {{object.minnumplayers|default:"*"}} to {{object.maxnumplayers|default:"*"}} - <b>Price:</b>  {{object.get_price_display}}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}
							
		    <!-- Resultado Objetos -->
		    {% if object.objecttype == "object" %}
					<h2>
						<img src="/ima/ico-portada-objetos.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Objects</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Type:</b> {{object.get_objtype_display}} - <b>Rarity:</b> {{object.get_rarity_display}} - <b>Alignment:</b> {{object.get_alignment_display}}</b>
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}
			
		    <!-- Resultado Crónica -->
                    {% if object.objecttype == "chronicle" %}
					<h2>
						<img src="/ima/ico-portada-cronica.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Chronicles</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Chronicles website:</b> <a href="{{object.url}}" target="_blank">{{object.url|truncatechars:30}}</a> - <b>Adventure:</b> <a href="/adventure/{{object.adventure.slug}}">{{object.adventure.name}}</a>
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}

                 <!-- Resultado Regla -->
                    {% if object.objecttype == "rule" %}
					<h2>
						<img src="/ima/ico-portada-regla.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Rules</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Rule website:</b> <a href="{{object.url}}" target="_blank">{{object.url|truncatechars:30}}</a> - <b>Sections:</b> {% for section in object.affectedsections.all %}{{section}} {% endfor %}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}

<!-- Resultado fanart -->
{% if object.objecttype == "fanart" %}
<h2>
<img src="/ima/ico-portada-fanart.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>
<span>
<br/>
<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Fan Art</a>. {{object.last_updated.date}}.
</span>						
</h2>
{% if object.thumbnail %}
<a href="/{{object.objecttype}}/{{object.slug}}"><img class="detalles-listado-ima-horizontal" src="{{MEDIA_URL}}{{object.thumbnail.image.name}}" alt="Fan Art"></a>
{% endif %}
<p class="detalles-listado">
<b>Category:</b> {{object.get_chosencategory_display}} - <b>Type:</b> {{object.get_chosentype_display}} - <b>License:</b> {{object.get_chosenlicense_display}} -  <b>Author:</b> {% for author in object.author.all %}{{author.name}}{% endfor %}
</p>
					<p>
						{{object.description|safe|truncatewords:100}}
					</p>

				<div style="clear: both"></div>
{% endif %}

                    <!-- Resultado Conjuro -->
	        	{% if object.objecttype == "spell" %}
					<h2>
						<img src="/ima/ico-portada-conjuros.png" alt="{{object.objecttype}}"/><a href="/{{object.objecttype}}/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Published in <a href="/{{object.objecttype}}">Spells</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
					<p class="detalles-listado">
						<b>Level:</b> {{object.level}} -
						<b>Classes:</b>
						{% if object.affectedclassrace.all %}
                         {% for classrace in object.affectedclassrace.all %}
                             {% if forloop.first %}
                             {{classrace.name}}
                             {% endif %}
                             {% if forloop.last and forloop.last != forloop.first %}
                             y {{classrace.name}}
                             {% endif %}
                             {% if not forloop.last and not forloop.first %}
                             , {{classrace.name}}{% endif %}
                             {% endfor %}
                             {% else %}
                               --
                             {% endif %}
 				       -
 				       <b>Reversible:</b> {% if object.reversible %}Yes{% else %}No{% endif %} -
 				       <b>Range: </b>{{object.reach}}</li> -
 				       <b>Duration: </b>{{object.duration}}
					</p>

					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                    {% endif %}
{% endfor %}								

					<div id="navegacion-resultados">
						
						<ul id="pagina">

                            {% if results.has_previous %}
							<li class="siguiente"> <a href="?page=1">« First</a></li>
                            <li class="siguiente"><a href="?page={{ results.previous_page_number }}">« Previous</a>   </li>
                            {% else %}
                            <li class="anterior-off">« First</a></li>
                            <li class="anterior-off">« Previous</li>
							{% endif %}

							<li class="activo">Page {{ results.number }} of {{ results.paginator.num_pages }}</li>

                             {% if results.has_next %}
							<li class="siguiente"> <a href="?page={{ results.next_page_number }}">Next »</a></li>

							<li class="siguiente"><a href="?page={{results.paginator.num_pages}}">Last »</a></li>
                            {% else %}
                            <li class="anterior-off">Next »</li>
                            <li class="anterior-off">Last »</li>
                            {% endif %}
						</ul>
						
							
					</div>
					
					
					
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
		

{% endblock %}		
