{% extends "base.html" %}
{% block title %}
<title>East Mark Codex - Location - {{object.name}}</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character" >Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location" class="seleccion">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			
		
{% endblock %}

{% block leftcontent %}
		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/location">Location</a></div>
				
				<h1><img src="/ima/ico-portada-lugar.png" alt="lugar"/>{{object.name}}
                 {% if user.is_authenticated and user.is_staff %}
                <a href="/scriptorium/web/location/{{object.id}}">[edit]</a>
                {% endif %}


                </h1>

				<p><b>Location: {{object.location|safe}}</b></p>
                {% if object.description %}
				<p>{{object.description|safe}}</p>
                {% endif %}
			    {% if object.comments %}				
                <h2>Nota del autor:</h2>
                <p>{{object.comments|safe}}</p>		
				{% endif %}
				
				

			</div><!-- fin columna-izq -->
{% endblock %}
{% block rightcontent %}
                {% if object.image.all %}
				<div id="expo-ima">
					  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<a href="#"><img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/></a>
						
				</div>
					<!--
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
				<div id="firma-ima">
                    {% if image.author.all %}
					<b>Image Author(s)</b>:
                    {% for author in image.author.all%}
					   {% if forloop.first %}
                        <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if forloop.last and forloop.last != forloop.first %}
						 y <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if not forloop.last and not forloop.first %}
						, <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
					{% endfor %}
                    {% endif %}
				</div><!-- fin expo-ima -->
					{% endif %}




				{% endfor %}
				  {% endif %}
				<h2>More info:</h2>
				
				<div class="lista2columnas">
					<ul>
					 <li><b>Type:</b> {{object.get_loctype_display|default_if_none:"--"}}</li>
					  <li><b>First appearance:</b> {{object.startdate|default_if_none:"--"}}</li>

					    <li><b>Status:</b> {{object.get_status_display|default_if_none:"--"}}</li>
					 <li><b>Disappeared in:</b> {{object.enddate|default_if_none:"--"}}</li>
					<li><b>Population:</b> {{object.population|default_if_none:"--"}}</li>
					  <li><b>Alignment:</b> {{object.get_alignment_display|default_if_none:"--"}}</li>

					
					</ul>
				</div><!-- fin lista2columnas-->
			  {% if object.orderedchars|length > 0 %}
				<h2>Characters:</h2>
				<div class="lista2columnas">
					<ul>
					  {% for character in object.orderedchars %}
						<li><a href="/character/{{character.slug}}">{{character.name}}</a></li>
                      {% endfor %}
					</ul>
				</div><!-- fin lista2columnas-->
               {% endif %}

			    {% for relatedobject in object.relatedobject.all %}
					  {% if relatedobject.rarity != "C" %}
        				<h2>Objects:</h2>
        				<div class="lista2columnas">
        					<ul>
        						<li><a href="/object/{{relatedobject.slug}}">{{relatedobject.name}}</a></li>
        					</ul>
        				</div><!-- fin lista2columnas-->
					{% endif %}
					{% endfor %}
				

</div>
{% endblock %}		
