{% extends "basebasic.html" %}
{% block title %}
<title>Codex de la Marca del Este - Lugares</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>	     
					<li><a href="/">El Codex</a></li>	
					<li><a href="/character">Personajes</a></li>	 
					<li><a href="/creature">Bestiario</a></li>	
					<li><a href="/location" class="seleccion">Lugares</a></li>
					<li><a href="/object">Objetos</a></li>	
					<li><a href="/adventure">Aventuras</a></li>	
					<li><a href="/chronicle">Crónicas</a></li>	
					<li><a href="/send_info">Enviar info</a></li>	
					<li><a href="/contact">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			
			<div id="busqueda-simple">
				<div id="form-busqueda-simple">
				<form action="/search/" METHOD=GET>
					<select name="option">					  
						<option value="all">Todo</option>
						<option value="character">Personaje</option>
						<option value="creature">Bestiario</option>
						<option value="location" selected>Lugar</option>
						<option value="object">Objeto</option>
						<option value="adventure">Aventura</option>
						<option value="chronicle">Crónica</option>					   
					</select>
					
					<input class="barra_busqueda" type="text" name="searchterm" value="" />
					
					<input class="boton_buscar" type="submit" value="Buscar" />
				</form>
				</div>
				<div id="ir-busqueda-avanzada"><a href="/advancedsearch">Búsqueda<br/>avanzada</a></div>
			</div><!-- fin busqueda-simple -->
			
			
			
		</div><!-- fin cabecera -->
{% endblock %}

{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-listados" >			
			<div id="columna-der-listados">
				
				<div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/location">Lugares<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div> 
				
				<div id="central">
					<h1>Listado de lugares</h1>
			
                {% for object in results %}

       			<!-- Resultado Lugares -->
					<h2>
						<img src="/ima/ico-portada-lugar.png" alt="lugares"/><a href="/location/{{object.slug}}">{{object.name}}</a>
						<span>
							<br/>
							<b>Canon:</b> {{object.get_canon_level_display}} - Publicado en <a href="/location">Lugares</a>. {{object.last_updated.date}}.
						</span>						
					</h2>
					
				<p class="detalles-listado">
						<b>Tipo:</b> {{object.get_loctype_display|default_if_none:"Desconocido"}} - <b>Estado:</b>  {{object.get_status_display|default_if_none:"Desconocido"}} - <b>Población:</b> {{object.population|default_if_none:"Desconocido"}} - <b>Alineamiento:</b> {{object.get_alignment_display|default_if_none:"Desconocido"}}
					</p>


					<p>
						{{object.description|safe|truncatewords:100}}
					</p>
                {% endfor %}


					<div id="navegacion-resultados">
						
						<ul id="pagina">

                            {% if results.has_previous %}
							<li class="siguiente"> <a href="?page=1">« Primero</a></li>
                            <li class="siguiente"><a href="?page={{ results.previous_page_number }}">« Anterior</a>   </li>
                            {% else %}
                            <li class="anterior-off">« Primero</a></li>
                            <li class="anterior-off">« Anterior</li>
							{% endif %}

							<li class="activo">Página {{ results.number }} de {{ results.paginator.num_pages }}</li>

                             {% if results.has_next %}
							<li class="siguiente"> <a href="?page={{ results.next_page_number }}">Siguiente »</a></li>
                            
							<li class="siguiente"><a href="?page={{results.paginator.num_pages}}">Último »</a></li>
                            {% else %}
                            <li class="anterior-off">Siguiente »</li>
                            <li class="anterior-off">Último »</li>
                            {% endif %}
						</ul> 
						
							
					</div>
					
					
					
				</div><!-- fin central -->
			</div><!-- fin columna-der-listados -->			
			</div><!-- fin contenido-articulos -->
		</div><!-- fin contenido -->
		
		
		

		<div id="pie">
				<div id="validaciones">	
					Aventuras de la Marca del este 2011 - Validación: <a
href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a
href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
					<br/><br/>
					<span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica	 - Diseño: <a
href="http://jagvalverde.com/">Jose Valverde</a></span>
				</div><!-- fin validaciones -->
		</div><!-- fin pie -->
	</div><!-- fin contenedor -->
{% endblock %}		
