{% extends "base.html" %}
{% block title %}
<title>Codex de la Marca del Este - Objeto - {{object.name}}</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
					<li><a href="/">El Codex</a></li>	
					<li><a href="/character">Personajes</a></li>
					<li><a href="/creature">Bestiario</a></li>	
					<li><a href="/location">Lugares</a></li>
					<li><a href="/object" class="seleccion">Objetos</a></li>	
					<li><a href="/adventure">Aventuras</a></li>	
					<li><a href="/chronicle">Crónicas</a></li>
					<li><a href="/spell" >Conjuros</a></li>
					<li><a href="/rule" >Reglas</a></li>
					<li><a href="/fanart" >Fan Art</a></li>
					<li><a href="/send_info">Enviar info</a></li>	
					<li><a href="/contact">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			
{% endblock %}

{% block leftcontent %}		

		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/object">Objeto</a></div>
				
				<h1><img src="/ima/ico-portada-objeto.png" alt="objeto"/>{{object.name}}
                 {% if user.is_authenticated and user.is_staff %}
                <a href="/scriptorium/web/object/{{object.id}}">[editar]</a>
                {% endif %}


                </h1>
                {% if object.description %}
				<p>{{object.description|safe}}</p>
                {% endif %}
                {% if object.properties %}	
				<h2>Propiedades:</h2>
                {% endif %}
                <p>{{object.properties|safe}}</p>
                {% if object.comments %}				
                <h2>Nota del autor:</h2>
                <p>{{object.comments|safe}}</p>		
				{% endif %}

			</div><!-- fin columna-izq -->
			

{% endblock %}				
{% block rightcontent %}	

				{% if object.image.all %}
				<div id="expo-ima">
				  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<a href="#"><img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/></a>
					</div>
					<!--
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
		<div id="firma-ima">
		            {% if image.author.all %}
					<b>Autor(es) de la ilustración</b>:
                    {% for author in image.author.all%}
					   {% if forloop.first %}
                        <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if forloop.last and forloop.last != forloop.first %}
						 y <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if not forloop.last and not forloop.first %}
						, <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
					{% endfor %}
                    {% endif %}
				</div><!-- fin expo-ima -->
					{% endif %}

				{% endfor %}
				{% endif %}
				<h2>Más información:</h2>
				
				<div class="lista2columnas">
					<ul>						
						
						<li><b>Tipo:</b> {{object.get_objtype_display|default_if_none:"--"}}</li>
						
						<li><b>Rareza:</b> {{object.get_rarity_display|default_if_none:"--"}}</li>

						<li><b>Estado:</b>  {{object.get_status_display|default_if_none:"--"}}</li>
						
						<li><b>Valor:</b> {{object.getValue|default:"--"}}</li>
						
						<li><b>Alineamiento:</b> {{object.get_alignment_display|default_if_none:"--"}}</li>
						
					</ul>
				</div><!-- fin lista2columnas-->
			    {% if object.rarity != "C" %}
				<h2>Personajes relacionados:</h2>
				
				<div class="lista2columnas">
					<ul>
                        {% for character in object.Objetos.all %}
						
						{% if character.get_canon_level == "C" %}<li><a href="/character/{{character.slug}}">{{character.name}}</a></li>{% endif %}
                        {% endfor %}						
					</ul>
				</div><!-- fin lista2columnas-->
				{% endif %}
                {% if relatedobjects2 or relatedobjects1 %}
				<h2>Objetos relacionados:</h2>
				
				<div class="lista2columnas">
					<ul>
						  {% for relation in relatedobjects2 %}
						<li>{{relation.get_relation21_display}} de <a href="/object/{{relation.object1.slug}}">{{relation.object1.name}}</a></li>
				
					{% endfor %}
	 				 {% for relation in relatedobjects1 %}
						<li>{{relation.get_relation12_display}} de <a href="/object/{{relation.object2.slug}}">{{relation.object2.name}}</a></li>
				

					{% endfor %}
					</ul>
				</div><!-- fin lista2columnas-->
                {% endif %}

				
{% endblock %}			
