{% extends "base.html" %}
{% block title %}
<title>East Mark Codex - Object - {{object.name}}</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character" >Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object" class="seleccion">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures in the East Mark Codex." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			
{% endblock %}

{% block leftcontent %}		

		<div id="contenido" >
			<div id="contenido-articulos" >
			<div id="columna-izq">
				<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/object">Object</a></div>
				
				<h1><img src="/ima/ico-portada-objeto.png" alt="objeto"/>{{object.name}}
                 {% if user.is_authenticated and user.is_staff %}
                <a href="/scriptorium/web/object/{{object.id}}">[edit]</a>
                {% endif %}


                </h1>
                {% if object.description %}
				<p>{{object.description|safe}}</p>
                {% endif %}
                {% if object.properties %}	
				<h2>Properties:</h2>
                {% endif %}
                <p>{{object.properties|safe}}</p>
                {% if object.comments %}				
                <h2>Comments:</h2>
                <p>{{object.comments|safe}}</p>		
				{% endif %}

			</div><!-- fin columna-izq -->
			

{% endblock %}				
{% block rightcontent %}	

				{% if object.image.all %}
				<div id="expo-ima">
				  {% for image in object.image.all %}
					    {% if forloop.first %}

					<div id="ima-grande">
						<a href="#"><img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/></a>
					</div>
					<!--
					<div id="ima-mini">
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
						<a href="#"><img src="ima/ico-portada-item.jpg" alt="icono" height="50px" width="75px"/></a>
					</div>
					-->
				</div><!-- fin expo-ima -->
				
		<div id="firma-ima">
		            {% if image.author.all %}
					<b>Image Author(s)</b>:
                    {% for author in image.author.all%}
					   {% if forloop.first %}
                        <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if forloop.last and forloop.last != forloop.first %}
						 y <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
						{% if not forloop.last and not forloop.first %}
						, <a href="{{author.url}}">{{author.name}}</a>
						{% endif %}
					{% endfor %}
                    {% endif %}
				</div><!-- fin expo-ima -->
					{% endif %}

				{% endfor %}
				{% endif %}
				<h2>More info:</h2>
				
				<div class="lista2columnas">
					<ul>						
						
						<li><b>Type:</b> {{object.get_objtype_display|default_if_none:"--"}}</li>
						
						<li><b>Rarity:</b> {{object.get_rarity_display|default_if_none:"--"}}</li>

						<li><b>Status:</b>  {{object.get_status_display|default_if_none:"--"}}</li>
						
						<li><b>Value:</b> {{object.getValue|default:"--"}}</li>
						
						<li><b>Alignment:</b> {{object.get_alignment_display|default_if_none:"--"}}</li>
						
					</ul>
				</div><!-- fin lista2columnas-->
			    {% if object.rarity != "C" %}
				<h2>Related characters:</h2>
				<div class="lista2columnas">
					<ul>
                        {% for character in object.Objects.all %}
						
						{% if character.canon_level == "C" %}<li><a href="/character/{{character.slug}}">{{character.name}}</a></li>{% endif %}
                        {% endfor %}						
					</ul>
				</div><!-- fin lista2columnas-->
				{% endif %}
                {% if relatedobjects2 or relatedobjects1 %}
				<h2>Related objects:</h2>
				
				<div class="lista2columnas">
					<ul>
						  {% for relation in relatedobjects2 %}
						<li>{{relation.get_relation21_display}} of <a href="/object/{{relation.object1.slug}}">{{relation.object1.name}}</a></li>
				
					{% endfor %}
	 				 {% for relation in relatedobjects1 %}
						<li>{{relation.get_relation12_display}} of <a href="/object/{{relation.object2.slug}}">{{relation.object2.name}}</a></li>
				

					{% endfor %}
					</ul>
				</div><!-- fin lista2columnas-->
                {% endif %}

</div>				
{% endblock %}			
