{% extends "basebasic.html" %}
{% block title %}
<title>East Mark Codex - Rules</title>
{% endblock %}
{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character">Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" class="seleccion" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures in the East Mark Codex." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				A compilation of the knowledge of the East Mark.
			</div><!-- fin logo -->
			

{% endblock %}

{% block content %}			
		

		<div id="contenido" >
			<div id="contenido-articulos" >	

			<div id="columna-izq_portada" style="padding-top:0px;">
					<div id="volver">
					<span>
					<a href="/">Home</a>
					&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
					</span>
					Rules
					</div>
				
				<div id="quote">This section contains aditional or "house" rules created by players. </div>
				<p>
					Here you can find the last three rules characters added to the Codex, a random rule selected from the best available and the advanced search. Each rule may affect one or more sections of the game. Each page may contain all the information related to the rule or point to an external URL or document where more details can be found.
				</p>
				<div id="novedades-categorias">
					Latest submissions
				</div>
                <div class="elemento-portada-categoria">
                {% for object in results|slice:":3" %}

				
				<h2><img src="/ima/ico-portada-regla.png" alt="Rule"/><a href="/rule/{{object.slug}}">{{object.name}}</a></h2>
				<p class="sub-text">{{object.last_updated.date}}. Canon: {{object.get_canon_level_display}}</p>
				<p class="intro">{{object.description|safe|truncatewords:70}}</p>

                {% endfor %}
				

				<p class="ver"><a href="/rule/all">See all [+]</a></p>
				</div>
				
			</div><!-- fin columna-izq_portada -->

			<div id="columna-der_portada" style="padding-top:0px;">
				<div>
					<img src="/ima/banner-categoria-reglas.jpg" alt="reglas"  style="float:none;"/>
					<br/><br/>
				</div>
				

				<div>
				<h1>Featured</h1>
				</div>
				<div class="elemento-portada-categoria">					
				<h2>
				<img alt="reglas" src="/ima/ico-portada-regla.png" />
				<a href="/rule/{{highlightedresult.slug}}">{{highlightedresult.name}}</a>
				</h2>
				<p class="sub-text">{{highlightedresult.last_updated.date}}. Canon: {{highlightedresult.get_canon_level_display}}</p>
				<p class="intro">
                {% for image in highlightedresult.image.all %}
					    {% if forloop.first %}
					<a href="#"><img width="290px" height="190px" alt="icono" src="{{ MEDIA_URL }}{{image.image.name}}" /></a>
                        {% endif %}
                {% endfor %}
				{{highlightedresult.description|safe|truncatewords:200}}
				</p>
								
								
				<p class="ver"><a href="/rule/{{highlightedresult.slug}}">Read more [+]</a></p>
				</div>			
				
				<div style="clear: both"></div>
				
				<div>
				<h1>Advanced search</h1>
				</div>
				
				    <!-- RULE -->

    <div id="elemento-formulario-categoria">
    <form action="/resadvancedsearch/" METHOD=GET>
    <input type="hidden" name="option" value="rule">
    <div style="clear: both"><br/></div>
    <h2 class="titulo-formulario-avanzado" >
    Keywords:
    </h2>
    <div class="formulario-avanzado" >
    <input style="padding: 5px 5px; font-size:16px;width:380px;" type="text" name="searchterm" />
    </div>
    <div style="clear: both"><br/></div>

    <h2 class="titulo-formulario-avanzado">
    Sections:
    </h2>

    <div class="formulario-avanzado-2-columnas">
    <select name="affectedsection">
        <option value="ALL">All</option>
        {% for section in rulesections %}
        <option value="{{section.id}}">{{section.name}}</option>
        {% endfor %}
    </select>
    </div>
    <h2 class="titulo-formulario-avanzado">
    Canon level:
    </h2>
    <div class="formulario-avanzado-2-columnas" >
    <select name="canon_level">
                                                  <option value="ALL">All</option>
                                                  <option value="NEW">New</option>
                                                  <option value="AP">Apocryphal</option>
                                                  <option value="APC">Under study</option>
                                                  <option value="C">Canon</option>
    </select>
    </div>



    <div style="clear: both"><br/></div>

    <div style="clear: both; text-align: center">
    <input class="boton_buscar" type="submit" value="Search" style="font-size: 22px;height: 38px;"/>
    </div>

    </form>


    <!-- END RULE -->


            </div> <!-- fin elemento-formulario-categoria  -->
			</div><!-- fin columna-der_portada  -->
	</div><!-- fin contenido-artuculos -->
		</div><!-- fin contenido -->
		
		
		
{% endblock %}		
