<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title></title>
<meta name='title' content=''/>
<meta name='description' content=''/>

<meta name="author" content=""/>
<meta name="language" content="spanish"/>
<meta name="revisit" content="10 day"/>
<meta name="distribution" content="global"/>

<meta name="robots" content="All"/>
<meta http-equiv="pragma" content="no-cache"/>
<meta http-equiv="expires" content="-1"/>		
<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen" />
<!-- jquery	-->	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.idTabs.min.js"></script>
</head>
<body> 
<div id="contenedor">
<div id="cabecera">
<div id="menu">
<ul>	      
<li><a href="index.html">El Codex</a></li>	
<li><a href="personaje.html">Personajes</a></li>	 
<li><a href="bestiario.html" >Bestiario</a></li>	
<li><a href="lugar.html">Lugares</a></li>
<li><a href="objeto.html" >Objetos</a></li>    
<li><a href="aventura.html" >Aventuras</a></li>						
<li><a href="cronica.html" >Cr&oacute;nicas</a></li>
<li><a href="conjuro.html" >Conjuros</a></li>
<li><a href="regla.html" >Reglas</a></li>
<li><a href="fanart.html" >Fan Art</a></li>										
<li><a href="send_info.html" class="seleccion">Enviar info</a></li>	
<li><a href="contactar.html">Contacto</a></li>
</ul>
</div><!-- fin menu -->	
<div id="logo">
<a href="#"><img src="ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
</div><!-- fin logo -->	
<div id="slogan">
La recopilaci&oacute;n de todo el conocimiento sobre la Marca del Este.
</div>
<div id="busqueda-simple">
<div id="form-busqueda-simple">
<form action="">
<select>					  
<option value="todo">Todo</option>
<option value="Personaje">Personaje</option>
<option value="Bestiario">Bestiario</option>
<option value="Lugar">Lugar</option>
<option value="Aventura">Aventura</option>
<option value="Objetos">Objetos</option>
<option value="Cr&oacute;nicas" >Cr&oacute;nicas</option>
<option value="Conjuros" >Conjuros</option>
<option value="Reglas" >Reglas</option>
<option value="Fan Art" >Fan Art</option>				   
</select>			
<input class="barra_busqueda" type="text" name="LastName" value="texto de ejemplo" />			
<input class="boton_buscar" type="submit" value="Buscar" />
</form>
</div>
<div id="ir-busqueda-avanzada"><a href="#">Busqueda<br/>avanzada</a></div>
</div><!-- fin busqueda-simple -->	
</div><!-- fin cabecera -->
<div id="contenido" >
<div id="contenido-listados" >			
<div id="columna-der-listados">

<div id="volver"><span><a href="#">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Enviar info<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div> 

<div id="central">
<!-- enviar info pj -->
<!-- usual1 --><div id="usual1" class="usual">
<ul> 
<li><a class="selected" href="#first_step">Paso 1</a></li> 
<li> ------------------- </li> 
<li><a href="#second_step">Paso 2</a></li>
</ul>
<form action="#" method="post">
<!-- 1 -------------------------------------------------------- -->
<div id="first_step">
<h2 ><img alt="reglas" src="ima/ico-portada-reglas.png" class="send-info"> Enviando informaci&oacute;n sobre regla. Paso 1 de 2.</h2>
 <h2 class="send-info">Sobre la regla</h2>  
<div style="clear: both">&nbsp;</div>                
<h2 class="titulo-formulario-avanzado" >Nombre:</h2>
<div class="formulario-avanzado" >
<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text"  />
</div>

<h2 class="titulo-formulario-avanzado" >Descripci&oacute;n:</h2>
<div class="formulario-avanzado" >
<textarea type="text"  ></textarea>
</div>

<h2 class="titulo-formulario-avanzado">Categor&iacute;a:</h2>
<div class="formulario-avanzado" >
<div class="ch-send-info" ><input name="clases" type="checkbox" class="ch-send-info"/>Clases</div>
<div class="ch-send-info" ><input name="viajes" type="checkbox" class="ch-send-info"/>Viajes</div>
<div class="ch-send-info" ><input name="equipo" type="checkbox" class="ch-send-info"/>Equipo</div>
<div style="clear: both"></div> 
<div class="ch-send-info" ><input name="movimiento" type="checkbox" class="ch-send-info"/>Movimiento</div>
<div class="ch-send-info" ><input name="magia" type="checkbox" class="ch-send-info"/>Mag&iacute;a</div>
<div class="ch-send-info" ><input name="magia" type="checkbox" class="ch-send-info"/>Combate</div>
<div style="clear: both">&nbsp;</div> 
<div >Otros: <input name="magia" class="ch-send-info"/></div>
</div>

<div style="clear: both">&nbsp;</div>
<h2 class="titulo-formulario-avanzado" >Nota del autor:</h2>
<div class="formulario-avanzado" >
<textarea type="text"  ></textarea>
</div>

<div style="clear: both">&nbsp;</div>  
<ul class="send-info-menu"> 
<li><a href="#second_step">Continuar</a></li>
</ul>
</div>
<!-- 2 ------------------------------------------------------------------------ -->
<div id="second_step">
<h2 ><img alt="reglas" src="ima/ico-portada-reglas.png" class="send-info"> Enviando informaci&oacute;n sobre regla. Paso 2 de 2.</h2>
<h2 class="send-info">Material descargable o URL de referencia</h2>
<div style="clear: both">&nbsp;</div> 
<p style="padding: 5px 5px; font-size:16px;">Puedes facilitarnos informaci&oacute;n descargable para alojarla en nuestros servidores a trav&eacute;s del siguiente sistema de subida de archivos.
</p>
<h2 class="titulo-formulario-avanzado" >Archivo:</h2>
<div class="formulario-avanzado" >
<input type="file" name="datafile" size="40" style="padding: 5px 5px; font-size:16px;width:458px;">
</div>
<p style="padding: 5px 5px; font-size:16px;">En caso de que ya las tengas alojadas en tu propio servidor y prefieres que hagamos referencia a donde descargarlo, indicanos a continuaci&oacute;n la URL de referencia donde esta accesible.
</p>
<h2 class="titulo-formulario-avanzado" >URL:</h2>
<div class="formulario-avanzado" >
<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text"  />
</div>
<div style="clear: both">&nbsp;</div> 
<h2 class="send-info">Imagen asociada</h2>
<div style="clear: both">&nbsp;</div> 
<h2 class="titulo-formulario-avanzado" >Archivo:</h2>
<div class="formulario-avanzado" >
<input type="file" name="datafile" size="40" style="padding: 5px 5px; font-size:16px;width:458px;">
</div>
<h2 class="titulo-formulario-avanzado" >Autor del arte:</h2>
<div class="formulario-avanzado" >
<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text"  />
</div>
<h2 class="titulo-formulario-avanzado" >URL de autor:</h2>
<div class="formulario-avanzado" >
<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text"  />
</div>
<div style="clear: both">&nbsp;</div> 
<h2 class="send-info">Autor del personaje</h2>
<div style="clear: both">&nbsp;</div> 
<h2 class="titulo-formulario-avanzado" >Nombre o alias:</h2>
<div class="formulario-avanzado" >
<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text"  />
</div>
<h2 class="titulo-formulario-avanzado" >URL:</h2>
<div class="formulario-avanzado" >
<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text"  />
</div>
<h2 class="titulo-formulario-avanzado" >E-mail:</h2>
<div class="formulario-avanzado" >
<input style="padding: 5px 5px; font-size:16px;width:458px;" type="text"  />
</div>
<div style="clear: both">&nbsp;</div> 
<ul class="send-info-menu">  
<li><a href="#first_step">Volver</a></li>
<li>
<input class="boton_buscar" type="submit" value="Enviar" style="font-size: 22px;height: 38px;"/>
</li>
</ul>
<div style="clear: both">&nbsp;</div> 
</div>
<!-- 3 -------------------------------------------------------------------------- -->
<div id="third_step">

</div>
<!-- 4 -------------------------------------------------------------------------- --> 
<div id="fourth_step">

</div>
<!-- fin 4 -------------------------------------------------------------------------- -->
</div> 
<!-- fin usual1 -->	
<script type="text/javascript"> 
$("#usual1").idTabs(function(id,list,set){ 
$("a",set).removeClass("selected") 
.filter("[href='"+id+"']",set).addClass("selected"); 
for(i in list) 
$(list[i]).hide(); 
$(id).fadeIn(); 
return false; 
}); 
</script>
</form>
<div style="clear:all;float:none; width:850px;">
<br /><br />
</div> 				
</div><!-- fin central -->
</div><!-- fin columna-der-listados -->			
</div><!-- fin contenido-articulos -->
</div><!-- fin contenido -->
<div id="pie">
<div id="validaciones">	
Aventuras de la Marca del este 2011 - Validaci&oacute;n: <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://codexdelamarca.com/css/estilo.css">CSS</a>
<br/><br/>
<span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz M&uacute;zquiz @diacritica - Dise&ntilde;o: <a href="http://jagvalverde.com/">Jose Valverde</a></span>
</div><!-- fin validaciones -->
</div><!-- fin pie -->
</div><!-- fin contenedor -->
</body>
</html>	