<!DOCTY{% extends "basebasic.html" %}
{% block title %}
<title>East Mark Codex - Send entry</title>
{% endblock %}
{% block navigation %}
        <div id="cabecera">
            <div id="menu">
                <ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character">Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info" class="seleccion">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
                </ul>
            </div><!-- fin menu -->
            
            <div id="logo">
                <a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures in the East Mark Codex." /></a>
            </div><!-- fin logo -->
            
            <div id="slogan">
                A compilation of the knowledge of the East Mark.
            </div><!-- fin logo -->
{% endblock %}


{% block content %}
    <div id="contenido" >
        <div id="contenido-listados" >			
            <div id="columna-der-listados">

            <div id="volver"><span><a href="#">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Send entry</a></div> 

            <div id="central">
            <div class="formulario-avanzado-2-columnas" style="width: 800px;text-align: center">

            <br>
            
            <h2>Your submission has been successfully sent.<br><br>We will review it and publish it ASAP.<br><br>Many thanks! Enjoy your adventuring...</h2>
            </p>
            </div>
    
            <div style="clear:all;float:none; width:850px;">

            </div> 				
            </div><!-- fin central -->
            </div><!-- fin columna-der-listados -->			
        </div><!-- fin contenido-articulos -->
    </div><!-- fin contenido -->
{% endblock %}