{% extends "base.html" %}
{% block title %}
<title>East Mark Codex - Spell - {{object.name}}</title>
{% endblock %}
{% block navigation %}
      <div id="cabecera">
         <div id="menu">
            <ul>
                                        <li><a href="/">The Codex</a></li>      
                                        <li><a href="/character">Characters</a></li>
                                        <li><a href="/creature">Bestiary</a></li>       
                                        <li><a href="/location">Locations</a></li>
                                        <li><a href="/object">Objects</a></li>  
                                        <li><a href="/adventure">Adventures</a></li>    
                                        <li><a href="/chronicle">Chronicles</a></li>
                                        <li><a href="/spell" class="seleccion" >Spells</a></li>
                                        <li><a href="/rule" >Rules</a></li>
                                        <li><a href="/fanart" >Fan Art</a></li>
                                        <li><a href="/send_info">Send entry</a></li>    
                                        <li><a href="/contact">Contact</a></li>
              </ul>
         </div><!-- fin menu -->

         <div id="logo">
            <a href="/"><img src="/ima/codex-logo.jpg" alt="Adventures in the East Mark Codex." /></a>
         </div><!-- fin logo -->

         <div id="slogan">
            A compilation of the knowledge of the East Mark.
         </div><!-- fin logo -->

{% endblock %}
{% block leftcontent %}

<div id="contenido" >
<div id="contenido-articulos" >
<div id="columna-izq">
<div id="volver"><span><a href="/">Home</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="/rule">Spell</a></div>

<h1><img src="/ima/ico-portada-conjuros.png" alt="conjuro"/> {{object.name}}
{% if user.is_authenticated and user.is_staff %}
<a href="/scriptorium/web/spell/{{object.id}}">[edit]</a>
{% endif %}</h1>
<div class="lista2columnas-izq">
<ul>
 <li><b>Level:</b>{{object.level}}</li>
 <li><b>Range: </b>{{object.reach}}</li>
 <li><b>Duration: </b>{{object.duration}}</li>
 <li><b>Classes:</b>
 {% if object.affectedclassrace.all %}
 {% for classrace in object.affectedclassrace.all %}
   {% if forloop.first %}
   {{classrace.name}}
   {% endif %}
   {% if forloop.last and forloop.last != forloop.first %}
   y {{classrace.name}}
   {% endif %}
   {% if not forloop.last and not forloop.first %}
   , {{classrace.name}}{% endif %}
   {% endfor %}
   {% else %}
   --
   {% endif %}
 </li>
 <li><b>Reversible:</b> {% if object.reversible %}Yes{% else %}No{% endif %}</li>
</ul>
</div>
{% if object.description %}
<p>{{object.description|safe}}</p>
{% endif %}

{% if object.comments %}
<h2>Comments:</h2>
<p>{{object.comments|safe}}</p>
{% endif %}

</div><!-- fin columna-izq -->
{% endblock %}

{% block rightcontent %}
{% if object.image.all %}
<div id="expo-ima">
{% for image in object.image.all %}
 {% if forloop.first %}
 <div id="ima-grande">
 <img src="{{ MEDIA_URL }}{{image.image.name}}" alt="icono" height="230px" width="350px"/>
 </div>

</div><!-- fin expo-ima -->

<div id="firma-ima">
{% if image.author.all %}
<b>Image Author(s)</b>:
{% for author in image.author.all%}
 {% if forloop.first %}
 <a href="{{author.url}}">{{author.name}}</a>
 {% endif %}
 {% if forloop.last and forloop.last != forloop.first %}
 y <a href="{{author.url}}">{{author.name}}</a>
 {% endif %}
 {% if not forloop.last and not forloop.first %}
 , <a href="{{author.url}}">{{author.name}}</a>
 {% endif %}
{% endfor %}
{% endif %}
</div><!-- fin expo-ima -->
{% endif %}

{% endfor %}
{% endif %}
<div class="lista2columnas">
</div><!-- fin lista2columnas-->
</div>
{% endblock %}

