{% extends "basebasic.html" %}
{% block head %}

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block title %}
<title>Codex de la Marca del Este - City System - Marvalar</title>
{% endblock %}

		<meta name='title' content=''/>
		<meta name='description' content=''/>
 
		<meta name="author" content=""/>
		<meta name="language" content="spanish"/>
		<meta name="revisit" content="10 day"/>
		<meta name="distribution" content="global"/>

		<meta name="robots" content="All"/>
		<meta http-equiv="pragma" content="no-cache"/>
		<meta http-equiv="expires" content="-1"/>		
        <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/estilo.css" type="text/css" media="screen" />
		

    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.maphilight.min.js" type="text/javascript"></script>
    <script src="/js/jquery-ui.js" type="text/javascript"></script>
    <script src="/js/jquery.mousewheel.js" type="text/javascript"></script>
  <style>
    #iframe{width: 802px; height: 502px; margin: 50px auto 0 auto; border: 0; overflow: hidden; display: block;}
    </style>

	</head>

{% endblock %}


{% block navigation %}
		<div id="cabecera">
			<div id="menu">
				<ul>
					<li><a href="/">El Codex</a></li>	
					<li><a href="/character">Personajes</a></li>
					<li><a href="/creature">Bestiario</a></li>	
					<li><a href="/location">Lugares</a></li>
					<li><a href="/object">Objetos</a></li>	
					<li><a href="/adventure">Aventuras</a></li>	
					<li><a href="/chronicle">Crónicas</a></li>	
					<li><a href="/send_info">Enviar info</a></li>	
					<li><a href="/contact">Contacto</a></li>
        		</ul>
			</div><!-- fin menu -->
			
			<div id="logo">
				<a href="/"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>
			</div><!-- fin logo -->
			
			<div id="slogan">
				La recopilación de todo el conocimiento sobre la Marca del Este.
			</div><!-- fin logo -->
			
			<div id="busqueda-simple">
				<div id="form-busqueda-simple">
				<form action="/search/" METHOD=GET>
					<select name="option">
						<option value="all">Todo</option>
						<option value="character">Personaje</option>
						<option value="creature">Bestiario</option>
						<option value="location">Lugar</option>
						<option value="object">Objeto</option>
						<option value="adventure">Aventura</option>
						<option value="chronicle">Crónica</option>
					</select>
					
					<input class="barra_busqueda" type="text" name="searchterm" value="" />
					
					<input class="boton_buscar" type="submit" value="Buscar" />
				</form>
				</div>
				<div id="ir-busqueda-avanzada"><a href="/advancedsearch">Búsqueda<br/>avanzada</a></div>
			</div><!-- fin busqueda-simple -->

			
			
			
		</div><!-- fin cabecera -->
{% endblock %}


{% block content %}
	<div id="contenido" >
		<div id="contenido-listados" >			
		<div id="columna-der-listados">
			
			<div id="volver"><span><a href="/">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span>Marvalar</a></div>
			
			<div id="central">
		

<iframe id="iframe" src="/map/data/iframe.html"></iframe>
                
			</div><!-- fin central -->
		</div><!-- fin columna-der-listados -->			
		</div><!-- fin contenido-articulos -->
	</div><!-- fin contenido -->
		
		
		

        <div id="pie">
                <div id="validaciones">
                    Aventuras de la Marca del este 2011 - Validación: <a
href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a
href="http://jigsaw.w3.org/css-validator/validator?uri=http://?????/css/estilo.css">CSS</a>
                    <br/><br/>
                    <span style="font-size: 10px"> Desarrollo y mantenimiento: Angela
Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica     - Diseño: <a
href="http://jagvalverde.com/">Jose Valverde</a></span>
                </div><!-- fin validaciones -->
        </div><!-- fin pie -->
    </div><!-- fin contenedor -->
    <script type="text/javascript">

</script>
{% endblock %}


