#cabecera, #pie, #columna-der-listados, .boton_buscar {
  display: none !important;
}

body {
  color: #000; font: 100%/150% Georgia, "Times New Roman", Times, serif;
  float: none !important;
  width: auto !important;
  margin:  0 !important;
  padding: 0 !important;
}

a {
   color: #000;
   font-size: 12px; 
   text-decoration: none;
}

a:after {
  content: " " attr(href) " ";
}
