<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title></title>

        <meta name='title' content=''/>

        <meta name='description' content=''/>

 

        <meta name="author" content=""/>

        <meta name="language" content="spanish"/>

        <meta name="revisit" content="10 day"/>

        <meta name="distribution" content="global"/>



        <meta name="robots" content="All"/>

        <meta http-equiv="pragma" content="no-cache"/>

        <meta http-equiv="expires" content="-1"/>       

        

        <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="/css/estilo.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="/css/impresion.css" type="text/css"  media="print" />

        

            

    </head>



<body> 

<div id="contenedor">

        <div id="cabecera">

            <div id="menu">

                <ul>         

                    <li><a href="index.html">El Codex</a></li>  

                    <li><a href="personaje.html">Personaje</a></li>  

                    <li><a href="bestiario.html" >Bestiario</a></li>    

                    <li><a href="lugar.html">Lugar</a></li>

                    <li><a href="aventura.html">Aventura</a></li>   

                    <li><a href="objeto.html" >Objetos</a></li> 

                    <li><a href="cronica.html" >Crónica</a></li>    

                    <li><a href="enviar-info.html">Enviar info</a></li> 

                    <li><a href="contactar.html">Contacto</a></li>

                </ul>

            </div><!-- fin menu -->

            

            <div id="logo">

                <a href="#"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>

            </div><!-- fin logo -->

            

            <div id="slogan">

                La recopilación de todo el conocimiento sobre la Marca del Este.

            </div><!-- fin logo -->

            

            <div id="busqueda-simple">

                <div id="form-busqueda-simple">

                <form action="">

                    <select>                      

                        <option value="todo">Todo</option>

                        <option value="Personaje">Personaje</option>

                        <option value="Bestiario">Bestiario</option>

                        <option value="Lugar">Lugar</option>

                        <option value="Aventura">Aventura</option>

                        <option value="Objetos">Objetos</option>

                        <option value="Crónica">Crónica</option>                       

                    </select>

                    

                    <input class="barra_busqueda" type="text" name="LastName" value="texto de ejemplo" />

                    

                    <input class="boton_buscar" type="submit" value="Buscar" />

                </form>

                </div>

                <div id="ir-busqueda-avanzada"><a href="#">Busqueda<br/>avanzada</a></div>

            </div><!-- fin busqueda-simple -->

            

            

            

        </div><!-- fin cabecera -->

        

        



        <div id="contenido" >

            <div id="contenido-listados" >          

            <div id="columna-der-listados">

                

                <div id="volver"><span><a href="#">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Encuentros<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div> 

                

                <div id="central">

                <form action="">   

                        <div id="generador-encuentros">

                            <p>Mea mia! la de cosquis que le vas a meter a tu grupo de jugadores con este generador. Usa el nivel suicida si no resputan tu aventuras y además no te dan pasta para manuales los gorrones. Mea mia! la de cosquis que le vas a meter a tu grupo de jugadores con este generador. Usa el nivel suicida si no respuetan tu aventuras y además no te dan pasta para manuales los gorrones.</p>

                            <div style="clear: both">&nbsp;</div>

                                        <h2 class="titulo-formulario-avanzado" >            

                                            Nivel medio del grupo:                       

                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">

                                            <select>

                                              <option value="1">1</option>

                                              <option value="2">2</option>

                                              <option value="3">3</option>

                                              <option value="4">4</option>

                                              <option value="5">5</option>

                                              <option value="6">6</option>

                                              <option value="7">7</option>

                                              <option value="8">8</option>

                                              <option value="9">9</option>

                                              <option value="10">10</option>

                                              <option value="11">11</option>

                                              <option value="12">12</option>

                                              <option value="13">13</option>

                                              <option value="14">14</option>

                                              <option value="15">15</option>

                                             </select> 

                                        </div>

                                        

                                        <h2 class="titulo-formulario-avanzado" >            

                                            Nº de aventureros:                     

                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">

                                            <select>

                                              <option value="1">1</option>

                                              <option value="2">2</option>

                                              <option value="3">3</option>

                                              <option value="4">4</option>

                                              <option value="5">5</option>

                                              <option value="6">6</option>

                                              <option value="7">7</option>

                                              <option value="8">8</option>

                                              <option value="9">9</option>

                                             </select> 

                                        </div>

                                        

                                        <h2 class="titulo-formulario-avanzado">         

                                        Dificultad:                     

                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">

                                            <select>

                                              <option value="facil">Fácil</option>

                                              <option value="normal">Normal</option>

                                              <option value="dificil">Difícil</option>

                                              <option value="suicida">Suicida</option>

                                             </select> 

                                        </div>

                                        

                                        <h2 class="titulo-formulario-avanzado">         

                                        Evaluación:                     

                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">

                                            <select>

                                              <option value="todo">Todas</option>

                                              <option value="canon">Cánon</option>

                                              <option value="apocrifo">Apócrifo</option>

                                              <option value="nuevo">Nuevo</option>

                                             </select> 

                                        </div>

                                                

                                        <h2 class="titulo-formulario-avanzado">         

                                        Alineamiento:                       

                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">

                                            <select>

                                              <option value="todo">Todos</option>

                                              <option value="1">Legal</option>

                                              <option value="2">Neutral</option>

                                              <option value="3">Caótico</option>

                                             </select> 

                                        </div>

                                         <h2 class="titulo-formulario-avanzado">         

                                            Incluir tesoros:                     

                                        </h2>

                                        <div class="formulario-avanzado-2-columnas" >

                                        <select>

                                              <option value="si">Si</option>

                                              <option value="no">No</option>

                                        </select> 

                                        </div>

                                        <div style="clear: both">&nbsp;</div>             

                                      

                                     

                                     <div style="clear: both">&nbsp;</div>

                    

                    </div>  

                    <div style="clear: both; text-align: center; width:820px; ">

                        <input class="boton_buscar" type="submit" value="Generar encuentro" style="font-size: 22px;height: 38px;"/>

                    </div>                   

                    </form>                    

                    

                    <div style="clear: both"><br/>&nbsp;</div>

                    </div><!-- fin central -->

                    </div><!-- fin columna-der-listados -->   

                       <div id="resultado-generador">

                      

                       <div class="para-impresion">

                           <h1>Codex de la marca del Este<h1>

                          <a href="http://codexdelamarca.com">URL:</a>

                        </div>

                            <h2>Encuentro generado </h2>
                            
                            <h3>{{ encounter.name }}</h3>

                        

                          <h3>Zombi marino  [<a href="http://codexdelamarca.com/creature/zombie-marino-sacerdote/">+ info</a>] </h3>

                            

                            <p><b>DG</b>: 3 - <b>Número</b>: 5 - <b>CA</b>:6 - <b>TS</b>: G3 - <b>Mov</b>: 12m - <b>Moral</b>: 10 - <b>Alineamiento</b>: Caótico - <b>Px</b>: 65  </p>  

                            <p><b>Ataque</b>: Golpetazo o por arma (generalmente garrote) (bonus fuerza +1)  </p> 

                             

                            <p>Seres antiguos y malvados, creados por Penumbra en los albores de la civilización. De aspecto trasgoide, tienen la habilidad de paralizar a sus víctimas como los necrófagos. Los thouls regeneran 1 punto de golpe por asalto. </p>

                            

                            

                            

                          <h2> Tesoro </h2> 

                           <h3>Tesoro total: 4000 mo</h3>

                           <div style="clear: both; text-align: center;  ">

                        <input class="boton_buscar" type="submit" value="imprimir" style="font-size: 22px;height: 38px;" onclick="window.print();"/>

                    </div>

                       </div>       

                

                  

            </div><!-- fin contenido-articulos -->

        </div><!-- fin contenido -->

        

        <div id="pie">

                <div id="validaciones"> 

                    Aventuras de la Marca del este 2011 - Validación: <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://codexdelamarca.com/css/estilo.css">CSS</a>

                    <br/><br/>



                    <span style="font-size: 10px"> Desarrollo y mantenimiento: Angela

Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica - Diseño: <a href="http://jagvalverde.com/">Jose Valverde</a></span>



                </div><!-- fin validaciones -->

        </div><!-- fin pie -->

    </div><!-- fin contenedor -->



</body>

</html>     
