<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title></title>

        <meta name='title' content=''/>

        <meta name='description' content=''/>

 

        <meta name="author" content=""/>

        <meta name="language" content="spanish"/>

        <meta name="revisit" content="10 day"/>

        <meta name="distribution" content="global"/>



        <meta name="robots" content="All"/>

        <meta http-equiv="pragma" content="no-cache"/>

        <meta http-equiv="expires" content="-1"/>       

        

        <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="/css/estilo.css" type="text/css" media="screen" />

        <link rel="stylesheet" href="/css/impresion.css" type="text/css"  media="print" />

        

            

    </head>



<body> 

<div id="contenedor">

        <div id="cabecera">

            <div id="menu">

                <ul>         

                    <li><a href="index.html">El Codex</a></li>  

                    <li><a href="personaje.html">Personaje</a></li>  

                    <li><a href="bestiario.html" >Bestiario</a></li>    

                    <li><a href="lugar.html">Lugar</a></li>

                    <li><a href="aventura.html">Aventura</a></li>   

                    <li><a href="objeto.html" >Objetos</a></li> 

                    <li><a href="cronica.html" >Crónica</a></li>    

                    <li><a href="enviar-info.html">Enviar info</a></li> 

                    <li><a href="contactar.html">Contacto</a></li>

                </ul>

            </div><!-- fin menu -->

            

            <div id="logo">

                <a href="#"><img src="/ima/codex-logo.jpg" alt="Codex de las aventuras de la Marca del Este." /></a>

            </div><!-- fin logo -->

            

            <div id="slogan">

                La recopilación de todo el conocimiento sobre la Marca del Este.

            </div><!-- fin logo -->

            

            <div id="busqueda-simple">

                <div id="form-busqueda-simple">

                <form action="">

                    <select>                      

                        <option value="todo">Todo</option>

                        <option value="Personaje">Personaje</option>

                        <option value="Bestiario">Bestiario</option>

                        <option value="Lugar">Lugar</option>

                        <option value="Aventura">Aventura</option>

                        <option value="Objetos">Objetos</option>

                        <option value="Crónica">Crónica</option>                       

                    </select>

                    

                    <input class="barra_busqueda" type="text" name="LastName" value="texto de ejemplo" />

                    

                    <input class="boton_buscar" type="submit" value="Buscar" />

                </form>

                </div>

                <div id="ir-busqueda-avanzada"><a href="#">Busqueda<br/>avanzada</a></div>

            </div><!-- fin busqueda-simple -->

        </div><!-- fin cabecera -->


        <div id="contenido" >

            <div id="contenido-listados" >          

            <div id="columna-der-listados">


                <div id="volver"><span><a href="#">Volver a inicio</a>&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</span> <a href="#">Encuentros<!-- nombre de la categoria si es un resultado de listado de categoria O  palabra "Busqueda" e incluir el H1 de Resultado de busqueda de "El termino que busco"--></a></div> 

                <div id="central">
                <form action="/encounter/test">   

                        <div id="generador-encuentros">
                            <p>Te presentamos el generador de encuentros de Aventuras en La Marca del Este. En su versión preliminar, permite introducir la suma de niveles de los AJs, un nivel de dificultad, el criterio de canon y el alineamiento aceptado para las criaturas del encuentro. Se trata de una herramienta perfecta para los Dungeon Masters que quieran introducir cierta sorpresa en las aventuras de sus jugadores. En breve, incorporaremos un selector de terrenos o zonas (cueva, desierto, bosque, camino, asentamiento, etc) y tendremos en cuenta las relaciones de liderazgo entre criaturas (Orco y Jefe Orco, por ejemplo). A medio plazo, está previsto también un generador de tesoros.</p>

                            <div style="clear: both">&nbsp;</div>

                                        <h2 class="titulo-formulario-avanzado" >            
                                            Suma nivel AJs: 
                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">
                                        <input style="padding: 5px 5px; font-size:16px;width:110px;" value= 10 type="text" name="players_level" />
                                        </div>


                                        <h2 class="titulo-formulario-avanzado">         
                                        Dificultad:                     
                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">
                                            <select  name="chosen_difficulty">
                                              <option value="0">Fácil</option>
                                              <option value="1">Normal</option>
                                              <option value="2">Difícil</option>
                                              <option value="3">Épico</option>
                                             </select> 
                                        </div>

                                        <div style="clear: both">&nbsp;</div>             

                                        <h2 class="titulo-formulario-avanzado">         
                                        Evaluación:                     
                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">
                                            <select  name="canon">
                                              <option value="ALL">Todas</option>
                                              <option value="C">Cánon</option>
                                              <option value="AP">Apócrifo</option>
                                              <option value="APC">Nuevo</option>
                                             </select> 
                                        </div>

                                        <h2 class="titulo-formulario-avanzado">         
                                        Alineamiento:                       
                                        </h2>

                                        <div class="formulario-avanzado-2-columnas">
                                            <select name="align">
                                              <option value="ALL">Todos</option>
                                              <option value="L">Legal</option>
                                              <option value="N">Neutral</option>
                                              <option value="C">Caótico</option>
                                             </select> 
                                        </div>



                                     <div style="clear: both">&nbsp;</div>
                    </div>  

                    <div style="clear: both; text-align: center; width:820px; ">
                        <input class="boton_buscar" type="submit" value="Generar encuentro" style="font-size: 22px;height: 38px;"/>
                    </div>                   

                    </form>                    


                    <div style="clear: both"><br/>&nbsp;</div>
                    </div><!-- fin central -->
                    </div><!-- fin columna-der-listados -->   

                    <div id="resultado-generador">

                       <div class="para-impresion">
                           <h1>Codex de la marca del Este<h1>
                          <a href="http://codexdelamarca.com">URL:</a>
                        </div>

                            <h2>Encuentro generado </h2>
                            
                            {% if numcreatures %}
                            <h3>{{ encounter.name }}  [<a href="/creature/{{encounter.slug}}"">+ info</a>] </h3>
                            <p><b>Número</b>: {{numcreatures}} </p>
                            <p><b>DG</b>: {{encounter.hitdice|default:"--"}} - <b>CA</b>: {{encounter.AC|default:"--"}} - <b>TS</b>: {{encounter.get_saveroll_display|default_if_none:"--"}} - <b>Mov</b>: {{encounter.move|default:"--"}} - <b>Moral</b>: {{encounter.get_moral_display|default_if_none:"--"}} - <b>Alineamiento</b>: {{encounter.get_alignment_display|default_if_none:"--"}} - <b>Px</b>: {{encounter.XPvalue|default_if_none:"--"}}  </p>  

                            {% if encounter.attacks %}             
                            <p><b>Ataque</b>: {{encounter.attacks|safe}}  </p> 
                            {% endif %}
                            <p>
                            {{encounter.description|safe}}
                            </p>
                            {% else %}
                            <p>No hay encuentro, los aventureros pueden vivir unas horas más.</p>
                            <p>...o revisa tus criterios de selección.</p>
                            {% endif %}
                            
<!--  Pendiente-->
<!--                          <h2> Tesoro </h2> 

                           <h3>Tesoro total: 4000 mo</h3>-->

                           <div style="clear: both; text-align: center;  ">

                        <input class="boton_buscar" type="submit" value="imprimir" style="font-size: 22px;height: 38px;" onclick="window.print();"/>

                    </div>

                       </div>       

                

                  

            </div><!-- fin contenido-articulos -->

        </div><!-- fin contenido -->

        

        <div id="pie">

                <div id="validaciones"> 

                    Aventuras de la Marca del este 2011 - Validación: <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/validator?uri=http://codexdelamarca.com/css/estilo.css">CSS</a>

                    <br/><br/>



                    <span style="font-size: 10px"> Desarrollo y mantenimiento: Angela

Rivera Campos @ghilbrae y Pablo Ruiz Múzquiz @diacritica - Diseño: <a href="http://jagvalverde.com/">Jose Valverde</a></span>



                </div><!-- fin validaciones -->

        </div><!-- fin pie -->

    </div><!-- fin contenedor -->



</body>

</html>     
